# Initial I2P router.config
#
# save memory
# I've done some testing, and the amount 'saved' is not all that much.
# I will, however, leave this alone, for now.
#
prng.buffers=2
prng.bufferSize=32768
router.decayingBloomFilterM=20
stat.full=false
#
# Don't run NTP client for phones as they should have a valid time.
# Machines that may not have a valid time (Tablets?) should turn this on.
# Phones may not have accurate time too (yes, really) causing the router too much skew.
# Tablets with NTP on have also be shown to lose or gain time.
time.disabled=false
#
# no external I2CP (7654)
#
i2cp.disableInterface=true
#
# hosts.txt should be more crash-proof than blockfile
# Todo: implement a NamingService using the android native SQLite
#
i2p.naming.impl=net.i2p.client.naming.HostsTxtNamingService
i2p.hostsfilelist=privatehosts.txt,hosts.txt
#
##### Tunnels
#
router.inboundPool.backupQuantity=0
router.inboundPool.length=2
router.inboundPool.lengthVariance=0
router.inboundPool.quantity=2
router.outboundPool.backupQuantity=0
router.outboundPool.length=2
router.outboundPool.lengthVariance=0
router.outboundPool.quantity=2
router.maxParticipatingTunnels=20
router.sharePercentage=50
#
##### Transport
#
i2np.bandwidth.inboundKBytesPerSecond=100
i2np.bandwidth.outboundKBytesPerSecond=50
#
# NTCP
#
i2np.ntcp.enable=true
i2np.ntcp.maxConnections=32
#
# UDP
#
i2np.udp.enable=true
i2np.udp.maxConnections=32
#
#
# not on android
routerconsole.geoip.enable=true
#
# false is default but was true in 0.9.1-0_b1 release so have to set it back
router.reseedSSLDisable=false
#
# Tablets are not phones. It does not hurt to have this on by default.
#
i2np.upnp.enable=true

#
# Hidden by default, this turns off sharing, etc.
# bad idea, reduces user experience. Paranoids should set this only.
router.hiddenMode=false

#
# Bad idea, disable it!
#
router.floodfillParticipant=false