## Configuration for Using an External Tor Process

## This configuration follows the torrc format but only supports the options listed below.
## Ensure the torrc file of the external Tor process is configured accordingly.

## If UseExternalTor is set to '1' Bisq use the external Tor process.
#UseExternalTor 1

## CookieAuthentication must be enabled to allow cookie-based authentication.
CookieAuthentication 0

## Specify the path to the control_auth_cookie file for authentication.
## Example: /opt/homebrew/etc/tor/control_auth_cookie
CookieAuthFile /path/to/control_auth_cookie

## ControlPort specifies the address for the Tor control port.
## This must match the configuration in the external Tor process's torrc file.
## By default, this is:
ControlPort 127.0.0.1:9051

## SocksPort specifies the address and port for the SOCKS proxy provided by Tor.
## This option is not required in this configuration file, as the SOCKS port will
## be dynamically requested from the Tor control server.
## By default, this is:
## SocksPort 127.0.0.1:9050
