/*******************************************************************************
 * Splash                                                              *
 ******************************************************************************/

.splash-application-state {
    -fx-font-size: 1.4em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -fx-light-text-color;
}

.splash-bootstrap-state {
    -fx-font-size: 1em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -fx-light-text-color;
}

.splash-bootstrap-details {
    -fx-font-size: 1em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -bisq-medium-grey-mid;
}

.splash-bootstrap-progress {
    -fx-font-size: 1em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -bisq2-green;
}


/*******************************************************************************
 * TAC                                                              *
 ******************************************************************************/

.tac-headline {
    -fx-fill: -fx-light-text-color !important;
    -fx-text-fill: -fx-light-text-color !important;
    -fx-font-size: 1.8em !important;
    -fx-font-family: "IBM Plex Sans Light" !important;
}

.tac-text {
    -fx-fill: -fx-light-text-color !important;
    -fx-text-fill: -fx-light-text-color !important;
    -fx-font-size: 1.1em !important;
    -fx-font-family: "IBM Plex Sans Light" !important;
}

/*******************************************************************************
 * Bisq 2 welcome                                                              *
 ******************************************************************************/

.bisq2-welcome-headline {
    -fx-font-size: 3.2em;
    -fx-font-family: "IBM Plex Sans Thin";
    -fx-text-fill: -fx-light-text-color;
}

.bisq2-welcome-sub-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.7em;
}

.bisq2-welcome-content {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1.15em;
    -fx-font-family: "IBM Plex Sans Light";
}


/*******************************************************************************
 * Updater                                                              *
 ******************************************************************************/

.updater-headline {
    -fx-fill: -fx-light-text-color !important;
    -fx-text-fill: -fx-light-text-color !important;
    -fx-font-size: 2em !important;
    -fx-font-family: "IBM Plex Sans Light" !important;
}

.updater-sub-headline {
    -fx-fill: -fx-light-text-color !important;
    -fx-text-fill: -fx-light-text-color !important;
    -fx-font-size: 1.5em !important;
    -fx-font-family: "IBM Plex Sans Light" !important;
}

.updater-release-notes {
    -fx-fill: -fx-light-text-color !important;
    -fx-text-fill: -fx-light-text-color !important;
    -fx-font-size: 1.1em !important;
    -fx-font-family: "IBM Plex Sans Light" !important;
}

.updater-release-notes .content {
    -fx-padding: 1.0em;
    -fx-background-color: -bisq-dark-grey-dim;
}

.updater-release-notes:focused .content {
    -fx-padding: 1.0em;
    -fx-background-color: -bisq-dark-grey-dim;
}

.updater-text {
    -fx-fill: -fx-light-text-color !important;
    -fx-text-fill: -fx-light-text-color !important;
    -fx-font-size: 1.1em !important;
    -fx-font-family: "IBM Plex Sans Light" !important;
}

.updater-table-view {
    -fx-background-color: -bisq-dark-grey-dim;
}


/*******************************************************************************
 * NotificationPane                                                              *
 ******************************************************************************/

.notification-pane {
    -fx-background-color: -bisq-dark-grey-mid;
}

.notification-pane-dark {
    -fx-background-color: -bisq-dark-grey-dim;
}

.notification-box {
    -fx-background-color: -bisq-yellow;
    -fx-background-radius: 8;
    -fx-border-color: transparent;
}

.notification-headline {
    -fx-fill: -bisq-dark-grey-lit;
    -fx-text-fill: -bisq-dark-grey-lit;
    -fx-font-size: 1.15em;
    -fx-font-family: "IBM Plex Sans";
}

.notification-hyperlink,
.notification-hyperlink:visited {
    -fx-text-fill: -bisq-black-mid;
    -fx-font-size: 1.15em;
    -fx-font-family: "IBM Plex Sans";
}

.notification-hyperlink:hover,
.notification-hyperlink:visited:hover {
    -fx-text-fill: -bisq-white-mid;
}
.notification-hyperlink:visited,
.notification-hyperlink:armed:visited,
.notification-hyperlink:hover:armed {
    -fx-text-fill: -bisq-dark-grey-lit;
}

/*******************************************************************************
 * Settings                                                              *
 ******************************************************************************/

.settings-sub-headline {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.4em;
}


/*******************************************************************************
 * Components                                                              *
 ******************************************************************************/

.user-profile-display {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.1em;
    -fx-font-family: "IBM Plex Sans Light";
}


/*******************************************************************************
 * Video                                                           *
 ******************************************************************************/

.video-bg {
    -fx-background-color: -bisq-black-10;
}

.video-control-bg {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 0 0 8 8;
}

.video-progress-bar > .track {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-pref-height: 2.5px;
}

.video-progress-bar > .bar,
.video-progress-bar:indeterminate > .bar {
    -fx-background-color: -you-tube-red;
}

.video-position-slider .track {
    -fx-background-color: transparent;
    -fx-pref-height: 2.5px;
    -fx-border-width: 0;
    -fx-background-radius: 0;
}

.video-position-slider .thumb {
    -fx-background-color: -you-tube-red;
    -fx-border-width: 0;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
    -fx-cursor: hand;
}

.video-volume-slider .track {
    -fx-background-color: white;
    -fx-pref-height: 2.5px;
    -fx-border-width: 0;
    -fx-background-radius: 0;
}

.video-volume-slider .thumb {
    -fx-background-color: white;
    -fx-border-width: 0;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
}

.video-time-info {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1em;
    -fx-font-family: "IBM Plex Sans";
}
