/*******************************************************************************
 * Splash                                                                      *
 ******************************************************************************/

.splash-application-state {
    -fx-font-size: 1.4em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -fx-light-text-color;
}

.splash-application-duration {
    -fx-font-size: 1.4em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -bisq2-green;
}


.splash-initializing-info {
    -fx-font-size: 1em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -fx-light-text-color;
}

.splash-initializing-duration {
    -fx-font-size: 1em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -bisq2-green;
}


.splash-initialized-info {
    -fx-font-size: 1em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -bisq-mid-grey-20;
}

.splash-initialized-duration {
    -fx-font-size: 1em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -bisq-mid-grey-20;
}


/*******************************************************************************
 * TAC                                                                         *
 ******************************************************************************/

.tac-headline {
    -fx-fill: -fx-light-text-color !important;
    -fx-text-fill: -fx-light-text-color !important;
    -fx-font-size: 1.8em !important;
    -fx-font-family: "IBM Plex Sans Light" !important;
}

.tac-text {
    -fx-fill: -fx-light-text-color !important;
    -fx-text-fill: -fx-light-text-color !important;
    -fx-font-size: 1.1em !important;
    -fx-font-family: "IBM Plex Sans Light" !important;
}

/*******************************************************************************
 * Bisq 2 welcome                                                              *
 ******************************************************************************/

.bisq2-welcome-headline {
    -fx-font-size: 3.2em;
    -fx-font-family: "IBM Plex Sans Thin";
    -fx-text-fill: -fx-light-text-color;
}

.bisq2-welcome-sub-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.7em;
}

.bisq2-welcome-content {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1.15em;
    -fx-font-family: "IBM Plex Sans Light";
}


/*******************************************************************************
 * Updater                                                                     *
 ******************************************************************************/

.updater-headline {
    -fx-fill: -fx-light-text-color !important;
    -fx-text-fill: -fx-light-text-color !important;
    -fx-font-size: 2em !important;
    -fx-font-family: "IBM Plex Sans Light" !important;
}

.updater-sub-headline {
    -fx-fill: -fx-light-text-color !important;
    -fx-text-fill: -fx-light-text-color !important;
    -fx-font-size: 1.5em !important;
    -fx-font-family: "IBM Plex Sans Light" !important;
}

.updater-release-notes {
    -fx-fill: -fx-light-text-color !important;
    -fx-text-fill: -fx-light-text-color !important;
    -fx-font-size: 1.1em !important;
    -fx-font-family: "IBM Plex Sans Light" !important;
}

.updater-release-notes .content {
    -fx-padding: 1.0em;
    -fx-background-color: -bisq-dark-grey-20;
}

.updater-release-notes:focused .content {
    -fx-padding: 1.0em;
    -fx-background-color: -bisq-dark-grey-20;
}

.updater-text {
    -fx-fill: -fx-light-text-color !important;
    -fx-text-fill: -fx-light-text-color !important;
    -fx-font-size: 1.1em !important;
    -fx-font-family: "IBM Plex Sans Light" !important;
}

.updater-table-view {
    -fx-background-color: -bisq-dark-grey-20;
}


/*******************************************************************************
 * Restore from Backup                                                         *
 ******************************************************************************/

.restore-from-backup-headline {
    -fx-fill: -fx-light-text-color !important;
    -fx-text-fill: -fx-light-text-color !important;
    -fx-font-size: 1.8em !important;
    -fx-font-family: "IBM Plex Sans Light" !important;
}

.restore-from-backup-content {
    -fx-fill: -fx-light-text-color !important;
    -fx-text-fill: -fx-light-text-color !important;
    -fx-font-size: 1.1em !important;
    -fx-font-family: "IBM Plex Sans Light" !important;
}

.restore-from-backup-table-view {
    -fx-background-color: -bisq-dark-grey-20;
}


/*******************************************************************************
 * AlertBanner                                                                 *
 ******************************************************************************/

.alert-banner-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 2em;
    -fx-font-family: "IBM Plex Sans Medium";
}

.alert-banner-message {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.15em;
    -fx-font-family: "IBM Plex Sans";
}

.info-banner,
.warn-banner,
.emergency-banner {
    -fx-background-radius: 8;
    -fx-border-color: transparent;
}

.info-banner {
    -fx-background-color: -bisq-mid-grey-10;
}

.warn-banner {
    -fx-background-color: -bisq2-yellow-dim-20;
}

.emergency-banner {
    -fx-background-color: -bisq2-red-dim-50;
}


/*******************************************************************************
 * NotificationPane                                                            *
 ******************************************************************************/

.notification-pane {
    -fx-background-color: -bisq-dark-grey-40;
}

.notification-pane-dark {
    -fx-background-color: -bisq-dark-grey-20;
}

.notification-box {
    -fx-background-color: -bisq2-yellow;
    -fx-background-radius: 8;
    -fx-border-color: transparent;
}

.notification-headline {
    -fx-fill: -bisq-dark-grey-50;
    -fx-text-fill: -bisq-dark-grey-50;
    -fx-font-size: 1.15em;
    -fx-font-family: "IBM Plex Sans";
}

.notification-hyperlink,
.notification-hyperlink:visited {
    -fx-text-fill: -bisq-black-lit;
    -fx-font-size: 1.15em;
    -fx-font-family: "IBM Plex Sans";
}

.notification-hyperlink:hover,
.notification-hyperlink:visited:hover {
    -fx-text-fill: -bisq-white-dim;
}

.notification-hyperlink:visited,
.notification-hyperlink:armed:visited,
.notification-hyperlink:hover:armed {
    -fx-text-fill: -bisq-dark-grey-50;
}


/*******************************************************************************
 * BannerNotification                                                          *
 ******************************************************************************/

.banner-notification .inventory-requests-completed {
    -fx-background-color: -bisq2-green;
}

.banner-notification .requesting-inventory {
    -fx-background-color: -bisq2-yellow;
}

.banner-notification .inventory-requests-label {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Medium";
    -fx-font-size: 1.02em;
}


/*******************************************************************************
 * Settings                                                                    *
 ******************************************************************************/

.settings-sub-headline {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.4em;
}


/*******************************************************************************
 * Components                                                                  *
 ******************************************************************************/

.user-profile-display-name {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.1em;
    -fx-font-family: "IBM Plex Sans Light";
}


/*******************************************************************************
 * Video                                                                       *
 ******************************************************************************/

.video-bg {
    -fx-background-color: -bisq-black;
}

.video-control-bg {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 0 0 8 8;
}

.video-progress-bar > .track {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-pref-height: 2.5px;
}

.video-progress-bar > .bar,
.video-progress-bar:indeterminate > .bar {
    -fx-background-color: -you-tube-red;
}

.video-position-slider .track {
    -fx-background-color: transparent;
    -fx-pref-height: 2.5px;
    -fx-border-width: 0;
    -fx-background-radius: 0;
}

.video-position-slider .thumb {
    -fx-background-color: -you-tube-red;
    -fx-border-width: 0;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
    -fx-cursor: hand;
}

.video-volume-slider .track {
    -fx-background-color: white;
    -fx-pref-height: 2.5px;
    -fx-border-width: 0;
    -fx-background-radius: 0;
}

.video-volume-slider .thumb {
    -fx-background-color: white;
    -fx-border-width: 0;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
}

.video-time-info {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1em;
    -fx-font-family: "IBM Plex Sans";
}


/*******************************************************************************
 * Error popup                                                                 *
 ******************************************************************************/

.error-log {
    -fx-background-color: -bisq-dark-grey-30;
}

.error-log .content {
    -fx-background-color: -bisq-dark-grey-30;
}

.error-log:focused .content {
    -fx-background-color: -bisq-dark-grey-30;
}


/*******************************************************************************
 * OverlappedIconsPane                                                         *
 ******************************************************************************/

.overlapped-icons {
    -fx-fill: -bisq-dark-grey-20;
}


/*******************************************************************************
 * QR code                                                                     *
 ******************************************************************************/

.qr-code-display-bg {
    -fx-background-color: white;
}

.qr-code-display-text {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1.1em;
}

.qr-code-window {
    -fx-background-color: -bisq-popup-bg-grey;
}

.qr-code-window-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.7em;
    -fx-font-family: "IBM Plex Sans Light";
}

.qr-code-window-data {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.1em;
}

.qr-code-webcam {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1.3em;
    -fx-font-family: "IBM Plex Sans Light";
}


/*******************************************************************************
 * Reputation                                                                  *
 ******************************************************************************/

.reputation .user-profile-selection {
    -fx-padding: 0 5 0 20;
}

.reputation .label {
    -fx-font-size: 1.15em;
    -fx-line-spacing: 5px;
    -fx-wrap-text: true;
    -fx-fill: -fx-mid-text-color !important;
    -fx-text-fill: -fx-mid-text-color !important;
}

.reputation .reputation-card-small .card-title,
.reputation .reputation-card-large .card-title {
    -fx-font-size: 1.7em;
}

.reputation .reputation-card-large {
    -fx-max-width: 1000;
    -fx-min-width: 800;
}

.reputation .reputation-card-small {
    -fx-max-width: 490;
    -fx-pref-width: 490;
    -fx-min-width: 490;
}

.reputation .reputation-headline {
    -fx-font-size: 2.5em;
}

.reputation .reputation-title {
    -fx-font-size: 1.9em;
}

.reputation .reputation-headline,
.reputation .reputation-title,
.reputation .card-title {
    -fx-fill: -fx-light-text-color !important;
    -fx-text-fill: -fx-light-text-color !important;
    -fx-font-family: "IBM Plex Sans Light";
}

.reputation .reputation-learn-more {
    -fx-font-size: 1.15em;
    -fx-font-family: "IBM Plex Sans Light";
}

.reputation .reputation-learn-more-link {
    -fx-font-size: 1.15em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-underline: true;
}

.reputation .reputation-learn-more-link:hover {
    -fx-fill: -bisq2-green !important;
    -fx-text-fill: -bisq2-green !important;
}

.reputation .max-trade-amount-formula {
    -fx-max-width: 1000;
    -fx-min-width: 1000;
    -fx-background-color: -bisq-dark-grey-40;
    -fx-padding: 20 0 20 0;
    -fx-background-radius: 8 8 8 8;
    -fx-background-insets: 0 250 0 250;
}

.reputation .max-trade-amount-formula .label {
    -fx-fill: -fx-light-text-color !important;
    -fx-text-fill: -fx-light-text-color !important;
}

.reputation .max-trade-amount-formula-footnote {
    -fx-font-size: 1.02em;
}

.popup-bg .bisq-common-bg {
    -fx-padding: 10 30 30 30 !important;
}

.network-details-view {
    -fx-background-color: -bisq-dark-grey-20;
    -fx-border-color: transparent;
}


/*******************************************************************************
 * Wallet                                                                      *
 ******************************************************************************/

.vertical-card-step {
    -fx-font-size: 2.7em;
    -fx-font-family: "IBM Plex Sans Thin";
    -fx-text-fill: -fx-light-text-color;
}

.wallet-dashboard .dashboard-bg {
    -fx-background-color: -bisq-dark-grey-20;
    -fx-background-radius: 8 8 8 8;
}

.wallet-dashboard .dashboard-headline {
    -fx-font-size: 2.5em;
    -fx-font-family: "IBM Plex Sans Light";
}

.wallet-dashboard .btc-balance-value {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Thin";
    -fx-font-size: 4.2em;
}

.wallet-dashboard .summary-title,
.wallet-dashboard .summary-code,
.wallet-dashboard .currency-converter-balance-code {
    -fx-font-size: 1.3em;
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
}

.wallet-dashboard .summary-value {
    -fx-font-size: 1.7em;
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Thin";
}

.wallet-dashboard .currency-converter-balance-value {
    -fx-font-size: 1.7em;
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans";
}

.wallet-dashboard .latest-txs-table.table-view .column-header {
    -fx-background-color: -bisq-dark-grey-40;
}

.wallet-dashboard .dropdown-menu {
    -fx-padding: 5 15 5 15;
}


/*******************************************************************************
 * Support                                                                  *
 ******************************************************************************/

.support-sub-headline {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.4em;
}

.support-normal-text {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.1em;
}
