/*******************************************************************************
 * Container boxes                                                             *
 ******************************************************************************/

.bisq-easy-container {
    -fx-background-color: -bisq-dark-grey-20;
    -fx-background-radius: 8 8 0 0;
}

.bisq-easy-container-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.8em;
}

.bisq-easy-trade-interrupted-headline {
    -fx-fill: -bisq2-yellow;
    -fx-text-fill: -bisq2-yellow;
    -fx-font-size: 1.15em;
    -fx-font-family: "IBM Plex Sans";
}

.bisq-easy-trade-failed-headline {
    -fx-fill: -bisq-error;
    -fx-text-fill: -bisq-error;
    -fx-font-size: 1.15em;
    -fx-font-family: "IBM Plex Sans";
}

.bisq-easy-trade-isInMediation-headline {
    -fx-fill: -bisq-dark-grey-50;
    -fx-text-fill: -bisq-dark-grey-50;
    -fx-font-size: 1.15em;
    -fx-font-family: "IBM Plex Sans";
}

.bisq-easy-trade-isInMediation-bg {
    -fx-background-color: -bisq2-yellow;
    -fx-background-radius: 8;
    -fx-border-color: transparent;
}


/*******************************************************************************
 * Trade guide                                                                 *
 ******************************************************************************/

.bisq-easy-trade-guide-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.8em;
}

.bisq-easy-trade-guide-content {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.1em;
}


/*******************************************************************************
 * Onboarding                                                                  *
 ******************************************************************************/

.bisq-easy-onboarding-big-box {
    -fx-background-color: -bisq-dark-grey-20;
    -fx-background-radius: 8;
}

.bisq-easy-onboarding-big-box-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 3.1em;
}

.bisq-easy-onboarding-big-box-bullet-point {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.15em;
    -fx-font-family: "IBM Plex Sans Light";
}

.bisq-easy-onboarding-small-box {
    -fx-background-color: -bisq-dark-grey;
    -fx-background-radius: 8;
}

.bisq-easy-onboarding-small-box-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.7em;
}

.bisq-easy-onboarding-small-box-text {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1.15em;
    -fx-font-family: "IBM Plex Sans Light";
}


/*******************************************************************************
 * Offerbook                                                                   *
 ******************************************************************************/

.offerbook-channel-title {
    -fx-font-size: 1.2em;
    -fx-padding: 3 0 0 0;
}

.offerbook-channel-market-code {
    -fx-font-family: "IBM Plex Sans Medium";
    -fx-padding: -3 0 0 0;
}

.offerbook-channel-market-price {
    -fx-padding: -3 0 0 0;
}

.market-selection {
    -fx-text-fill: -fx-light-text-color !important;
}

.market-selector-icon {
    -fx-text-fill: -bisq2-green;
}

.market-selection-subheader,
.offerbook-subheader,
.offer-list-subheader {
    -fx-background-color: -bisq-dark-grey-30;
    -fx-background-radius: 0;
    -fx-max-height: 30;
    -fx-min-height: 30;
    -fx-pref-height: 30;
}

.market-selection-subheader,
.offer-list-subheader {
    -fx-padding: 0 12 0 7;
}

.market-badge.bisq-badge .badge-pane {
    -fx-background-color: -bisq-mid-grey-30;
}

.offerbook-search-box {
    -fx-background-radius: 0;
    -fx-background-color: -bisq-dark-grey-30;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-padding: 0;
    -fx-max-width: 160;
}

.offerbook-search-box .search-text-field {
    -fx-padding: 0 5 0 8;
}

.market-selection-dropdown-menu {
    -fx-padding: 0 10 0 10;
    -fx-max-height: 24;
    -fx-min-height: 24;
    -fx-pref-height: 24;
    -fx-max-width: 24;
    -fx-min-width: 24;
    -fx-pref-width: 24;
}

.offerbook-subheader {
    -fx-padding: 0;
}

.offerbook-subheader-content {
    -fx-max-width: 1200;
    -fx-alignment: center-right;
    -fx-padding: 0 25 0 25;
}

.offerbook-subheader-checkbox .check-box {
    -fx-scale-x: 0.6;
    -fx-scale-y: 0.6;
    -fx-cursor: hand;
}

.offerbook-subheader-checkbox .label {
    -fx-text-fill: -fx-mid-text-color;
}

.offerbook-subheader-checkbox .check-box > .box {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-color: -bisq-mid-grey-20;
    -fx-border-width: 1;
}

.offerbook-subheader .dropdown-offers-filter-menu {
    -fx-padding: 0 10 0 10;
}

.offerbook-peer-name {
    -fx-background-color: -bisq-dark-grey-30;
    -fx-padding: 1 7;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-width: 1px;
    -fx-border-color: -bisq-dark-grey-50;
}

/* Drop down sort & filter menu */
.dropdown-menu-popup .dropdown-menu-item .dropdown-menu-item-content .menu-item-icon,
.dropdown-menu-popup .dropdown-menu-item:hover .dropdown-menu-item-content .menu-item-icon {
    -fx-opacity: 0;
}

.dropdown-menu-popup .dropdown-menu-item .dropdown-menu-item-content:selected .menu-item-icon,
.dropdown-menu-popup .dropdown-menu-item:hover .dropdown-menu-item-content:selected .menu-item-icon {
    -fx-opacity: 1;
}

.dropdown-menu-popup .dropdown-menu-item .dropdown-menu-item-content:selected {
    -fx-text-fill: -fx-light-text-color;
}

.market-selection-no-filters {
    -fx-padding: 10 0 0 0;
}

.market-selection-show-applied-filters {
    -fx-min-height: 35;
    -fx-pref-height: 35;
    -fx-max-height: 35;
    -fx-padding: 5;
}

.market-selection-show-applied-filters .filter-display-hint {
    -fx-background-color: transparent;
    -fx-border-color: -bisq-mid-grey-20;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-min-height: 20;
    -fx-pref-height: 20;
    -fx-max-height: 20;
    -fx-padding: 0 5 0 5;
}

.market-selection-show-applied-filters .filter-display-hint:hover {
    -fx-border-color: -bisq-white;
}

.market-selection-show-applied-filters .filter-display-hint:hover .label {
    -fx-text-fill: -bisq-white;
}

.market-selection-show-applied-filters .filter-display-hint .label {
    -fx-text-fill: -fx-mid-text-color;
}

.market-selection-list .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.market-selection-list {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.market-selection-list .table-row-cell {
    -fx-border-width: 0;
}

.market-selection-list .table-cell {
    -fx-padding: 0;
}

.market-selection-list .table-cell .text {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
}

.market-selection-list .market-name .text {
    -fx-fill: -fx-light-text-color !important;
    -fx-text-fill: -fx-light-text-color !important;
}

.market-selection-list .favourite-label {
    /*-fx-background-color: blue;*/
    -fx-alignment: center;
    -fx-min-width: 30;
    /*-fx-min-height: 50;*/
    /*-fx-padding: 0 3 0 0;*/
}

.favourites-list {
    -fx-padding: 0 0 10 0;
    -fx-border-width: 0 0 1 0;
    -fx-border-insets: 0 0 10 0;
    -fx-border-color: -bisq-dark-grey-50;
}

.markets-list .favourite-label {
    -fx-opacity: 0;
}

.markets-list .table-row-cell:hover .favourite-label {
    -fx-opacity: 1;
}

.offers-list.table-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.offers-list.table-view .column-header .label {
    -fx-alignment: center-left;
    -fx-label-padding: 0 7;
}

/* OFFER LIST FILTERS */
.dropdown-offer-list-direction-filter-menu,
.dropdown-offer-list-payment-filter-menu {
    -fx-max-height: 20;
}

/* BUY FROM */
.dropdown-offer-list-direction-filter-menu .buy-from-offers {
    -fx-text-fill: -bisq2-green;
}

.dropdown-offer-list-direction-filter-menu:hover .buy-from-offers {
    -fx-text-fill: -bisq2-green-lit-20;
}

/* SELL TO */
.dropdown-offer-list-direction-filter-menu .sell-to-offers {
    -fx-text-fill: -bisq2-red-lit-20;
}

.dropdown-offer-list-direction-filter-menu:hover .sell-to-offers {
    -fx-text-fill: -bisq2-red-lit-40;
}

/* PAYMENT METHODS FILTER */
.active-filter {
    -fx-text-fill: -fx-light-text-color !important;
}

/* COLLAPSE AND EXPAND COLUMNS */
.collapsed-offer-list-container {
    -fx-background-color: -bisq-dark-grey-20;
    -fx-background-radius: 0 8 0 0;
}

.collapsed-market-selection-list-container {
    -fx-background-color: -bisq-dark-grey-20;
    -fx-background-radius: 8 0 0 0;
}

.chat-container-with-offer-list-collapsed {
    -fx-background-radius: 8 0 0 0;
}

.chat-container-with-market-selection-list-collapsed {
    -fx-background-radius: 0 8 0 0;
}

.chat-container-with-both-lists-collapsed {
    -fx-background-radius: 0;
}

.chat-container-with-offer-list-collapsed,
.chat-container-with-market-selection-list-collapsed,
.chat-container-with-both-lists-collapsed {
    -fx-background-color: -bisq-dark-grey-20;
}

.create-offer-button {
    -fx-background-color: -fx-default-button;
    -fx-text-fill: -fx-light-text-color;
    -fx-background-radius: 8;
    -fx-border-color: transparent;
    -fx-border-radius: 8;
    -fx-padding: 4 50 4 50;
    -fx-cursor: hand;
}

.create-offer-button:hover {
    -fx-background-color: -bisq-green-hover;
}

.create-offer-button:pressed {
    -fx-background-color: -bisq-green-pressed;
}

/*******************************************************************************
 *                                                                             *
 * Open trades                                                                 *
 *                                                                             *
 ******************************************************************************/

.open-trades-badge.bisq-badge .badge-pane {
    -fx-background-color: -bisq2-yellow;
}

/* label style is not getting applied. We use a method in Badge for setting the color. Default is white */
.open-trades-badge.bisq-badge .badge-pane .label {
    -fx-font-size: 0.85em !important;
    -fx-text-fill: black !important;
    -fx-font-family: "IBM Plex Sans SemiBold" !important;
}

.tx-lookup-in-mempool {
    -fx-text-fill: -bisq2-yellow;
}

.tx-lookup-confirmed {
    -fx-text-fill: -bisq2-green;
}

.tx-lookup-failed {
    -fx-text-fill: -bisq2-red;
}


/*******************************************************************************
 * OpenTradesWelcome                                                            *
 ******************************************************************************/

.bisq-easy-open-trades-welcome-bg {
    -fx-background-color: -bisq-dark-grey-20;
    -fx-background-radius: 8;
}

.bisq-easy-open-trades-welcome-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 2.3em;
}

.bisq-easy-open-trades-welcome-info {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1.2em;
    -fx-font-family: "IBM Plex Sans Light";
}

.bisq-easy-open-trades-welcome-lines {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.2em;
    -fx-font-family: "IBM Plex Sans";
}


/*******************************************************************************
 * BisqEasyOpenTradesView.tableView                                            *
 ******************************************************************************/

.bisq-easy-open-trades.table-view .table-row-cell:filled:hover .table-cell {
    -fx-background-color: rgba(255, 255, 255, 0.05);
}

.bisq-easy-open-trades.table-view .table-row-cell:filled:selected .table-cell {
    -fx-background-color: -bisq-dark-grey-10;
}


/*******************************************************************************
 * Header                                                                      *
 ******************************************************************************/

.bisq-easy-open-trades-header-description {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 0.9em;
}

.bisq-easy-open-trades-header-value {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.4em;
}

.bisq-easy-open-trades-header-code {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.15em;
}


/*******************************************************************************
 * Trade state                                                                 *
 ******************************************************************************/

.trade-state-headline {
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 20px;
    -fx-padding: 3 0 0;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-state-headline-accent {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 23px;
    -fx-padding: 0;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-state-headline-amount {
    -fx-background-color: rgba(0, 0, 0, 0.42);
    -fx-background-radius: 6;
    -fx-background-insets: 0 1 0 1;
    -fx-text-fill: derive(-fx-light-text-color, 0%);
    -fx-font-size: 23px;
    -fx-padding: 0 8 0 8;
    -fx-font-family: "IBM Plex Sans Light";
}

/* Temporary overlay */
.seller-price-approval-popup {
    -fx-min-height: 300;
    -fx-pref-height: 300;
    -fx-max-height: 300;
    -fx-min-width: 800;
    -fx-pref-width: 800;
    -fx-max-width: 800;
    -fx-padding: 30 60 30 60;
}

.seller-price-approval-popup .seller-price-approval-title {
    -fx-fill: -bisq2-green;
    -fx-text-fill: -bisq2-green;
}

.seller-price-approval-popup .seller-price-approval-content {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-padding: 15 0 0 0;
    -fx-spacing: 10;
}

.seller-price-approval-popup .seller-price-approval-description .label {
    -fx-wrap-text: true;
}

.seller-price-approval-popup .seller-price-approval-question {
    -fx-line-spacing: 10;
}

.seller-price-approval-popup .seller-price-approval-disclaimer {
    -fx-padding: 10 0 0 0;
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-line-spacing: 10;
}


/*******************************************************************************
 * Trade state phase (left side box)                                           *
 ******************************************************************************/

.outlined-button.request-mediation-button {
    -fx-padding: 5 24 5 24 !important;
    -fx-border-color: -bisq-mid-grey-20 !important;
    -fx-text-fill: -bisq-mid-grey-20 !important;
}

.outlined-button.request-mediation-button:hover {
    -fx-border-color: -bisq2-yellow !important;
    -fx-text-fill: -bisq2-yellow !important;
}

.bisq-easy-trade-state-phase {
    -fx-font-size: 0.93em;
}

.bisq-easy-trade-state-phase-completed {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans";
}

.bisq-easy-trade-state-phase-current {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans";
}

.bisq-easy-trade-state-phase-open {
    -fx-fill: -bisq-mid-grey-20;
    -fx-text-fill: -bisq-mid-grey-20;
    -fx-font-family: "IBM Plex Sans Light";
}


.bisq-easy-trade-state-phase-badge {
    -fx-padding: 0 0 0 0;
}

.bisq-easy-trade-state-phase-badge .badge-pane {
    -fx-background-radius: 25;
    -fx-pref-width: 25;
    -fx-pref-height: 25;
}

.bisq-easy-trade-state-phase-badge-completed .badge-pane {
    -fx-background-color: -bisq2-green;
}

.bisq-easy-trade-state-phase-badge-current .badge-pane {
    -fx-background-color: -bisq2-green;
    -fx-background-insets: 2;
    -fx-border-radius: 25;
    -fx-border-width: 1;
    -fx-border-color: -bisq2-green;
}

.bisq-easy-trade-state-phase-badge-open .badge-pane {
    -fx-background-color: -bisq-dark-grey-50;
}

.bisq-easy-trade-state-phase-badge .badge-pane .label {
    -fx-font-size: 0.93em;
}

.bisq-easy-trade-state-phase-badge-completed .badge-pane .label {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Medium";
}

.bisq-easy-trade-state-phase-badge-current .badge-pane .label {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Medium";
}

.bisq-easy-trade-state-phase-badge-open .badge-pane .label {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
}


/*******************************************************************************
 * Trade state phase info (right side box)                                     *
 ******************************************************************************/

.bisq-easy-trade-state-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.7em;
    -fx-font-family: "IBM Plex Sans Light";
}

.bisq-easy-trade-state-info {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1.1em;
    -fx-font-family: "IBM Plex Sans Light";
}

.bisq-easy-trade-state-help {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1em;
    -fx-font-family: "IBM Plex Sans Light";
}


.bisq-easy-trade-state-webcam-state-box {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-background-radius: 4 4 0 0;
}

.bisq-easy-trade-state-webcam-state-label {
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1.25em;
    -fx-font-family: "IBM Plex Sans Light";
}


/*******************************************************************************
 * Trade completed                                                             *
 ******************************************************************************/

.trade-completed-title {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 2.3em;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-completed-table-title {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1.2em;
    -fx-font-family: "IBM Plex Sans Light";
}


/*******************************************************************************
 *                                                                             *
 * Trade wizard                                                                *
 *                                                                             *
 ******************************************************************************/

.bisq-easy-trade-wizard-price-step .price-content {
    -fx-alignment: center;
}

.bisq-easy-trade-wizard-price-step .pricing-models {
    -fx-alignment: center;
    -fx-padding: 10 0 10 0;
}

.bisq-easy-trade-wizard-price-step .pricing-models .price-item-box {
    -fx-max-width: 300;
    -fx-min-width: 300;
    -fx-pref-width: 300;
}

.bisq-easy-trade-wizard-price-step .pricing-models .price-item-box .price-item {
    -fx-padding: 5;
    -fx-background-color: transparent;
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
}

.bisq-easy-trade-wizard-price-step .selected-price-model {
    -fx-fill: -bisq2-green !important;
    -fx-text-fill: -bisq2-green !important;
}

.bisq-easy-trade-wizard-price-step .feedback-box {
    -fx-padding: 10 0 10 0;
    -fx-alignment: center;
}

.bisq-easy-trade-wizard-price-step .feedback-box .learn-why-button {
    -fx-fill: -bisq2-green;
    -fx-text-fill: -bisq2-green;
    -fx-font-size: 1.15em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-padding: 5;
    -fx-background-color: transparent;
    -fx-underline: true;
}

.bisq-easy-trade-wizard-price-step .learn-why-overlay {
    -fx-max-height: 330;
    -fx-min-height: 330;
    -fx-pref-height: 330;
    -fx-max-width: 680;
    -fx-min-width: 680;
    -fx-pref-width: 680;
    -fx-alignment: center;
    -fx-padding: 50;
}

.bisq-easy-trade-wizard-price-step .learn-why-overlay .learn-why-title-label {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-padding: 0 0 15 0;
}

.bisq-easy-trade-wizard-price-step .learn-why-overlay .learn-why-text {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.15em;
    -fx-font-family: "IBM Plex Sans Light";
}

.bisq-easy-trade-wizard-price-step .learn-why-overlay .learn-why-intro-label {
    -fx-wrap-text: true;
    -fx-line-spacing: 5px;
    -fx-max-height: 48;
    -fx-min-height: 48;
    -fx-pref-height: 48;
}

.bisq-easy-trade-wizard-price-step .learn-why-overlay .unordered-list {
    -fx-padding: 0 0 15 0;
}

.bisq-easy-trade-wizard-payment-methods-step .ln-checkbox .check-box {
    -fx-scale-x: 0.6;
    -fx-scale-y: 0.6;
    -fx-cursor: hand;
}

.bisq-easy-trade-wizard-payment-methods-step .ln-checkbox .label {
    -fx-text-fill: -fx-light-text-color;
}

.bisq-easy-trade-wizard-payment-methods-step .ln-checkbox .check-box > .box {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-color: -fx-light-text-color;
    -fx-border-width: 2;
}

.bisq-easy-trade-wizard-payment-methods-step .fiat-methods-grid-pane {
}

.bisq-easy-trade-wizard-payment-methods-step .bitcoin-methods-grid-pane {
}

.bisq-easy-trade-wizard-payment-methods-step .add-custom-payment-method-box {
    -fx-alignment: center-left;
    -fx-background-color: -bisq-dark-grey-50;
    -fx-background-radius: 9;
    -fx-padding: 5 5 5 6;
    -fx-spacing: 7;
}

.bisq-easy-trade-wizard-payment-methods-step .add-custom-payment-method-box .custom-payment-method-button {
    -fx-background-color: none;
    -fx-padding: 0;
}

.bisq-easy-trade-wizard-payment-methods-step .add-custom-payment-method-box .custom-payment-method-text-field {
    -fx-background-color: none;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-text-fill: -fx-light-text-color;
    -fx-prompt-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans";
}

.bisq-easy-trade-wizard-review-header-description {
    -fx-alignment: left;
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 0.9em;
}

.bisq-easy-trade-wizard-review-header-value {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.7em;
}

.bisq-easy-trade-wizard-review-header-code {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.4em;
}

.trade-wizard-review-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 2.3em;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-wizard-review-direction {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 20;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-wizard-review-direction-accent {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 23;
    -fx-padding: 0 1.5 2 1.5;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-wizard-review-range-amounts-desc {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 14.5;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-wizard-review-range-amount-desc {
    -fx-min-width: 95;
    -fx-max-width: 95;
}

.trade-wizard-review-range-amounts-value {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 18;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-padding: 0 0 2.5 0;
    -fx-alignment: center-right;
    -fx-text-alignment: right;
}

.trade-wizard-review-range-quote-amount {
    -fx-min-width: 60;
    -fx-max-width: 60;
}

.trade-wizard-review-range-base-amount {
    -fx-min-width: 105;
    -fx-max-width: 105;
}

.trade-wizard-review-range-amounts-code {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 15.5;
    -fx-padding: 0 2 1 5;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-wizard-review-fix-amounts-value {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 23;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-padding: 0 0 2.5 0;
    -fx-alignment: center-right;
    -fx-text-alignment: right;
}

.trade-wizard-review-fix-amounts-code {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 20;
    -fx-padding: 0 3 0 5;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-wizard-review-fix-amounts {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.7em;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-wizard-amount-limit-info {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1.15em;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-wizard-amount-limit-info-overlay-link.hyperlink {
    -fx-padding: 0.166667em 0 0.166667em 0; /* 2 0 2 0 */
    -fx-cursor: hand;
    -fx-content-display: LEFT;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-text-fill: -bisq2-green;
    -fx-underline: true;
    -fx-font-size: 1.15em;
    -fx-font-family: "IBM Plex Sans Light";
}
.trade-wizard-amount-limit-info-overlay-link.hyperlink:hover,
.trade-wizard-amount-limit-info-overlay-link.hyperlink:hover:visited {
    -fx-text-fill: -bisq2-green;
}

.trade-wizard-amount-limit-info-overlay-link.hyperlink:visited {
    -fx-text-fill: -bisq2-green;
}

.trade-wizard-amount-limit-info-overlay-link.hyperlink:disabled {
    -fx-opacity: 1;
    -fx-text-fill: -fx-mid-text-color;
    -fx-underline: false;
    -fx-cursor: none;
}

.trade-wizard-review-details-headline {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 0.9em;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-wizard-review-description {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1em;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-wizard-review-value {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.15em;
    -fx-padding: 0 0 1 0;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-wizard-review-code {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1.15em;
    -fx-padding: 0 0 1 0;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-wizard-review-details {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1em;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-wizard-review-payment-combo-box {
    -fx-background-color: -bisq-dark-grey-50;
    -fx-background-insets: 6 0 6 0;
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.15em;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-wizard-review-payment-combo-box > .combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled {
    -fx-background-color: -bisq-dark-grey-50;
}

.trade-wizard-review-payment-combo-box > .combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background-color: -bisq-mid-grey-10;
}

.trade-wizard-review-payment-combo-box > .combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background-color: -bisq-dark-grey-30;
}

.trade-wizard-take-offer-send-message-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.7em;
}

.trade-wizard-take-offer-send-message-sub-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.1em;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-wizard-take-offer-send-message-info {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1em;
    -fx-font-family: "IBM Plex Sans Light";
}


/*******************************************************************************
 * TradeWizardMarketView.tableView                                             *
 ******************************************************************************/

.markets-table-container {
}

.bisq-easy-trade-wizard-direction-step .bisq-popup {
    -fx-font-size: 1.25em;
    -fx-background-radius: 6;
    -fx-padding: 4;
}

.bisq-easy-trade-wizard-direction-step .bisq-popup .table-view {
    -fx-font-size: 0.8em;
}

.bisq-easy-trade-wizard-direction-step .bisq-popup .table-view .table-row-cell:hover {
    -fx-cursor: hand;
}

.bisq-easy-trade-wizard-market-search {
    -fx-background-color: -bisq-dark-grey-20;
}

.bisq-easy-trade-wizard-market-search .search-text-field {
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 0.7em;
}

.bisq-easy-trade-wizard-quote-currency {
    -fx-cursor: hand;
}

.bisq-easy-trade-wizard-quote-currency:hover {
    -fx-underline: true;
}


/*******************************************************************************
 * TradeWizardTakeOfferView.tableView                                          *
 ******************************************************************************/

.matching-offers-table-container {
    -fx-background-color: -bisq-dark-grey-20;
    -fx-border-width: 0 0 5px 0;
    -fx-border-color: -bisq-dark-grey-20;
}

.bisq-easy-trade-wizard-select-offer.table-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.bisq-easy-trade-wizard-select-offer.table-view .column-header {
    -fx-pref-height: 40px;
}

.bisq-easy-trade-wizard-select-offer.table-view .column-header .label {
    -fx-alignment: center;
}

.bisq-easy-trade-wizard-select-offer.table-view .table-row-cell:hover {
    -fx-cursor: hand;
}

.bisq-easy-trade-wizard-select-offer.table-view .table-row-cell {
    -fx-pref-height: 55px;
    -fx-border-width: 0;
}

.bisq-easy-trade-wizard-select-offer.table-view .table-cell {
    -fx-padding: 0;
}

/* the text property from list view need to set to apply the color to the button label */
.onboarding-market-table-toggle-button .text {
    -fx-fill: -fx-light-text-color !important;
}

.onboarding-market-table-toggle-button:hover .text {
    -fx-fill: -fx-dark-text-color !important;
}

.onboarding-market-table-toggle-button:selected:hover .text {
    -fx-fill: -fx-light-text-color !important;
}

.bisq-easy-offerbook-search-box {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-background-radius: 4;
    -fx-border-color: rgba(255, 255, 255, 0.075);
    -fx-border-width: 1;
    -fx-border-radius: 4;
}

.bisq-easy-offerbook-search-box-active {
    -fx-background-color: rgba(255, 255, 255, 0.075);
    -fx-border-color: -bisq2-green;
}


/*******************************************************************************
 * Chat                                                                        *
 ******************************************************************************/

.bisq-easy-chat-sidebar-bg {
    -fx-background-color: -bisq-dark-grey-20;
    -fx-background-radius: 8 8 0 0;
}


/*******************************************************************************
 *                                                                             *
 * Trade domain                                                                *
 *                                                                             *
 ******************************************************************************/

.bisq-amount-input-code-label {
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 0.9em;
    -fx-font-family: "IBM Plex Sans Light";
}


/*******************************************************************************
 *                                                                             *
 * PaymentMethod domain                                                        *
 *                                                                             *
 ******************************************************************************/

.payment-methods-icon-button-bg {
    -fx-background-color: #eee;
    -fx-background-radius: 7;
}

.payment-methods-label {
    -fx-text-fill: #222;
    -fx-padding: 5 4 5 10
}


/*******************************************************************************
 *                                                                             *
 * Misc                                                                        *
 *                                                                             *
 ******************************************************************************/

#bisq-easy-next-button {
    -fx-background-color: transparent;
    -fx-background-radius: 4;
    -fx-border-color: -bisq-mid-grey-20;
    -fx-border-width: 0.75;
    -fx-border-radius: 2.5;
    -fx-text-fill: -fx-light-text-color;
}

#bisq-easy-skip-button {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-mid-text-color;
}

#bisq-easy-trade-info-headline-label {
    -fx-font-size: 1.4em;
    -fx-font-family: "IBM Plex Sans";
    -fx-text-fill: -fx-light-text-color;
}

#bisq-easy-trade-info-content-label {
    -fx-font-size: 1.1em;
    -fx-text-fill: -fx-light-text-color;
}

.bisq-easy-custom-payment-icon .text {
    -fx-font-size: 1.2em;
    -fx-font-family: "IBM Plex Sans Bold";
    -fx-text-fill: -fx-dark-text-color !important;
    -fx-fill: -fx-dark-text-color !important;
}


/*******************************************************************************
 *                                                                             *
 * Private chat                                                                *
 *                                                                             *
 ******************************************************************************/

.bisq-easy-private-chats-table-view {
    -fx-background-color: -bisq-dark-grey-20;
}

/*******************************************************************************
 *                                                                             *
 * Mediator view                                                               *
 *                                                                             *
 ******************************************************************************/

.mediator-table-requester {
    -fx-background-color: transparent;
    -fx-border-color: -bisq2-green;
    -fx-border-width: 0 0 2 0;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
}

.mediator-header-requester {
    -fx-background-color: transparent;
    -fx-border-color: -bisq2-green;
    -fx-border-width: 0 0 2 0;
    -fx-border-radius: 0;
    -fx-border-insets: 0 0 -7.5 0;
}

/*******************************************************************************
 *                                                                             *
 * Trade details                                                               *
 *                                                                             *
 ******************************************************************************/

.trade-details-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 2.3em;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-details-medium-light {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.4em;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-details-small-grey {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 0.9em;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-details-large-light {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.7em;
}

.trade-details-medium-grey {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.3em;
}

.trade-details-close-button-row {
    -fx-background-color: -bisq-dark-grey-20;
    -fx-min-height: 50;
    -fx-max-height: 50;
}
