/*******************************************************************************
 *                                                                             *
 * Chat domain                                                                 *
 *                                                                             *
 ******************************************************************************/


.keyword-customTags {
    -fx-fill: -bisq2-green;
}

.keyword-none {
    -fx-fill: -fx-light-text-color;
}

.channel-large-thin-headline {
    -fx-font-size: 1.692em;
    -fx-text-fill: -bisq-dark-grey-50;
}

.market-fiat-label {
    -fx-font-size: 7;
    -fx-text-fill: -fx-dark-text-color;
    -fx-font-family: "IBM Plex Sans";
}

.fiat-code > .text {
    -fx-font-size: 12;
    -fx-fill: -bisq-white !important;
    -fx-text-fill: -bisq-white !important;
    -fx-font-family: "IBM Plex Sans SemiBold";
}

.fiat-symbol {
    -fx-font-size: 13;
    -fx-text-fill: -fx-light-text-color !important;
    -fx-font-family: "IBM Plex Sans Medium";
}

.fiat-symbol-2 {
    -fx-font-size: 11;
    -fx-text-fill: -fx-light-text-color !important;
    -fx-font-family: "IBM Plex Sans Medium";
}

.market-crypto-label {
    -fx-font-size: 7;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans";
}

.quote-currency-market-logo {
    -fx-fill: -bisq-dark-grey-20;
}

.close-sidebar-button {
    -fx-background-color: -bisq-mid-grey-20;
    -fx-text-fill: -bisq-dark-grey-40;
}

#chat-filter-box {
    -fx-border-color: -bisq-mid-grey-10;
    -fx-border-width: 0 0 1 0;
    -fx-border-insets: 0 0 -1 0;
}

.chat-input-field {
    -fx-faint-focus-color: transparent;
    -fx-text-fill: -fx-light-text-color;
    -fx-prompt-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans";
}

.chat-send-message-box {
    -fx-background-color: -bisq-dark-grey-40;
    -fx-background-radius: 8;
    -fx-background-insets: 0;
    -fx-border-color: -bisq-dark-grey-40;
    -fx-border-radius: 8;
    -fx-border-width: 1;
    -fx-border-insets: 0;
}

#chat-messages-edit-text-area.text-area {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.3em;
    -fx-font-family: "IBM Plex Sans";
}

#chat-messages-edit-text-area.text-area .content {
}

#chat-messages-edit-text-area.text-area:focused .content {
    -fx-background-color: transparent;
}

#chat-messages-send-button {
    -fx-background-color: transparent;
    -fx-text-fill: -bisq2-green;
}

#chat-messages-headline {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.53em;
    -fx-font-family: "IBM Plex Sans Medium";
}

#chat-messages-date {
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 0.92em;
}

#chat-messages-message {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.33em;
    -fx-font-family: "IBM Plex Sans";
}

#chat-sidebar-headline {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.78em;
    -fx-font-family: "IBM Plex Sans Light";
}

#chat-sidebar-title {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.4em;
    -fx-font-family: "IBM Plex Sans Light";
}

#chat-sidebar-text {
    -fx-text-fill: -fx-mid-text-color;
    -fx-fill: -fx-mid-text-color;
    -fx-font-size: 1em;
    -fx-font-family: "IBM Plex Sans Light";
}

.chat-header-title {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.4em;
    -fx-font-family: "IBM Plex Sans Light";
}

.chat-header-description {
    -fx-text-fill: -fx-mid-text-color;
    -fx-fill: -fx-mid-text-color;
    -fx-font-size: 1em;
    -fx-font-family: "IBM Plex Sans Light";
}

.chat-message-content-box .react-menu-box .drawer-menu-items .bisq-menu-item:hover {
    -fx-background-color: -bisq-dark-grey-50 !important;
}

/* Peer Message Background */
.chat-message-bg-peer-message,
.chat-peer-offer-message-bg {
    -fx-background-color: -bisq2-peer-bubble-message;
    -fx-background-radius: 8;
}

/* Peer Offer Message */
.chat-peer-offer-message-bg {
    -fx-padding: 20;
}

.chat-peer-offer-message-bg .reputation .label {
    -fx-font-size: 0.9em;
}

.chat-peer-offer-message-bg .take-offer-vLine {
    -fx-border-color: -bisq2-green;
    -fx-border-width: 0 3 0 0;
}

.chat-peer-offer-message-bg .chat-peer-offer-message {
    -fx-padding: 0 0 0 7;
    -fx-line-spacing: 7px;
}

.bisq-easy-offer-title .text {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
}

.bisq-easy-offer-sell-btc-title .text {
    -fx-fill: -bisq2-red-lit-20;
    -fx-text-fill: -bisq2-red-lit-20;
}

.bisq-easy-offer-buy-btc-title .text {
    -fx-fill: -bisq2-green;
    -fx-text-fill: -bisq2-green;
}

.chat-peer-offer-message-bg .take-offer-button {
    -fx-padding: 2.5 30 2.5 30;
}

.chat-peer-offer-message-bg .sell-btc-button {
    -fx-background-color: -bisq2-red-dim-30;
}

.chat-peer-offer-message-bg .buy-btc-button {
    -fx-background-color: -bisq2-green-dim-40;
}

.chat-peer-offer-message-bg .take-offer-label .text {
    -fx-fill: -bisq2-green;
    -fx-text-fill: -bisq2-green;
}
/* ... */

/* My Message Background */
.chat-message-bg-my-message,
.chat-my-offer-message-bg {
    -fx-background-color: -bisq2-my-bubble-message;
    -fx-background-radius: 8;
}

/* My Offer Message */
.chat-my-offer-message {
    -fx-padding: 0;
    -fx-line-spacing: 7px;
}

.chat-my-offer-message-bg {
    -fx-padding: 20;
}

.create-offer-message-my-offer {
    -fx-background-color: -bisq-dark-grey-10;
    -fx-background-radius: 8;
}

.create-offer-box-my-offer {
    -fx-background-color: -bisq-dark-grey-40;
}
/* ... */

.trade-wizard-feedback-bg {
    -fx-background-color: -bisq-dark-grey-10;
    -fx-background-radius: 0 0 16 16;
}

#button-inactive {
    -fx-background-color: -bisq-dark-grey-50;
    -fx-text-fill: -fx-light-text-color;
    -fx-background-insets: 0;
}

#bisq-combo-box-list-view {
    -fx-background-color: -bisq-dark-grey-50;
    -fx-border-color: -bisq-dark-grey;;
    -fx-border-width: 1;
    -fx-border-insets: 0;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

#bisq-combo-box-list-view .list-cell {
    -fx-background-color: -bisq-dark-grey;
    -fx-font-size: 1em;
    -fx-padding: 0 0 0 22;
    -fx-background-insets: 0 0 1 0;
    -fx-pref-height: 40px;
    -fx-text-fill: -fx-light-text-color;
}


#bisq-combo-box-list-view .list-cell:hover {
    -fx-background-color: rgba(0, 0, 0, 0.05);
}

#bisq-combo-box-list-view .list-cell:selected {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}


#chat-user-name {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 0.92em;
    -fx-font-family: "IBM Plex Sans Medium";
    -fx-cursor: hand;
}

#chat-message-reactions-separator {
    -fx-text-fill: -bisq-dark-grey-50;
}

/*******************************************************************************
 * Chat mention list                                                          *
 ******************************************************************************/

.chat-mention-popup {
     -fx-background-color: -bisq-dark-grey-30;
     -fx-background-radius: 6;
     -fx-padding: 8;
     -fx-border-color: -bisq-dark-grey-50;
     -fx-border-width: 1;
     -fx-border-radius: 6;
     -fx-effect: none;
}

.chat-mention-list-view {
    -fx-background-color: -bisq-dark-grey-30;
    -fx-padding: 0;
    -fx-background-radius: 8 8 0 0;
}

.chat-mention-list-view .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 0;
}

.chat-mention-list-button {
    -fx-background-color: -bisq-dark-grey-30;
    -fx-text-fill: -fx-light-text-color;
    -fx-alignment: center-left;
    -fx-padding: 5 15 5 15;
    -fx-background-radius: 8;
}

.chat-mention-placeholder-label {
    -fx-padding: 5 0;
}

#user-name-label {
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1.4em;
    -fx-font-family: "IBM Plex Sans";
}

#icon-label-grey {
    -fx-text-fill: grey;
}

.notifications-settings-menu .dropdown-menu-popup {
    -fx-padding: 18 8 8 8 !important;
}

.notifications-settings-menu-label-default {
    -fx-text-fill: -fx-mid-text-color !important;
}

.notifications-settings-menu-label-active {
    -fx-text-fill: -fx-light-text-color !important;
}


/*******************************************************************************
 * Header                                                                      *
 ******************************************************************************/

.chat-container-header {
    -fx-background-color: -bisq-dark-grey-20;
    -fx-background-radius: 8 8 0 0;
    -fx-max-height: 61;
    -fx-min-height: 61;
    -fx-pref-height: 61;
    -fx-alignment: center-left;
    -fx-padding: 12.5 25 12.5 25;
}


/*******************************************************************************
 * Side bar                                                                    *
 ******************************************************************************/

.chat-container {
    -fx-background-color: -bisq-dark-grey-20;
    -fx-background-radius: 8 8 0 0;
}

.chat-container-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.8em;
}

.chat-container-placeholder-text {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-padding: -40 0 0 0;
}


/*******************************************************************************
 *                                                                             *
 * Channel selection                                                           *
 *                                                                             *
 ******************************************************************************/

.channel-selection-list-view {
    -fx-background-color: transparent;
}

.channel-selection-list-view .list-cell {
    -fx-background-color: transparent;
    -fx-font-size: 0.92em;
}

.channel-selection-list-view .list-cell:selected {
    -fx-background-color: -bisq-dark-grey-20;
    -fx-fill: -fx-dark-text-color;
    -fx-text-fill: -fx-dark-text-color;
}

.channel-selection-list-view .list-cell:hover .label {
    -fx-text-fill: -fx-light-text-color;
}

.channel-selection-list-view .list-cell:selected .label {
    -fx-text-fill: -bisq2-green;
}

.private-chats-selection-list {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.private-chats-selection-list .table-row-cell {
    -fx-border-width: 0;
}

.private-chats-selection-list .table-cell {
    -fx-padding: 0;
}

.private-chats-selection-list .user-profile-table-cell {
    -fx-padding: 0 0 0 13;
}

.private-chats-selection-list .user-profile-table-cell .bisq-badge {
    -fx-padding: 0 13 0 0;
}

/*******************************************************************************
 *                                                                             *
 * Chat messages list                                                          *
 *                                                                             *
 ******************************************************************************/

.chat-messages-list-view {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.chat-messages-list-view .list-cell {
    -fx-padding: 5 0 5 0;
}

.chat-messages-list-view .chat-message-list-cell-wo-scrollbar {
    -fx-border-width: 0 20 0 21;
    -fx-border-color: transparent;
}

.chat-messages-list-view .chat-message-list-cell-w-scrollbar-max-width {
    -fx-border-width: 0 12 0 29;
    -fx-border-color: transparent;
}

.chat-messages-list-view .chat-message-list-cell-w-scrollbar-full-width {
    -fx-border-width: 0 6 0 21;
    -fx-border-color: transparent;
}

.chat-messages-list-view .list-cell:filled:hover {
    -fx-background-color: none;
}

.system-message-labels {
    -fx-font-size: 0.9em;
    -fx-font-family: "IBM Plex Sans Light";
}

.system-message-background {
    -fx-background-color: rgba(36, 36, 36, 0.4); /* -bisq-dark-grey-30 */
    -fx-padding: 25 25 25 25;
}

.system-message-background .leave-chat-message,
.system-message-background .leave-chat-message:visited {
    -fx-text-fill: -bisq2-green;
    -fx-underline: false;
}

.system-message-background .leave-chat-message:hover,
.system-message-background .leave-chat-message:hover:visited {
    -fx-text-fill: -bisq2-green;
    -fx-underline: true;
}

.scroll-down-bg {
    -fx-min-height: 38;
    -fx-max-height: 38;
    -fx-pref-height: 38;
    -fx-background-color: linear-gradient(to top, rgba(28, 28, 28, 1) 0%, rgba(28, 28, 28, 0.9) 40%, rgba(28, 28, 28, 0) 100%); /* -bisq-dark-grey-20 */
}

.chat-messages-badge.bisq-badge .badge-pane {
    -fx-background-color: transparent;
}

.chat-messages-badge.bisq-badge .badge-pane .label .text {
    -fx-font-family: "IBM Plex Sans Light";
}

.chat-messages-badge.bisq-badge .badge-pane .label {
    -fx-text-fill: -fx-mid-text-color !important;
}

.expired-messages-indicator {
    -fx-text-fill: -bisq-light-grey-20 !important;
}


/*******************************************************************************
 * Chat guide                                                                  *
 ******************************************************************************/

.chat-guide-headline {
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 2.15em;
}


/*******************************************************************************
 * Reactions                                                                   *
 ******************************************************************************/

.reaction-menu-item:selected,
.button.bisq-menu-item.reaction-menu-item.icon-only:hover,
.button.bisq-menu-item.active-reaction-menu-item:hover{
    -fx-background-color: -bisq-mid-grey-10 !important;
}

.chat-message-content-box .drawer-menu-items {
    -fx-spacing: 4;
}

.active-reactions-display-box {
    -fx-spacing: 5;
    -fx-alignment: bottom-center;
}

.button.bisq-menu-item.active-reaction-menu-item {
    -fx-font-size: 10;
    -fx-text-fill: -bisq-white;
    -fx-font-family: "IBM Plex Sans SemiBold";
    -fx-background-radius: 15;
    -fx-padding: 6;
}

.button.bisq-menu-item.active-reaction-menu-item.active-reaction-selected {
    -fx-border-width: 1px;
    -fx-border-color: -bisq-mid-grey-20;
    -fx-border-radius: 15;
    -fx-padding: 5 !important;
}

.my-text-message-box-active-reactions .button.bisq-menu-item.active-reaction-menu-item,
.my-text-message-box-active-reactions .reaction-users-popup {
    -fx-background-color: -bisq2-my-bubble-message;
}

.peer-text-message-box-active-reactions .button.bisq-menu-item.active-reaction-menu-item,
.peer-text-message-box-active-reactions .reaction-users-popup {
    -fx-background-color: -bisq2-peer-bubble-message;
}

.reaction-users-popup {
    -fx-background-radius: 8;
    -fx-border-color: -bisq-mid-grey-10;
    -fx-border-width: 1px;
    -fx-border-radius: 8;
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-font-size: 1.33em;
    -fx-font-family: "IBM Plex Sans";
}

.reaction-users-popup .list-view {
    -fx-background-color: -bisq-dark-grey-20;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-padding: 10;
}

.reaction-users-popup .list-cell:filled:selected {
    -fx-background-color: -bisq-dark-grey-20;
}

.list-view .list-cell:selected .label {
    -fx-text-fill: -fx-mid-text-color;
}

.reaction-users-popup .list-view .list-cell {
    -fx-padding: 0 5 0 5;
}
