/*******************************************************************************
 *                                                                             *
 * Chat domain                                                               *
 *                                                                             *
 ******************************************************************************/


.keyword-customTags {
    -fx-fill: -bisq2-green;
}

.keyword-none {
    -fx-fill: -fx-light-text-color;
}

.channel-large-thin-headline {
    -fx-font-size: 1.692em;
    -fx-text-fill: -bisq-dark-grey-lit;
}

.market-fiat-label {
    -fx-font-size: 7;
    -fx-text-fill: -fx-dark-text-color;
    -fx-font-family: "IBM Plex Sans";
}

.fiat-code {
    -fx-font-size: 8;
    -fx-text-fill: -fx-light-text-color !important;;
    -fx-font-family: "IBM Plex Sans Medium";
}

.fiat-symbol {
    -fx-font-size: 13;
    -fx-text-fill: -fx-light-text-color !important;;
    -fx-font-family: "IBM Plex Sans Medium";
}

.fiat-symbol-2 {
    -fx-font-size: 11;
    -fx-text-fill: -fx-light-text-color !important;;
    -fx-font-family: "IBM Plex Sans Medium";
}

.market-crypto-label {
    -fx-font-size: 7;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans";
}

.close-sidebar-button {
    -fx-background-color: -bisq-medium-grey-mid;
    -fx-text-fill: -bisq-dark-grey-mid;
}

#chat-filter-box {
    -fx-border-color: -bisq-medium-grey-dim;
    -fx-border-width: 0 0 1 0;
    -fx-border-insets: 0 0 -1 0;
}

#chat-user-profile-bg {
    -fx-background-color: -bisq-dark-grey-mid;
    -fx-background-insets: 1 20 1 9;
    -fx-background-radius: 8;
}

.chat-input-field {
    -fx-faint-focus-color: transparent;
    -fx-text-fill: -fx-light-text-color;
    -fx-prompt-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans";
}

.chat-send-message-box {
    -fx-background-color: -bisq-dark-grey-mid;
    -fx-background-radius: 8;
    -fx-background-insets: 0;
    -fx-border-color: -bisq-dark-grey-mid;
    -fx-border-radius: 8;
    -fx-border-width: 1;
    -fx-border-insets: 0;
}

#chat-messages-edit-text-area.text-area {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.3em;
    -fx-font-family: "IBM Plex Sans";
}

#chat-messages-edit-text-area.text-area .content {
}

#chat-messages-edit-text-area.text-area:focused .content {
    -fx-background-color: transparent;
}

#chat-messages-send-button {
    -fx-background-color: transparent;
    -fx-text-fill: -bisq2-green;
}

#chat-messages-headline {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.53em;
    -fx-font-family: "IBM Plex Sans Medium";
}

#chat-messages-date {
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 0.92em;
}

#chat-messages-message {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.33em;
    -fx-font-family: "IBM Plex Sans";
}

#chat-sidebar-headline {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.78em;
    -fx-font-family: "IBM Plex Sans Light";
}

#chat-sidebar-title {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.4em;
    -fx-font-family: "IBM Plex Sans Light";
}

#chat-sidebar-text {
    -fx-text-fill: -fx-mid-text-color;
    -fx-fill: -fx-mid-text-color;
    -fx-font-size: 1em;
    -fx-font-family: "IBM Plex Sans Light";
}

.chat-header-title {
    -fx-text-fill: -bisq2-green;
    -fx-font-size: 1.4em;
    -fx-font-family: "IBM Plex Sans Light";
}

.chat-header-description {
    -fx-text-fill: -fx-mid-text-color;
    -fx-fill: -fx-mid-text-color;
    -fx-font-size: 1em;
    -fx-font-family: "IBM Plex Sans Light";
}

.chat-message-bg-my-message {
    -fx-background-color: -bisq-dark-grey-10;
    -fx-background-radius: 8;
}

.chat-message-bg-peer-message {
    -fx-background-color: -bisq-dark-grey-lit;
    -fx-background-radius: 8;
}

.create-offer-message-my-offer {
    -fx-background-color: -bisq-dark-grey-10;
    -fx-background-radius: 8;
}

.create-offer-box-my-offer {
    -fx-background-color: -bisq-dark-grey-mid;
}

.trade-wizard-feedback-bg {
    -fx-background-color: -bisq-dark-grey-10;
    -fx-background-radius: 0 0 16 16;
}

#buy-button {
    -fx-background-color: -bisq-buy;
    -fx-text-fill: -fx-light-text-color;
    -fx-background-insets: 0 0 0 0;
}

#sell-button {
    -fx-background-color: -bisq-sell;
    -fx-text-fill: -fx-light-text-color;
    -fx-background-insets: 0 0 0 0;
}

#button-inactive {
    -fx-background-color: -bisq-dark-grey-lit;
    -fx-text-fill: -fx-light-text-color;
    -fx-background-insets: 0;
}

#bisq-combo-box-list-view {
    -fx-background-color: -bisq-dark-grey-lit;
    -fx-border-color: -bisq-dark-grey;;
    -fx-border-width: 1;
    -fx-border-insets: 0;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

#bisq-combo-box-list-view .list-cell {
    -fx-background-color: -bisq-dark-grey;
    -fx-font-size: 1em;
    -fx-padding: 0 0 0 22;
    -fx-background-insets: 0 0 1 0;
    -fx-pref-height: 40px;
    -fx-text-fill: -fx-light-text-color;
}


#bisq-combo-box-list-view .list-cell:hover {
    -fx-background-color: rgba(0, 0, 0, 0.05);
}

#bisq-combo-box-list-view .list-cell:selected {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}


#chat-user-name {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 0.92em;
    -fx-font-family: "IBM Plex Sans Medium";
    -fx-cursor: hand;
}

#chat-message-reactions-separator {
    -fx-text-fill: -bisq-dark-grey-lit;
}


.chat-mention-popup-menu {
    -fx-min-width: 300;
}

.chat-mention-popup-menu-item {
    -fx-background-color: -bisq-dark-grey-dim;
    -fx-text-fill: -fx-light-text-color;
    -fx-alignment: center-left;
    -fx-padding: 8 14 8 14;
}

#user-name-label {
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1.4em;
    -fx-font-family: "IBM Plex Sans";
}

#icon-label-grey {
    -fx-text-fill: grey;
}

#onboarding-top-panel {
    -fx-background-color: -bisq-dark-grey-dim;
}

/*******************************************************************************
 * Side bar                                                          *
 ******************************************************************************/

.chat-side-bar-user-profile-nickname {
    -fx-font-size: 1.7em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -fx-light-text-color;
}

.chat-side-bar-user-profile-details {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 0.9em;
}

.chat-side-bar-user-profile-small-headline {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 0.9em;
}

.chat-side-bar-user-profile-small-value {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Light";
    -fx-font-size: 1em;
}

.chat-side-bar-user-profile-small-hyperlink {
    /*  -fx-font-size: 1em;
      -fx-font-family: "IBM Plex Light";*/
    -fx-text-fill: -fx-light-text-color;
}

.chat-side-bar-user-profile.text-area {
    -fx-font-size: 1em;
    -fx-background-color: rgba(255, 255, 255, 0.05);
}

.chat-container {
    -fx-background-color: -bisq-dark-grey-dim;
    -fx-background-radius: 8 8 0 0;
}

.chat-container-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.8em;
}

.chat-container-placeholder-text {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-padding: -40 0 0 0;
}


/*******************************************************************************
 *                                                                             *
 * Channel selection                                                           *
 *                                                                             *
 ******************************************************************************/
.channel-selection-list-view {
    -fx-background-color: transparent;
}

.channel-selection-list-view .list-cell {
    -fx-background-color: transparent;
    -fx-font-size: 0.92em;
}

.channel-selection-list-view .list-cell:selected {
    -fx-background-color: -bisq-dark-grey-dim;
    -fx-fill: -fx-dark-text-color;
    -fx-text-fill: -fx-dark-text-color;
}

.channel-selection-list-view .list-cell:hover .label {
    -fx-text-fill: -fx-light-text-color;
}

.channel-selection-list-view .list-cell:selected .label {
    -fx-text-fill: -bisq2-green;
}


/*******************************************************************************
 *                                                                             *
 * Chat messages list                                                          *
 *                                                                             *
 ******************************************************************************/

.chat-messages-list-view {
    -fx-background-color: transparent;
}

.chat-messages-list-view .list-cell:filled:hover {
    -fx-background-color: none;
}

.chat-messages-badge.bisq-badge .badge-pane {
    -fx-background-color: -bisq-medium-grey-dim;
}


/*******************************************************************************
 * Chat guide                                                                  *
 ******************************************************************************/

.chat-guide-headline {
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 2.15em;
}
