/*******************************************************************************
 *                                                                             *
 * Popup                                                                       *
 *                                                                             *
 ******************************************************************************/

.bisq-popup {
    -fx-background-color: -bisq-dark-grey-20;
}


/*******************************************************************************
 * List based                                                                  *
 ******************************************************************************/

/*******************************************************************************
 *                                                                             *
 * ListView                                                                    *
 *                                                                             *
 ******************************************************************************/

.list-view {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-padding: 0;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-padding: 5;
}

.list-cell:filled:hover {
    -fx-background-color: rgba(255, 255, 255, 0.05);
}

.list-cell:filled:selected {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.list-view .list-cell .label {
    -fx-text-fill: -fx-mid-text-color;
}

.list-view .list-cell:selected .label {
    -fx-text-fill: -fx-light-text-color;
}


/*******************************************************************************
 *                                                                             *
 * TreeView                                                                     *
 *                                                                             *
 ******************************************************************************/

 .tree-view {
     -fx-background-color: rgba(255, 255, 255, 0.05);
     -fx-background-insets: 0;
     -fx-background-radius: 4;
     -fx-padding: 7.5 5 7.5 5;
 }

 .tree-cell {
     -fx-background-color: transparent;
     -fx-padding: 5;
 }

 .tree-cell:filled:hover {
     -fx-background-color: rgba(255, 255, 255, 0.05);
 }

 .tree-cell:filled:selected {
     -fx-background-color: rgba(255, 255, 255, 0.1);
 }

 .tree-cell .text {
     -fx-text-fill: -fx-mid-text-color;
 }

 .tree-cell:filled:selected .text {
     -fx-text-fill: -fx-light-text-color;
 }

 .tree-disclosure-node {
     -fx-background-color: transparent;
 }


/*******************************************************************************
 *                                                                             *
 * Lines                                                                     *
 *                                                                             *
 ******************************************************************************/

.h-line {
    -fx-border-color: -bisq-dark-grey-50;
    -fx-border-width: 1 0 0 0;
}

.v-line {
    -fx-border-color: -bisq-dark-grey-50;
    -fx-border-width: 0 1 0 0;
}


/*******************************************************************************
 *                                                                             *
 * Separator                                                                   *
 *                                                                             *
 ******************************************************************************/

.separator:horizontal .line {
    -fx-border-color: -bisq-dark-grey-40;
    -fx-border-width: 0.5;
}

.separator:vertical .line {
    -fx-border-color: -bisq-dark-grey-40;
    -fx-border-width: 0.5;
}

/*******************************************************************************
 *                                                                             *
 * Backgrounds                                                                 *
 *                                                                             *
 ******************************************************************************/

.bg-grey-5 {
    -fx-background-color: -bisq-dark-grey-50;
}

.popup-bg {
    -fx-background-color: -bisq-dark-grey-40;
}


/*******************************************************************************
 *                                                                             *
 * ScrollBar                                                                  *
 *                                                                             *
 ******************************************************************************/

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar > .thumb {
    -fx-background-color: -bisq-mid-grey-10;
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
    -fx-background-color: -bisq-mid-grey-10;
}


/*******************************************************************************
 *                                                                             *
 * TableView                                                                   *
 *                                                                             *
 ******************************************************************************/

.table-view {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1em;
}

.table-view .filler {
    -fx-opacity: 0;
}

.table-view .arrow {
    -fx-background-color: -fx-mid-text-color;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.table-view > .placeholder > .label {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.3em;
    -fx-padding: -40 0 0 0;
}

.hide-vertical-scrollbar .scroll-bar:vertical * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.hide-horizontal-scrollbar .table-view > .scroll-bar:horizontal {
    -fx-opacity: 0;
}

.force-hide-horizontal-scrollbar *.scroll-bar:horizontal {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
    -fx-opacity: 0;
    -fx-visible: false;
}

/* column-header */
.table-view .column-header {
    -fx-background-color: transparent;
    -fx-pref-height: 34px;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.empty-table.table-view .column-header .label {
    -fx-fill: transparent;
    -fx-text-fill: transparent;
}

.empty-table.table-view .arrow {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-alignment: center;
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 0.9em;
    -fx-label-padding: 0 10 0 10;
}

.table-view .column-header.left .label {
    -fx-alignment: center-left;
}

.table-view .column-header.right .label {
    -fx-alignment: center-right;
}

/* Hack to apply alignment to header. See: https://stackoverflow.com/questions/23576867/javafx-how-to-align-only-one-column-header-in-tableview */
.table-view .column-header#left .label {
    -fx-alignment: center-left;
}

.table-view .column-header#right .label {
    -fx-alignment: center-right;
}


/* table-cell */
.table-view .table-cell {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-alignment: center;
    -fx-padding: 0 10 0 10;
}

.table-view .table-cell .text {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
}

.table-view .table-cell.left {
    -fx-alignment: center-left;
}

.table-view .table-cell.right {
    -fx-alignment: center-right;
}

/* row-cell */
.table-view .table-row-cell {
    -fx-background-color: transparent;
    -fx-border-color: -bisq-dark-grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-pref-height: 54px;
}

.table-view .table-row-cell:hover .table-cell {
    -fx-background-color: -bisq-dark-grey-50;
}

.table-view .table-row-cell:selected .table-cell {
    -fx-background-color: -bisq-dark-grey-40;
}

/* Custom style used in selection column for vertical green bar */
#selection-marker {
    -fx-background-color: -bisq2-green !important;
}

/* empty */
.table-view .table-row-cell:empty {
    -fx-border-color: transparent;
}

.table-view .table-row-cell:empty .table-cell {
    -fx-background-color: transparent;
}

.table-view .table-row-cell:empty:hover .table-cell {
    -fx-background-color: transparent;
}

/* disabled */
.table-view .table-row-cell:disabled .table-cell .text {
    -fx-text-fill: -bisq-mid-grey-10;
    -fx-fill: -bisq-mid-grey-10;
}


/* button */
.table-view .table-row-cell:selected .button .text {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
}

/* copy-icon */
.table-view .table-row-cell .copy-icon .text,
.table-view .table-row-cell .copy-icon .text:hover {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
}

.table-view .table-row-cell:selected .copy-icon .text {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
}

.table-view .table-row-cell:selected .copy-icon .text:hover {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
}

/* hyperlink */
.table-view .table-row-cell:selected .hyperlink .text {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-border-style: none;
    -fx-border-width: 0px;
}

.table-view .table-row-cell .hyperlink .text {
    -fx-border-style: none;
    -fx-border-width: 0px;
}

.table-view .table-row-cell .hyperlink .text:hover,
.table-view .table-row-cell:selected .hyperlink .text:hover {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-border-style: none;
    -fx-border-width: 0px;
}

.table-view .table-row-cell .hyperlink:hover,
.table-view .table-row-cell .hyperlink:visited,
.table-view .table-row-cell .hyperlink:hover:visited {
    -fx-underline: false;
    -fx-border-style: none;
    -fx-border-width: 0px;
}

.table-view .table-row-cell .hyperlink:focused {
    -fx-border-style: none;
    -fx-border-width: 0px;
}

/* Date time column */
.table-view-date-column-date {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 0.8em;
    -fx-font-family: "IBM Plex Sans Light";
}

.table-view-date-column-time {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 0.8em;
    -fx-font-family: "IBM Plex Sans Light";
}


/*******************************************************************************
 *                                                                             *
 * RichTable                                                                   *
 *                                                                             *
 ******************************************************************************/

.rich-table-view-box .dropdown-offer-rich-table-filter-menu {
    -fx-padding: 3 10 0 10;
    -fx-max-height: 25;
}

.rich-table-headline {
    -fx-font-size: 1.8em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -fx-light-text-color;
}

.rich-table-view-box .export-button {
    -fx-min-width: 160;
    -fx-background-color: -fx-grey-button;
    -fx-text-fill: -fx-light-text-color;
    -fx-background-radius: 8;
    -fx-border-color: transparent;
    -fx-border-radius: 8;
    -fx-cursor: hand;
}

.rich-table-view-box .export-button:hover {
    -fx-background-color: -bisq-grey-hover;
}

.rich-table-view-box .export-button:pressed {
    -fx-background-color: -bisq-grey-pressed;
}

.rich-table-subheader {
    -fx-background-color: -bisq-dark-grey-30;
    -fx-background-radius: 0;
    -fx-max-height: 30;
    -fx-min-height: 30;
    -fx-pref-height: 30;
}

.rich-table-view-box .search-box,
.rich-table-view-box .search-box-active {
    -fx-background-color: transparent;
}

.rich-table-view-box .export-button {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-mid-text-color;
    -fx-border-color: -fx-grey-button;
}

.rich-table-view-box .export-button:hover {
    -fx-background-color: -bisq-dark-grey-30;
    -fx-effect: none;
}

.rich-table-view-box .export-button:pressed {
    -fx-background-color: -bisq-dark-grey-10;
    -fx-effect: none;
}

.rich-table-view {
    -fx-background-color: -bisq-dark-grey-20;
    -fx-border-color: transparent;
}

.rich-table-view:focused {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-effect: null;
}

.rich-table-view .column-header {
    -fx-background-color: -bisq-dark-grey-10;
    -fx-max-height: 30;
    -fx-min-height: 30;
    -fx-pref-height: 30;
}

.rich-table-view .table-row-cell {
    -fx-background-color: transparent;
    -fx-border-color: -bisq-dark-grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-pref-height: 54px;
}

.rich-table-view .table-row-cell:hover {
    -fx-background-color: -bisq-dark-grey-50;
    -fx-border-color: -bisq-dark-grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.rich-table-view .table-row-cell:selected {
    -fx-background-color: -bisq-dark-grey-40;
    -fx-border-color: -bisq-dark-grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.rich-table-view .table-cell {
    -fx-background-insets: 0;
    -fx-padding: 0 10 0 10;
}

.rich-table-num-entries {
    -fx-font-size: 0.9em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -bisq-mid-grey-20;
}

.offerbook-subheader .dropdown-offers-filter-menu {
    -fx-padding: 0 10 0 10;
}


/*******************************************************************************
 *                                                                             *
 * TitledPane                                                                  *
 *                                                                             *
 ******************************************************************************/

.titled-pane {
    -fx-background-color: null;
    -fx-border-color: null;
}

.titled-pane:focused {
}

.titled-pane > .title > .arrow-button {
    -fx-background-color: null;
    -fx-padding: 0 10 0 -20;
}

.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: -bisq-white;
    -fx-background-insets: 2.5;
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-background-color: -bisq-white;
    -fx-effect: null;
}

.titled-pane > .title:hover {
}

.titled-pane > .content > .scroll-pane > .scroll-bar {
}

.titled-pane > *.content {
    -fx-border-color: null;
    -fx-border-insets: 0;
    -fx-background-color: null;
}


/*******************************************************************************
 *                                                                             *
 * Accordion                                                               *
 *                                                                             *
 ******************************************************************************/

.accordion > .titled-pane > .title {
    -fx-background-color: null;
    -fx-border-color: null;
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Thin";
    -fx-font-size: 2.3em;
}



/*******************************************************************************
 *                                                                             *
 * SplitPane                                                                   *
 *                                                                             *
 ******************************************************************************/

.split-pane > .split-pane-divider {
    -fx-padding: 0 0.15em 0 0.15em; /* 0 3 0 3 */
}

/* horizontal the two nodes are placed to the left/right of each other. */
.split-pane:horizontal > .split-pane-divider {
    -fx-padding: 0;
    -fx-background-insets: -5; /* Trick to give larger width for the handle but not showing it visually*/
}

/* vertical the two nodes are placed on top of each other. */
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: -fx-box-border, -fx-inner-border;
    -fx-background-insets: 0, 1 0 1 0;
}

/*******************************************************************************
 *                                                                             *
 * ScrollPane                                                             *
 *                                                                             *
 ******************************************************************************/

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: -bisq-dark-grey-50;
}

.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: -bisq-dark-grey-50;
}

.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
    -fx-background-color: transparent;
}


/*******************************************************************************
 *                                                                             *
 * Grid pane                                                                   *
 *                                                                             *
 ******************************************************************************/
.grid-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-effect: null;
    -fx-background-insets: 10;
}

/*******************************************************************************
 *                                                                             *
 * TabView                                                                  *
 *                                                                             *
 ******************************************************************************/

.tab-view {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 2.15em;
    -fx-font-family: "IBM Plex Sans Light";
}

.tab-view-line {
    -fx-background-color: -bisq-mid-grey-10;
}

.tab-view-selection {
    -fx-background-color: -bisq2-green;
}

/*******************************************************************************
 *                                                                             *
 * Custom Container based                                                                   *
 *                                                                             *
 ******************************************************************************/

.bisq-box-1 {
    -fx-background-color: -bisq-dark-grey;
    -fx-background-radius: 8;
}

.bisq-box-2 {
    -fx-background-color: -bisq-dark-grey-20;
    -fx-background-radius: 8;
}

.bisq-dual-amount-bg {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-background-radius: 8 8 0 0;
}

.bisq-dark-bg {
    -fx-background-color: -bisq-dark-grey;
}

.bisq-grey-2-bg {
    -fx-background-color: -bisq-dark-grey-10;
}

.bisq-mid-grey {
    -fx-background-color: -bisq-mid-grey-10;
}

.bisq-green-line {
    -fx-background-color: -bisq2-green;
}

.bisq-white-bg {
    -fx-background-color: -bisq-white;
}

.bisq-content-bg {
    -fx-background-color: -bisq-content-bg-grey;
}

.bisq-common-bg {
    -fx-background-color: -bisq-dark-grey-20;
    -fx-background-radius: 8 8 8 8;
    -fx-padding: 50;
}

.bisq-card-bg {
    -fx-background-color: -bisq-dark-grey-40;
    -fx-background-radius: 8 8 8 8;
    -fx-padding: 40;
}

.bisq-card-dark-bg {
    -fx-background-color: -bisq-dark-grey-20;
    -fx-background-radius: 8 8 8 8;
    -fx-padding: 40;
}

.common-line-spacing .label {
    -fx-line-spacing: 5px;
    -fx-wrap-text: true;
}

#chat-message-quote-box-peer-msg {
    -fx-background-color: -bisq-dark-grey-20;
    -fx-background-radius: 0 8 8 0;
    -fx-border-radius: 0;
    -fx-border-width: 0 0 0 3;
    -fx-border-color: -bisq-mid-grey-20;
    -fx-padding: 10 10 10 15;
}

#chat-message-quote-box-my-msg {
    -fx-background-color: -bisq-dark-grey-50;
    -fx-background-radius: 0 8 8 0;
    -fx-border-radius: 0;
    -fx-border-width: 0 0 0 3;
    -fx-border-color: -bisq-mid-grey-20;
    -fx-padding: 10 10 10 15;
}


/*******************************************************************************
 *                                                                             *
 * Controlsfx Popover                                                          *
 *                                                                             *
 ******************************************************************************/

.popover {
    -fx-background-color: transparent;
}

.popover > .border {
    -fx-stroke: transparent;
    -fx-fill: transparent;
}

.popover > .content {
    -fx-padding: 0;
}

.popover > .detached {
}

.popover > .content .default-text {
    -fx-text-fill: -fx-light-text-color;
}

.popover > .content > .title > .text {
    -fx-padding: 6.0 6.0 0.0 6.0;
    -fx-text-fill: rgba(120, 120, 120, .8);
}

.popover > .content > .title > .icon {
    -fx-padding: 6.0 0.0 0.0 10.0;
}

.popover > .content > .title > .icon > .graphics > .circle {
    -fx-fill: gray;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, .2), 3, 0.5, 1.0, 1.0);
}

.popover > .content > .title > .icon > .graphics > .line {
    -fx-stroke: transparent;
}

.popover > .border {
    /* -fx-stroke: linear-gradient(to bottom, -bisq-white-transparent, -bisq-white-transparent-dark) !important;*/
    -fx-fill: transparent;
}


/********************************************************************************************************************
 *                                                                                                                  *
 * Overlay                                                                                                           *
 *                                                                                                                  *
 ********************************************************************************************************************/

.overlay-headline {
    -fx-font-size: 1.8em;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans";
}

.overlay-headline-information {
    -fx-text-fill: -bisq2-green;
}

.overlay-headline-warning {
    -fx-text-fill: -bisq2-yellow;
}

.overlay-headline-error {
    -fx-text-fill: -bisq2-red;
}

.overlay-icon-information {
    -fx-text-fill: -bisq2-green;
}

.overlay-icon-warning {
    -fx-text-fill: -bisq2-yellow;
}

.overlay-icon-error {
    -fx-text-fill: -bisq2-red;
}

.overlay-message {
    -fx-font-size: 1.2em;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
}

.overlay-bg {
    -fx-background-color: -bisq-popup-bg-grey;
    -fx-background-insets: 25;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 40, 0.5, 0, 0);
}

/*******************************************************************************
 *                                                                             *
 * Wizard                                                                      *
 *                                                                             *
 ******************************************************************************/

#wizard-progress-box {
    -fx-background-color: -bisq-dark-grey-20;
}


/*******************************************************************************
 *                                                                             *
 * Charts                                                                      *
 *                                                                             *
 ******************************************************************************/

.chart-series-line {
    -fx-stroke-width: 1px; /* Default is 2px */
}


/*******************************************************************************
 *                                                                             *
 * WizardOverlay                                                               *
 *                                                                             *
 ******************************************************************************/

.wizard-overlay .headline {
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.7em;
}

.wizard-overlay .default-warning {
    -fx-fill: -bisq2-yellow-lit-20;
    -fx-text-fill: -bisq2-yellow-lit-20;
}

.wizard-overlay .red-warning {
    -fx-fill: -bisq2-red-lit-10;
    -fx-text-fill: -bisq2-red-lit-10;
}

.wizard-overlay .green-warning,
.wizard-overlay .default-info {
    -fx-fill: -bisq2-green;
    -fx-text-fill: -bisq2-green;
}

.wizard-overlay .white-warning {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
}
