/* ------------------------------------------------------------------------------------ */
/* General */
/* ------------------------------------------------------------------------------------ */

#bisq-easy {
    -fx-image: url("/images/bisq-easy.png");
}

#bisq-31 {
    -fx-image: url("/images/bisq-31.png");
}

#support-31 {
    -fx-image: url("/images/support-31.png");
}


#bullet-point {
    -fx-image: url("/images/bullet-point.png");
}

#clearnet-white {
    -fx-image: url("/images/clearnet-white.png");
}

#clearnet-grey {
    -fx-image: url("/images/clearnet-grey.png");
}

#clearnet-green {
    -fx-image: url("/images/clearnet-green.png");
}

#tor-white {
    -fx-image: url("/images/tor-white.png");
}

#tor-grey {
    -fx-image: url("/images/tor-grey.png");
}

#tor-green {
    -fx-image: url("/images/tor-green.png");
}

#i2p-white {
    -fx-image: url("/images/i2p-white.png");
}

#i2p-grey {
    -fx-image: url("/images/i2p-grey.png");
}

#i2p-green {
    -fx-image: url("/images/i2p-green.png");
}

#rocket {
    -fx-image: url("/images/icons/rocket.png");
}

#peer-group {
    -fx-image: url("/images/icons/peer-group.png");
}

#info {
    -fx-image: url("/images/info.png");
}

#check-circle {
    -fx-image: url("/images/check-circle.png");
}

#logo-splash {
    -fx-image: url("/images/logo-splash.png");
}

#logo-mark-midsize {
    -fx-image: url("/images/logo-mark-midsize.png");
}

#logo-grey {
    -fx-image: url("/images/logo_grey.png");
}

#logo-mark-grey {
    -fx-image: url("/images/logo_mark_grey.png");
}

#arrow-down {
    -fx-image: url("/images/arrow-down.png");
}

#close {
    -fx-image: url("/images/close.png");
}

#close-white {
    -fx-image: url("/images/close-white.png");
}

#close-green {
    -fx-image: url("/images/close-green.png");
}

#close-black {
    -fx-image: url("/images/close-black.png");
}

#cross {
    -fx-image: url("/images/cross.png");
}

#equals {
    -fx-image: url("/images/equals.png");
}

#expand {
    -fx-image: url("/images/expand.png");
}

#collapse {
    -fx-image: url("/images/collapse.png");
}

#search-dimmed {
    -fx-image: url("/images/search-dimmed.png");
}

#search-white {
    -fx-image: url("/images/search-white.png");
}

#search-green {
    -fx-image: url("/images/search-green.png");
}

#image-buy-white {
    -fx-image: url("/images/buy_white.png");
}

#image-sell-white {
    -fx-image: url("/images/sell_white.png");
}

#close-round {
    -fx-image: url("/images/close-round.png");
}

#add {
    -fx-image: url("/images/field-add.png");
}

#add-disabled {
    -fx-image: url("/images/field-add-disabled.png");
}

#add-white {
    -fx-image: url("/images/field-add-white.png");
}

#clear-notifications {
    -fx-image: url("/images/clear-notifications.png");
}

#remove {
    -fx-image: url("/images/field-remove.png");
}

#remove-disabled {
    -fx-image: url("/images/field-remove-disabled.png");
}

#remove-white {
    -fx-image: url("/images/field-remove-white.png");
}

#arrows-up-down {
    -fx-image: url("/images/arrows-up-down.png");
}

#arrow-right-sign {
    -fx-image: url("/images/arrow-right-sign.png");
}

#spinning-circle {
    -fx-image: url("/images/waitingstates/spinning-circle.png");
}

#take-bisq-easy-offer {
    -fx-image: url("/images/waitingstates/bisq-easy.png");
}

#take-bisq-easy-offer-circle {
    -fx-image: url("/images/waitingstates/bisq-easy-circle.png");
}

#account-data {
    -fx-image: url("/images/waitingstates/account-data.png");
}

#fiat-payment {
    -fx-image: url("/images/waitingstates/fiat-payment.png");
}

#fiat-payment-confirmation {
    -fx-image: url("/images/waitingstates/fiat-payment-confirmation.png");
}

#bitcoin-address {
    -fx-image: url("/images/waitingstates/bitcoin-address.png");
}

#bitcoin-payment {
    -fx-image: url("/images/waitingstates/bitcoin-payment.png");
}

#bitcoin-confirmation {
    -fx-image: url("/images/waitingstates/bitcoin-confirmation.png");
}

#scan-with-camera {
    -fx-image: url("/images/waitingstates/scan-with-camera.png");
}

#complete-trade {
    -fx-image: url("/images/waitingstates/complete-trade.png");
}

#video {
    -fx-image: url("/images/video.png");
}

#ellipsis-v-grey {
    -fx-image: url("/images/icons/ellipsis-v-grey.png");
}

#ellipsis-v-white {
    -fx-image: url("/images/icons/ellipsis-v-white.png");
}

#ellipsis-h-grey {
    -fx-image: url("/images/icons/ellipsis-h-grey.png");
}

#ellipsis-h-white {
    -fx-image: url("/images/icons/ellipsis-h-white.png");
}

#delete-bin-red {
    -fx-image: url("/images/icons/delete-bin-red.png");
}

#delete-bin-red-lit-10 {
    -fx-image: url("/images/icons/delete-bin-red-lit-10.png");
}

#check-white {
    -fx-image: url("/images/icons/check-white.png");
}

#check-grey {
    -fx-image: url("/images/icons/check-grey.png");
}

#check-green {
    -fx-image: url("/images/icons/check-green.png");
}

#bisq-broadcast-white {
    -fx-image: url("/images/icons/bisq-broadcast-white.png");
}

#chevron-drop-menu-green {
    -fx-image: url("/images/icons/chevron-drop-menu-green.png");
}

#chevron-drop-menu-white {
    -fx-image: url("/images/icons/chevron-drop-menu-white.png");
}

#chevron-drop-menu-grey {
    -fx-image: url("/images/icons/chevron-drop-menu-grey.png");
}

#close-mini-black {
    -fx-image: url("/images/icons/close-mini-black.png");
}

#close-mini-white {
    -fx-image: url("/images/icons/close-mini-white.png");
}

#close-mini-grey {
    -fx-image: url("/images/icons/close-mini-grey.png");
}

#close-mini-green {
    -fx-image: url("/images/icons/close-mini-green.png");
}

#link-white {
    -fx-image: url("/images/icons/link-white.png");
}

#link-grey {
    -fx-image: url("/images/icons/link-grey.png");
}

#link-green {
    -fx-image: url("/images/icons/link-green.png");
}

#open-link-white {
    -fx-image: url("/images/icons/open-link-white.png");
}

#open-link-grey {
    -fx-image: url("/images/icons/open-link-grey.png");
}

#open-link-green {
    -fx-image: url("/images/icons/open-link-green.png");
}

#new-badge {
    -fx-image: url("/images/new.png");
}

#arrows-left-white {
    -fx-image: url("/images/icons/arrows-left-white.png");
}

#arrows-left-grey {
    -fx-image: url("/images/icons/arrows-left-grey.png");
}

#arrows-right-white {
    -fx-image: url("/images/icons/arrows-right-white.png");
}

#arrows-right-grey {
    -fx-image: url("/images/icons/arrows-right-grey.png");
}

#chart-icon-green {
    -fx-image: url("/images/icons/chart-icon-green.png");
}

#chart-icon-grey {
    -fx-image: url("/images/icons/chart-icon-grey.png");
}

#chart-icon-white {
    -fx-image: url("/images/icons/chart-icon-white.png");
}

#lock-icon-green {
    -fx-image: url("/images/icons/lock-icon-green.png");
}

#lock-icon-grey {
    -fx-image: url("/images/icons/lock-icon-grey.png");
}

#lock-icon-white {
    -fx-image: url("/images/icons/lock-icon-white.png");
}


/* ------------------------------------------------------------------------------------ */
/* Navigation */
/* ------------------------------------------------------------------------------------ */

#nav-chat {
    -fx-image: url("/images/navigation/nav-chat.png");
}

#nav-chat-active {
    -fx-image: url("/images/navigation/nav-chat-active.png");
}

#nav-chat-hover {
    -fx-image: url("/images/navigation/nav-chat-hover.png");
}

#nav-bisq-easy {
    -fx-image: url("/images/navigation/nav-bisq-easy.png");
}

#nav-bisq-easy-active {
    -fx-image: url("/images/navigation/nav-bisq-easy-active.png");
}

#nav-bisq-easy-hover {
    -fx-image: url("/images/navigation/nav-bisq-easy-hover.png");
}

#nav-reputation {
    -fx-image: url("/images/navigation/nav-reputation.png");
}

#nav-reputation-active {
    -fx-image: url("/images/navigation/nav-reputation-active.png");
}

#nav-reputation-hover {
    -fx-image: url("/images/navigation/nav-reputation-hover.png");
}

#nav-contacts {
    -fx-image: url("/images/navigation/nav-contacts.png");
}

#nav-contacts-active {
    -fx-image: url("/images/navigation/nav-contacts-active.png");
}

#nav-contacts-hover {
    -fx-image: url("/images/navigation/nav-contacts-hover.png");
}

#nav-community {
    -fx-image: url("/images/navigation/nav-community.png");
}

#nav-community-active {
    -fx-image: url("/images/navigation/nav-community-active.png");
}

#nav-community-hover {
    -fx-image: url("/images/navigation/nav-community-hover.png");
}

#nav-learn {
    -fx-image: url("/images/navigation/nav-learn.png");
}

#nav-learn-active {
    -fx-image: url("/images/navigation/nav-learn-active.png");
}

#nav-learn-hover {
    -fx-image: url("/images/navigation/nav-learn-hover.png");
}

#nav-markets {
    -fx-image: url("/images/navigation/nav-markets.png");
}

#nav-markets-active {
    -fx-image: url("/images/navigation/nav-markets-active.png");
}

#nav-markets-hover {
    -fx-image: url("/images/navigation/nav-markets-hover.png");
}

#nav-network {
    -fx-image: url("/images/navigation/nav-network.png");
}

#nav-network-active {
    -fx-image: url("/images/navigation/nav-network-active.png");
}

#nav-network-hover {
    -fx-image: url("/images/navigation/nav-network-hover.png");
}

#nav-settings {
    -fx-image: url("/images/navigation/nav-settings.png");
}

#nav-settings-active {
    -fx-image: url("/images/navigation/nav-settings-active.png");
}

#nav-settings-hover {
    -fx-image: url("/images/navigation/nav-settings-hover.png");
}

#nav-authorized-role {
    -fx-image: url("/images/navigation/nav-authorized-role.png");
}

#nav-authorized-role-active {
    -fx-image: url("/images/navigation/nav-authorized-role-active.png");
}

#nav-authorized-role-hover {
    -fx-image: url("/images/navigation/nav-authorized-role-hover.png");
}

#nav-user {
    -fx-image: url("/images/navigation/nav-user.png");
}

#nav-user-active {
    -fx-image: url("/images/navigation/nav-user-active.png");
}

#nav-user-hover {
    -fx-image: url("/images/navigation/nav-user-hover.png");
}

#nav-support {
    -fx-image: url("/images/navigation/nav-support.png");
}

#nav-support-active {
    -fx-image: url("/images/navigation/nav-support-active.png");
}

#nav-support-hover {
    -fx-image: url("/images/navigation/nav-support-hover.png");
}

#nav-trade {
    -fx-image: url("/images/navigation/nav-trade.png");
}

#nav-trade-active {
    -fx-image: url("/images/navigation/nav-trade-active.png");
}

#nav-trade-hover {
    -fx-image: url("/images/navigation/nav-trade-hover.png");
}

#nav-wallet {
    -fx-image: url("/images/navigation/nav-wallet.png");
}

#nav-wallet-active {
    -fx-image: url("/images/navigation/nav-wallet-active.png");
}

#nav-wallet-hover {
    -fx-image: url("/images/navigation/nav-wallet-hover.png");
}

#nav-arrow-down {
    -fx-image: url("/images/navigation/nav-arrow-down.png");
}

#nav-arrow-right {
    -fx-image: url("/images/navigation/nav-arrow-right.png");
}

#nav-auto-collapse {
    -fx-image: url("/images/navigation/nav-auto-collapse.png");
}

#nav-grid {
    -fx-image: url("/images/navigation/nav-grid.png");
}

#nav-grid-active {
    -fx-image: url("/images/navigation/nav-grid-active.png");
}

#nav-grid-hover {
    -fx-image: url("/images/navigation/nav-grid-hover.png");
}

#nav-list {
    -fx-image: url("/images/navigation/nav-list.png");
}

#nav-list-active {
    -fx-image: url("/images/navigation/nav-list-active.png");
}

#nav-list-hover {
    -fx-image: url("/images/navigation/nav-list-hover.png");
}

#nav-musig {
    -fx-image: url("/images/navigation/nav-musig.png");
}

#nav-musig-active {
    -fx-image: url("/images/navigation/nav-musig-active.png");
}

#nav-musig-hover {
    -fx-image: url("/images/navigation/nav-musig-hover.png");
}


/* ------------------------------------------------------------------------------------ */
/* Onboarding */
/* ------------------------------------------------------------------------------------ */

#bisq-easy {
    -fx-image: url("/images/onboarding/bisq-easy-green.png");
}

#reputation-ribbon {
    -fx-image: url("/images/onboarding/reputation-ribbon-green.png");
}

#learn-discover-green {
    -fx-image: url("/images/onboarding/btc-microscope-green.png");
}

#trade-green {
    -fx-image: url("/images/onboarding/fiat-btc-green.png");
}

#trade-small-green {
    -fx-image: url("/images/onboarding/fiat-btc-small-green.png");
}

#trade-small-white {
    -fx-image: url("/images/onboarding/fiat-btc-small-white.png");
}

#thumbs-up-in-circle-green {
    -fx-image: url("/images/onboarding/thumbs-up-in-circle-green.png");
}

#thumbs-up-in-circle-white {
    -fx-image: url("/images/onboarding/thumbs-up-in-circle-white.png");
}

#reputation-in-circle-green {
    -fx-image: url("/images/onboarding/star-in-circle-green.png");
}

#chat-in-circle-green {
    -fx-image: url("/images/onboarding/chat-in-circle-green.png");
}

#trading-in-circle-green {
    -fx-image: url("/images/onboarding/dollar-btc-in-circle-green.png");
}

#learn-in-circle-green {
    -fx-image: url("/images/onboarding/open-book-in-circle-green.png");
}

#market-in-circle-green {
    -fx-image: url("/images/onboarding/graph-in-circle-green.png");
}


/* Fiat payment methods based on enum names from FiatPaymentRailUtil */

#DOMESTIC_WIRE_TRANSFER {
    -fx-image: url("/images/payment/domestic-wire-transfer.png");
}

#SAME_BANK {
    -fx-image: url("/images/payment/same-bank.png");
}

#WISE_USD {
    -fx-image: url("/images/payment/wise-us.png");
}

#PIN_4 {
    -fx-image: url("/images/payment/pin-4.png");
}

#SWISH {
    -fx-image: url("/images/payment/swish.png");
}

#PROMPT_PAY {
    -fx-image: url("/images/payment/prompt-pay.png");
}

#UPHOLD {
    -fx-image: url("/images/payment/uphold.png");
}

#MONEY_BEAM {
    -fx-image: url("/images/payment/money-beam.png");
}

#MONEY_GRAM {
    -fx-image: url("/images/payment/money-gram.png");
}

#HAL_CASH {
    -fx-image: url("/images/payment/hal-cash.png");
}

#SEPA {
    -fx-image: url("/images/payment/sepa.png");
}

#SEPA_INSTANT {
    -fx-image: url("/images/payment/sepa-instant.png");
}

#ZELLE {
    -fx-image: url("/images/payment/zelle.png");
}

#REVOLUT {
    -fx-image: url("/images/payment/revolut.png");
}

#WISE {
    -fx-image: url("/images/payment/wise.png");
}

#NATIONAL_BANK {
    -fx-image: url("/images/payment/national-bank-transfer.png");
}

#SWIFT {
    -fx-image: url("/images/payment/swift.png");
}

#F2F {
    -fx-image: url("/images/payment/f2f.png");
}

#ACH_TRANSFER {
    -fx-image: url("/images/payment/ach.png");
}

#PIX {
    -fx-image: url("/images/payment/pix.png");
}

#FASTER_PAYMENTS {
    -fx-image: url("/images/payment/faster-payments.png");
}

#PAY_ID {
    -fx-image: url("/images/payment/pay-id.png");
}

#US_POSTAL_MONEY_ORDER {
    -fx-image: url("/images/payment/uspmo.png");
}

#CASH_BY_MAIL {
    -fx-image: url("/images/payment/cash-by-mail.png");
}

#STRIKE {
    -fx-image: url("/images/payment/strike.png");
}

#INTERAC_E_TRANSFER {
    -fx-image: url("/images/payment/interac-etransfer.png");
}

#AMAZON_GIFT_CARD {
    -fx-image: url("/images/payment/amazon.png");
}

#CASH_DEPOSIT {
    -fx-image: url("/images/payment/cash-deposit.png");
}

#UPI {
    -fx-image: url("/images/payment/upi.png");
}

#BIZUM {
    -fx-image: url("/images/payment/bizum.png");
}

#CASH_APP {
    -fx-image: url("/images/payment/cashapp.png");
}

#XMR {
    -fx-image: url("/images/markets/crypto-menus/xmr-menu.png");
}

#CUSTOM_PAYMENT_1 {
    -fx-image: url("/images/payment/custom-payment-1.png");
}

#CUSTOM_PAYMENT_2 {
    -fx-image: url("/images/payment/custom-payment-2.png");
}

#CUSTOM_PAYMENT_3 {
    -fx-image: url("/images/payment/custom-payment-3.png");
}

#CUSTOM_PAYMENT_4 {
    -fx-image: url("/images/payment/custom-payment-4.png");
}

#CUSTOM_PAYMENT_5 {
    -fx-image: url("/images/payment/custom-payment-5.png");
}

#CUSTOM_PAYMENT_6 {
    -fx-image: url("/images/payment/custom-payment-6.png");
}

#add-custom-green {
    -fx-image: url("/images/payment/add-custom-green.png");
}

#add-custom-grey {
    -fx-image: url("/images/payment/add-custom-grey.png");
}


/* Bitcoin settlement method icons based on enum names from BitcoinPaymentRail */

#MAIN_CHAIN {
    -fx-image: url("/images/bitcoin_rails/bitcoin.png");
}

#LN {
    -fx-image: url("/images/bitcoin_rails/ln.png");
}

#LBTC {
    -fx-image: url("/images/bitcoin_rails/liquid.png");
}

#RBTC {
    -fx-image: url("/images/bitcoin_rails/rsk.png");
}


/* Onboarding icons*/
#info-circle-solid {
    -fx-image: url("/images/onboarding/info-circle-solid.png");
}

/* Dashboard */
#welcome-community {
    -fx-image: url("/images/welcome-community.png");
}

/* Protocols */
#protocol-bisq-easy {
    -fx-image: url("/images/protocols/protocol-bisq-easy.png");
}

#protocol-mu-sig {
    -fx-image: url("/images/protocols/protocol-mu-sig.png");
}

#protocol-submarine {
    -fx-image: url("/images/protocols/protocol-submarine.png");
}

#protocol-liquid-mu-sig {
    -fx-image: url("/images/protocols/protocol-liquid-mu-sig.png");
}

#protocol-bisq-lightning {
    -fx-image: url("/images/protocols/protocol-bisq-lightning.png");
}

#protocol-liquid-swap {
    -fx-image: url("/images/protocols/protocol-liquid-swap.png");
}

#protocol-bsq-swap {
    -fx-image: url("/images/protocols/protocol-bsq-swap.png");
}

#protocol-lightning-escrow {
    -fx-image: url("/images/protocols/protocol-lightning-escrow.png");
}


#protocol-monero-swap {
    -fx-image: url("/images/protocols/protocol-monero-swap.png");
}


/* ------------------------------------------------------------------------------------ */
/* Icons */
/* ------------------------------------------------------------------------------------ */

#icon-notification-mention-grey {
    -fx-image: url("/images/icons/icon-notification-mention-grey.png");
}

#icon-notification-mention-white {
    -fx-image: url("/images/icons/icon-notification-mention-white.png");
}

#icon-notification-off-grey {
    -fx-image: url("/images/icons/icon-notification-off-grey.png");
}

#icon-notification-off-white {
    -fx-image: url("/images/icons/icon-notification-off-white.png");
}

#icon-notification-all-grey {
    -fx-image: url("/images/icons/icon-notification-all-grey.png");
}

#icon-notification-all-white {
    -fx-image: url("/images/icons/icon-notification-all-white.png");
}

#icon-notification-default-grey {
    -fx-image: url("/images/icons/icon-notification-default-grey.png");
}

#icon-notification-default-white {
    -fx-image: url("/images/icons/icon-notification-default-white.png");
}

#icon-info-white {
    -fx-image: url("/images/icons/icon-info-white.png");
}

#icon-info-grey {
    -fx-image: url("/images/icons/icon-info-grey.png");
}

#icon-info-green {
    -fx-image: url("/images/icons/icon-info-green.png");
}

#icon-help-white {
    -fx-image: url("/images/icons/icon-help-white.png");
}

#icon-help-grey {
    -fx-image: url("/images/icons/icon-help-grey.png");
}

#icon-search {
    -fx-image: url("/images/icons/icon-search.png");
}

#icon-wallet {
    -fx-image: url("/images/icons/icon-wallet.png");
}

#icon-wallet-white {
    -fx-image: url("/images/icons/icon-wallet-white.png");
}

#trade-guide-grey {
    -fx-image: url("/images/icons/trade-guide-grey.png");
}

#trade-guide-white {
    -fx-image: url("/images/icons/trade-guide-white.png");
}

#trade-guide-green {
    -fx-image: url("/images/icons/trade-guide-green.png");
}

#icon-report {
    -fx-image: url("/images/icons/icon-report.png");
}

#icon-report-white {
    -fx-image: url("/images/icons/icon-report-white.png");
}

#star-green {
    -fx-image: url("/images/icons/stars/star-green.png");
}

#star-green-hollow {
    -fx-image: url("/images/icons/stars/star-green-hollow.png");
}

#star-half-green {
    -fx-image: url("/images/icons/stars/star-half-green.png");
}

#star-half-hollow-green {
    -fx-image: url("/images/icons/stars/star-half-hollow-green.png");
}

#star-white {
    -fx-image: url("/images/icons/stars/star-white.png");
}

#star-white-hollow {
    -fx-image: url("/images/icons/stars/star-white-hollow.png");
}

#star-half-white {
    -fx-image: url("/images/icons/stars/star-half-white.png");
}

#star-half-hollow-white {
    -fx-image: url("/images/icons/stars/star-half-hollow-white.png");
}

#star-grey {
    -fx-image: url("/images/icons/stars/star-grey.png");
}

#star-grey-hollow {
    -fx-image: url("/images/icons/stars/star-grey-hollow.png");
}

#star-yellow {
    -fx-image: url("/images/icons/stars/star-yellow.png");
}

#star-yellow-hollow {
    -fx-image: url("/images/icons/stars/star-yellow-hollow.png");
}

#scroll-down-white {
    -fx-image: url("/images/icons/scroll-down-white.png");
}

#scroll-down-green {
    -fx-image: url("/images/icons/scroll-down-green.png");
}

#sort-grey {
    -fx-image: url("/images/icons/sort-grey.png");
}

#sort-white {
    -fx-image: url("/images/icons/sort-white.png");
}

#list-view-green {
    -fx-image: url("/images/icons/list-view/list-view-green.png");
}

#list-view-white {
    -fx-image: url("/images/icons/list-view/list-view-white.png");
}

#list-view-grey {
    -fx-image: url("/images/icons/list-view/list-view-grey.png");
}

#market-green {
    -fx-image: url("/images/icons/market/market-green.png");
}

#market-white {
    -fx-image: url("/images/icons/market/market-white.png");
}

#market-grey {
    -fx-image: url("/images/icons/market/market-grey.png");
}

#language-green {
    -fx-image: url("/images/icons/language/language_green.png");
}

#language-grey {
    -fx-image: url("/images/icons/language/language_grey.png");
}

#language-white {
    -fx-image: url("/images/icons/language/language_white.png");
}

#maximize {
    -fx-image: url("/images/icons/maximize.png");
}

#minimize {
    -fx-image: url("/images/icons/minimize.png");
}

#scan-qr-code {
    -fx-image: url("/images/icons/scan-qr-code.png");
}

#scan-qr-code-green {
    -fx-image: url("/images/icons/scan-qr-code-green.png");
}

#webcam-state-image-recognized {
    -fx-image: url("/images/icons/webcam-state-image-recognized.png");
}

#webcam-state-connecting {
    -fx-image: url("/images/icons/webcam-state-connecting.png");
}

#interchangeable-grey {
    -fx-image: url("/images/icons/interchangeable-grey.png");
}

#interchangeable-white {
    -fx-image: url("/images/icons/interchangeable-white.png");
}

#interchangeable-green {
    -fx-image: url("/images/icons/interchangeable-green.png");
}

#moderator-badge {
    -fx-image: url("/images/icons/moderator-badge.png");
}

#moderator-badge-large {
    -fx-image: url("/images/icons/moderator-badge-large.png");
}

#flip-fields-arrows-grey {
    -fx-image: url("/images/icons/flip-fields-arrows-grey.png");
}

#flip-fields-arrows-white {
    -fx-image: url("/images/icons/flip-fields-arrows-white.png");
}

#flip-fields-arrows-green {
    -fx-image: url("/images/icons/flip-fields-arrows-green.png");
}

#close-mid-grey {
    -fx-image: url("/images/icons/close-mid-icon-grey.png");
}

#close-mid-white {
    -fx-image: url("/images/icons/close-mid-icon-white.png");
}

#save-grey {
    -fx-image: url("/images/icons/save-icon-grey.png");
}

#save-white {
    -fx-image: url("/images/icons/save-icon-white.png");
}

#save-green {
    -fx-image: url("/images/icons/save-icon-green.png");
}

#warning-grey {
    -fx-image: url("/images/icons/warning-grey.png");
}

#warning-white {
    -fx-image: url("/images/icons/warning-white.png");
}

#warning-green {
    -fx-image: url("/images/icons/warning-green.png");
}

#warning-yellow {
    -fx-image: url("/images/icons/warning-yellow.png");
}

#warning-red {
    -fx-image: url("/images/icons/warning-red.png");
}

#info-grey {
    -fx-image: url("/images/icons/info-grey.png");
}

#info-white {
    -fx-image: url("/images/icons/info-white.png");
}

#info-green {
    -fx-image: url("/images/icons/info-green.png");
}

#btcoins-grey {
    -fx-image: url("/images/icons/btcoins-grey.png");
}

#btcoins-white {
    -fx-image: url("/images/icons/btcoins-white.png");
}

#btcoins-green {
    -fx-image: url("/images/icons/btcoins-green.png");
}


/* ------------------------------------------------------------------------------------ */
/* Chat */
/* ------------------------------------------------------------------------------------ */

#icon-sidebar-close {
    -fx-image: url("/images/chat/icon-sidebar-close.png");
}

#chat-send {
    -fx-image: url("/images/chat/chat-send.png");
}

#filter {
    -fx-image: url("/images/chat/filter.png");
}

#detach {
    -fx-image: url("/images/chat/detach.png");
}

#attach {
    -fx-image: url("/images/chat/attach.png");
}

#leave-chat-green {
    -fx-image: url("/images/chat/leave-chat-green.png");
}

#leave-chat-red {
    -fx-image: url("/images/chat/leave-chat-red.png");
}

#leave-chat-red-lit-10 {
    -fx-image: url("/images/chat/leave-chat-red-lit-10.png");
}

#green-dot {
    -fx-image: url("/images/chat/green-dot.png");
}

#green-small-dot {
    -fx-image: url("/images/chat/green-small-dot.png");
}

#yellow-dot {
    -fx-image: url("/images/chat/yellow-dot.png");
}

#yellow-small-dot {
    -fx-image: url("/images/chat/yellow-small-dot.png");
}

#grey-dot {
    -fx-image: url("/images/chat/grey-dot.png");
}

#grey-small-dot {
    -fx-image: url("/images/chat/grey-small-dot.png");
}

#mention-green {
    -fx-image: url("/images/chat/mention/mention-green.png");
}

#mention-grey {
    -fx-image: url("/images/chat/mention/mention-grey.png");
}

#mention-white {
    -fx-image: url("/images/chat/mention/mention-white.png");
}

#report-green {
    -fx-image: url("/images/chat/report/report-green.png");
}

#report-grey {
    -fx-image: url("/images/chat/report/report-grey.png");
}

#report-white {
    -fx-image: url("/images/chat/report/report-white.png");
}

#offer-details-grey {
    -fx-image: url("/images/chat/offer-details/offer-details-grey.png");
}

#offer-details-white {
    -fx-image: url("/images/chat/offer-details/offer-details-white.png");
}

#ignore-green {
    -fx-image: url("/images/chat/ignore/ignore-green.png");
}

#ignore-grey {
    -fx-image: url("/images/chat/ignore/ignore-grey.png");
}

#ignore-white {
    -fx-image: url("/images/chat/ignore/ignore-white.png");
}

#undo-ignore-green {
    -fx-image: url("/images/chat/undo-ignore/undo-ignore-green.png");
}

#undo-ignore-grey {
    -fx-image: url("/images/chat/undo-ignore/undo-ignore-grey.png");
}

#undo-ignore-white {
    -fx-image: url("/images/chat/undo-ignore/undo-ignore-white.png");
}

#private-chat-green {
    -fx-image: url("/images/chat/private-chat/private-chat-green.png");
}

#private-chat-grey {
    -fx-image: url("/images/chat/private-chat/private-chat-grey.png");
}

#private-chat-white {
    -fx-image: url("/images/chat/private-chat/private-chat-white.png");
}

#contacts-green {
    -fx-image: url("/images/chat/contacts/contacts-green.png");
}

#contacts-grey {
    -fx-image: url("/images/chat/contacts/contacts-grey.png");
}

#contacts-white {
    -fx-image: url("/images/chat/contacts/contacts-white.png");
}

#laugh {
    -fx-image: url("/images/chat/reactions/laugh-20.png");
}

#happy {
    -fx-image: url("/images/chat/reactions/happy-20.png");
}

#heart {
    -fx-image: url("/images/chat/reactions/heart-20.png");
}

#thumbsdown {
    -fx-image: url("/images/chat/reactions/thumbs-down-20.png");
}

#thumbsup {
    -fx-image: url("/images/chat/reactions/thumbs-up-20.png");
}

#party {
    -fx-image: url("/images/chat/reactions/party-20.png");
}

#connecting-grey {
    -fx-image: url("/images/chat/message-status/connecting-grey.png");
}

#received-check-green {
    -fx-image: url("/images/chat/message-status/received-check-green.png");
}

#received-check-grey {
    -fx-image: url("/images/chat/message-status/received-check-grey.png");
}

#received-check-white {
    -fx-image: url("/images/chat/message-status/received-check-white.png");
}

#sent-message-green {
    -fx-image: url("/images/chat/message-status/sent-message-green.png");
}

#sent-message-grey {
    -fx-image: url("/images/chat/message-status/sent-message-grey.png");
}

#sent-message-white {
    -fx-image: url("/images/chat/message-status/sent-message-white.png");
}

#try-again-green {
    -fx-image: url("/images/chat/message-status/try-again-green.png");
}

#try-again-dark {
    -fx-image: url("/images/chat/message-status/try-again-dark.png");
}

#try-again-grey {
    -fx-image: url("/images/chat/message-status/try-again-grey.png");
}

#try-again-white {
    -fx-image: url("/images/chat/message-status/try-again-white.png");
}

#undelivered-message-yellow {
    -fx-image: url("/images/chat/message-status/undelivered-message-yellow.png");
}

#undelivered-message-grey {
    -fx-image: url("/images/chat/message-status/undelivered-message-grey.png");
}

#undelivered-message-white {
    -fx-image: url("/images/chat/message-status/undelivered-message-white.png");
}

#mailbox-green {
    -fx-image: url("/images/chat/message-status/mailbox-green.png");
}

#mailbox-grey {
    -fx-image: url("/images/chat/message-status/mailbox-grey.png");
}

#mailbox-white {
    -fx-image: url("/images/chat/message-status/mailbox-white.png");
}


/* ------------------------------------------------------------------------------------ */
/* Chat Message Actions */
/* ------------------------------------------------------------------------------------ */

#react-green {
    -fx-image: url("/images/chat/message-actions/react/react-green.png");
}

#react-grey {
    -fx-image: url("/images/chat/message-actions/react/react-grey.png");
}

#react-white {
    -fx-image: url("/images/chat/message-actions/react/react-white.png");
}

#react-laugh {
    -fx-image: url("/images/chat/message-actions/react-menu/laugh-18.png");
}

#react-happy {
    -fx-image: url("/images/chat/message-actions/react-menu/happy-18.png");
}

#react-thumbsdown {
    -fx-image: url("/images/chat/message-actions/react-menu/thumbs-down-18.png");
}

#react-thumbsup {
    -fx-image: url("/images/chat/message-actions/react-menu/thumbs-up-18.png");
}

#react-party {
    -fx-image: url("/images/chat/message-actions/react-menu/party-18.png");
}

#react-heart {
    -fx-image: url("/images/chat/message-actions/react-menu/heart-18.png");
}

#more-actions-green {
    -fx-image: url("/images/chat/message-actions/ellipsis/ellipsis18-green.png");
}

#more-actions-grey {
    -fx-image: url("/images/chat/message-actions/ellipsis/ellipsis18-grey.png");
}

#more-actions-white {
    -fx-image: url("/images/chat/message-actions/ellipsis/ellipsis18-white.png");
}

#copy-green {
    -fx-image: url("/images/chat/message-actions/copy/copy-green.png");
}

#copy-grey {
    -fx-image: url("/images/chat/message-actions/copy/copy-grey.png");
}

#copy-white {
    -fx-image: url("/images/chat/message-actions/copy/copy-white.png");
}

#reply-green {
    -fx-image: url("/images/chat/message-actions/reply/reply-green.png");
}

#reply-grey {
    -fx-image: url("/images/chat/message-actions/reply/reply-grey.png");
}

#reply-white {
    -fx-image: url("/images/chat/message-actions/reply/reply-white.png");
}

#open-p-chat-green {
    -fx-image: url("/images/chat/message-actions/open-p-chat/open-p-chat-green.png");
}

#open-p-chat-grey {
    -fx-image: url("/images/chat/message-actions/open-p-chat/open-p-chat-grey.png");
}

#open-p-chat-white {
    -fx-image: url("/images/chat/message-actions/open-p-chat/open-p-chat-white.png");
}

#edit-green {
    -fx-image: url("/images/chat/message-actions/edit/edit-green.png");
}

#edit-grey {
    -fx-image: url("/images/chat/message-actions/edit/edit-grey.png");
}

#edit-white {
    -fx-image: url("/images/chat/message-actions/edit/edit-white.png");
}

#delete-x-green {
    -fx-image: url("/images/chat/message-actions/delete-x/delete-x-green.png");
}

#delete-x-grey {
    -fx-image: url("/images/chat/message-actions/delete-x/delete-x-grey.png");
}

#delete-x-white {
    -fx-image: url("/images/chat/message-actions/delete-x/delete-x-white.png");
}

#delete-x-red {
    -fx-image: url("/images/chat/message-actions/delete-x/delete-x-red.png");
}

#delete-t-green {
    -fx-image: url("/images/chat/message-actions/delete-trash/delete-trash-green.png");
}

#delete-t-grey {
    -fx-image: url("/images/chat/message-actions/delete-trash/delete-trash-grey.png");
}

#delete-t-white {
    -fx-image: url("/images/chat/message-actions/delete-trash/delete-trash-white.png");
}

#delete-t-red {
    -fx-image: url("/images/chat/message-actions/delete-trash/delete-trash-red.png");
}


/* ------------------------------------------------------------------------------------ */
/* Markets */
/* ------------------------------------------------------------------------------------ */

#market-any-base {
    -fx-image: url("/images/markets/market-any-base.png");
}

#market-any-quote {
    -fx-image: url("/images/markets/market-any-quote.png");
}

#market-bsq {
    -fx-image: url("/images/markets/market-bsq.png");
}

#market-crypto {
    -fx-image: url("/images/markets/market-crypto.png");
}

#market-eur {
    -fx-image: url("/images/markets/market-eur.png");
}

#market-fiat {
    -fx-image: url("/images/markets/market-fiat.png");
}

#market-usd {
    -fx-image: url("/images/markets/market-usd.png");
}

#market-xmr {
    -fx-image: url("/images/markets/market-xmr.png");
}


/* ------------------------------------------------------------------------------------ */
/* Learn */
/* ------------------------------------------------------------------------------------ */

#learn-bisq {
    -fx-image: url("/images/learn/bisq.png");
}

#learn-bitcoin {
    -fx-image: url("/images/learn/bitcoin.png");
}

#learn-privacy {
    -fx-image: url("/images/learn/privacy.png");
}

#learn-security {
    -fx-image: url("/images/learn/security.png");
}

#learn-wallets {
    -fx-image: url("/images/learn/wallets.png");
}

#learn-openSource {
    -fx-image: url("/images/learn/openSource.png");
}


/* ------------------------------------------------------------------------------------ */
/* Channels */
/* ------------------------------------------------------------------------------------ */

/* channels-discussion */

#channels-discussion-bisq {
    -fx-image: url("/images/channels/discussion/bisq/bisq.png");
}

#channels-discussion-bisq-white {
    -fx-image: url("/images/channels/discussion/bisq/bisq-white.png");
}

#channels-discussion-bisq-grey {
    -fx-image: url("/images/channels/discussion/bisq/bisq-grey.png");
}


#channels-discussion-bitcoin {
    -fx-image: url("/images/channels/discussion/bitcoin/bitcoin.png");
}

#channels-discussion-bitcoin-white {
    -fx-image: url("/images/channels/discussion/bitcoin/bitcoin-white.png");
}

#channels-discussion-bitcoin-grey {
    -fx-image: url("/images/channels/discussion/bitcoin/bitcoin-grey.png");
}


#channels-discussion-markets {
    -fx-image: url("/images/channels/discussion/markets/markets.png");
}

#channels-discussion-markets-white {
    -fx-image: url("/images/channels/discussion/markets/markets-white.png");
}

#channels-discussion-markets-grey {
    -fx-image: url("/images/channels/discussion/markets/markets-grey.png");
}


#channels-discussion-offTopic {
    -fx-image: url("/images/channels/discussion/offTopic/offTopic.png");
}

#channels-discussion-offTopic-white {
    -fx-image: url("/images/channels/discussion/offTopic/offTopic-white.png");
}

#channels-discussion-offTopic-grey {
    -fx-image: url("/images/channels/discussion/offTopic/offTopic-grey.png");
}


/* channels-events */

#channels-events-conferences {
    -fx-image: url("/images/channels/events/conferences/conferences.png");
}

#channels-events-conferences-white {
    -fx-image: url("/images/channels/events/conferences/conferences-white.png");
}

#channels-events-conferences-grey {
    -fx-image: url("/images/channels/events/conferences/conferences-grey.png");
}


#channels-events-meetups {
    -fx-image: url("/images/channels/events/meetups/meetups.png");
}

#channels-events-meetups-white {
    -fx-image: url("/images/channels/events/meetups/meetups-white.png");
}

#channels-events-meetups-grey {
    -fx-image: url("/images/channels/events/meetups/meetups-grey.png");
}


#channels-events-podcasts {
    -fx-image: url("/images/channels/events/podcasts/podcasts.png");
}

#channels-events-podcasts-white {
    -fx-image: url("/images/channels/events/podcasts/podcasts-white.png");
}

#channels-events-podcasts-grey {
    -fx-image: url("/images/channels/events/podcasts/podcasts-grey.png");
}


#channels-events-tradeEvents {
    -fx-image: url("/images/channels/events/tradeEvents/tradeEvents.png");
}

#channels-events-tradeEvents-white {
    -fx-image: url("/images/channels/events/tradeEvents/tradeEvents-white.png");
}

#channels-events-tradeEvents-grey {
    -fx-image: url("/images/channels/events/tradeEvents/tradeEvents-grey.png");
}


/* channels-support */

#channels-support-questions {
    -fx-image: url("/images/channels/support/questions/questions.png");
}

#channels-support-questions-white {
    -fx-image: url("/images/channels/support/questions/questions-white.png");
}

#channels-support-questions-grey {
    -fx-image: url("/images/channels/support/questions/questions-grey.png");
}


#channels-support-reports {
    -fx-image: url("/images/channels/support/reports/reports.png");
}

#channels-support-reports-white {
    -fx-image: url("/images/channels/support/reports/reports-white.png");
}

#channels-support-reports-grey {
    -fx-image: url("/images/channels/support/reports/reports-grey.png");
}


#channels-support-support {
    -fx-image: url("/images/channels/support/support/support.png");
}

#channels-support-support-white {
    -fx-image: url("/images/channels/support/support/support-white.png");
}

#channels-support-support-grey {
    -fx-image: url("/images/channels/support/support/support-grey.png");
}


/* channels-private-chats */

#channels-private-chats {
    -fx-image: url("/images/channels/private_chats/privatechat.png");
}

#channels-private-chats-white {
    -fx-image: url("/images/channels/private_chats/privatechat-white.png");
}

#channels-private-chats-grey {
    -fx-image: url("/images/channels/private_chats/privatechat-grey.png");
}


/* wallet-guide */

#blue-wallet-download {
    -fx-image: url("/images/wallet_guide/blue-wallet-download.png");
}

#blue-wallet-create {
    -fx-image: url("/images/wallet_guide/blue-wallet-create.png");
}

#blue-wallet-tx {
    -fx-image: url("/images/wallet_guide/blue-wallet-tx.png");
}

#blue-wallet-qr {
    -fx-image: url("/images/wallet_guide/blue-wallet-qr.png");
}

/* video controls */
#bisq-easy-video-start-image {
    -fx-image: url("/images/video/bisq-easy-video-start-image.png");
}

#bisq-easy-video-end-image {
    -fx-image: url("/images/video/bisq-easy-video-end-image.png");
}

#play {
    -fx-image: url("/images/video/play.png");
}

#pause {
    -fx-image: url("/images/video/pause.png");
}

#large-play {
    -fx-image: url("/images/video/large-play.png");
}

#large-pause {
    -fx-image: url("/images/video/large-pause.png");
}

#large-replay {
    -fx-image: url("/images/video/large-replay.png");
}

#sound {
    -fx-image: url("/images/video/sound.png");
}

#sound-off {
    -fx-image: url("/images/video/sound_off.png");
}


/* ------------------------------------------------------------------------------------ */
/* Reputation */
/* ------------------------------------------------------------------------------------ */

#offer-reputation {
    -fx-image: url("/images/reputation/offer-rep-score.png");
}

#stars-reputation-table {
    -fx-image: url("/images/reputation/rep-table.png");
}


/* ------------------------------------------------------------------------------------ */
/* Wallet */
/* ------------------------------------------------------------------------------------ */

#wallet-password {
    -fx-image: url("/images/wallet/password.png");
}

#wallet-seeds {
    -fx-image: url("/images/wallet/seeds.png");
}

#wallet-verify {
    -fx-image: url("/images/wallet/verify.png");
}

#bisq-btc-logo {
    -fx-image: url("/images/wallet/bisq-bitcoin-logo.png");
}

#latest-txs-grey {
    -fx-image: url("/images/wallet/calendar-grey.png");
}


/* ------------------------------------------------------------------------------------ */
/* Misc */
/* ------------------------------------------------------------------------------------ */

#no-available-cat-hash {
    -fx-image: url("/images/cathash/no-available-cat-hash.png");
}
