/* ------------------------------------------------------------------------------------ */
/* Fiat Logos                                                                           */
/* ------------------------------------------------------------------------------------ */

#market-aed {
    -fx-image: url("/images/markets/fiat-logos/market-aed.png");
}

#market-afn {
    -fx-image: url("/images/markets/fiat-logos/market-afn.png");
}

#market-all {
    -fx-image: url("/images/markets/fiat-logos/market-all.png");
}

#market-amd {
    -fx-image: url("/images/markets/fiat-logos/market-amd.png");
}

#market-aoa {
    -fx-image: url("/images/markets/fiat-logos/market-aoa.png");
}

#market-ars {
    -fx-image: url("/images/markets/fiat-logos/market-ars.png");
}

#market-aud {
    -fx-image: url("/images/markets/fiat-logos/market-aud.png");
}

#market-awg {
    -fx-image: url("/images/markets/fiat-logos/market-awg.png");
}

#market-azn {
    -fx-image: url("/images/markets/fiat-logos/market-azn.png");
}

#market-bam {
    -fx-image: url("/images/markets/fiat-logos/market-bam.png");
}

#market-bbd {
    -fx-image: url("/images/markets/fiat-logos/market-bbd.png");
}

#market-bdt {
    -fx-image: url("/images/markets/fiat-logos/market-bdt.png");
}

#market-bgn {
    -fx-image: url("/images/markets/fiat-logos/market-bgn.png");
}

#market-bhd {
    -fx-image: url("/images/markets/fiat-logos/market-bhd.png");
}

#market-bif {
    -fx-image: url("/images/markets/fiat-logos/market-bif.png");
}

#market-bmd {
    -fx-image: url("/images/markets/fiat-logos/market-bmd.png");
}

#market-bnd {
    -fx-image: url("/images/markets/fiat-logos/market-bnd.png");
}

#market-bob {
    -fx-image: url("/images/markets/fiat-logos/market-bob.png");
}

#market-brl {
    -fx-image: url("/images/markets/fiat-logos/market-brl.png");
}

#market-bsd {
    -fx-image: url("/images/markets/fiat-logos/market-bsd.png");
}

#market-btn {
    -fx-image: url("/images/markets/fiat-logos/market-btn.png");
}

#market-bwp {
    -fx-image: url("/images/markets/fiat-logos/market-bwp.png");
}

#market-byn {
    -fx-image: url("/images/markets/fiat-logos/market-byn.png");
}

#market-bzd {
    -fx-image: url("/images/markets/fiat-logos/market-bzd.png");
}

#market-cad {
    -fx-image: url("/images/markets/fiat-logos/market-cad.png");
}

#market-chf {
    -fx-image: url("/images/markets/fiat-logos/market-chf.png");
}

#market-clp {
    -fx-image: url("/images/markets/fiat-logos/market-clp.png");
}

#market-cny {
    -fx-image: url("/images/markets/fiat-logos/market-cny.png");
}

#market-cop {
    -fx-image: url("/images/markets/fiat-logos/market-cop.png");
}

#market-crc {
    -fx-image: url("/images/markets/fiat-logos/market-crc.png");
}

#market-cup {
    -fx-image: url("/images/markets/fiat-logos/market-cup.png");
}

#market-cve {
    -fx-image: url("/images/markets/fiat-logos/market-cve.png");
}

#market-czk {
    -fx-image: url("/images/markets/fiat-logos/market-czk.png");
}

#market-djf {
    -fx-image: url("/images/markets/fiat-logos/market-djf.png");
}

#market-dkk {
    -fx-image: url("/images/markets/fiat-logos/market-dkk.png");
}

#market-dop {
    -fx-image: url("/images/markets/fiat-logos/market-dop.png");
}

#market-dzd {
    -fx-image: url("/images/markets/fiat-logos/market-dzd.png");
}

#market-egp {
    -fx-image: url("/images/markets/fiat-logos/market-egp.png");
}

#market-ern {
    -fx-image: url("/images/markets/fiat-logos/market-ern.png");
}

#market-etb {
    -fx-image: url("/images/markets/fiat-logos/market-etb.png");
}

#market-eur {
    -fx-image: url("/images/markets/fiat-logos/market-eur.png");
}

#market-fjd {
    -fx-image: url("/images/markets/fiat-logos/market-fjd.png");
}

#market-fkp {
    -fx-image: url("/images/markets/fiat-logos/market-fkp.png");
}

#market-gbp {
    -fx-image: url("/images/markets/fiat-logos/market-gbp.png");
}

#market-gel {
    -fx-image: url("/images/markets/fiat-logos/market-gel.png");
}

#market-ghs {
    -fx-image: url("/images/markets/fiat-logos/market-ghs.png");
}

#market-gip {
    -fx-image: url("/images/markets/fiat-logos/market-gip.png");
}

#market-gmd {
    -fx-image: url("/images/markets/fiat-logos/market-gmd.png");
}

#market-gnf {
    -fx-image: url("/images/markets/fiat-logos/market-gnf.png");
}

#market-gtq {
    -fx-image: url("/images/markets/fiat-logos/market-gtq.png");
}

#market-gyd {
    -fx-image: url("/images/markets/fiat-logos/market-gyd.png");
}

#market-hkd {
    -fx-image: url("/images/markets/fiat-logos/market-hkd.png");
}

#market-hnl {
    -fx-image: url("/images/markets/fiat-logos/market-hnl.png");
}

#market-htg {
    -fx-image: url("/images/markets/fiat-logos/market-htg.png");
}

#market-huf {
    -fx-image: url("/images/markets/fiat-logos/market-huf.png");
}

#market-idr {
    -fx-image: url("/images/markets/fiat-logos/market-idr.png");
}

#market-ils {
    -fx-image: url("/images/markets/fiat-logos/market-ils.png");
}

#market-inr {
    -fx-image: url("/images/markets/fiat-logos/market-inr.png");
}

#market-iqd {
    -fx-image: url("/images/markets/fiat-logos/market-iqd.png");
}

#market-irr {
    -fx-image: url("/images/markets/fiat-logos/market-irr.png");
}

#market-isk {
    -fx-image: url("/images/markets/fiat-logos/market-isk.png");
}

#market-jmd {
    -fx-image: url("/images/markets/fiat-logos/market-jmd.png");
}

#market-jod {
    -fx-image: url("/images/markets/fiat-logos/market-jod.png");
}

#market-jpy {
    -fx-image: url("/images/markets/fiat-logos/market-jpy.png");
}

#market-kes {
    -fx-image: url("/images/markets/fiat-logos/market-kes.png");
}

#market-kgs {
    -fx-image: url("/images/markets/fiat-logos/market-kgs.png");
}

#market-khr {
    -fx-image: url("/images/markets/fiat-logos/market-khr.png");
}

#market-kmf {
    -fx-image: url("/images/markets/fiat-logos/market-kmf.png");
}

#market-kpw {
    -fx-image: url("/images/markets/fiat-logos/market-kpw.png");
}

#market-krw {
    -fx-image: url("/images/markets/fiat-logos/market-krw.png");
}

#market-kwd {
    -fx-image: url("/images/markets/fiat-logos/market-kwd.png");
}

#market-kyd {
    -fx-image: url("/images/markets/fiat-logos/market-kyd.png");
}

#market-kzt {
    -fx-image: url("/images/markets/fiat-logos/market-kzt.png");
}

#market-lak {
    -fx-image: url("/images/markets/fiat-logos/market-lak.png");
}

#market-lbp {
    -fx-image: url("/images/markets/fiat-logos/market-lbp.png");
}

#market-lkr {
    -fx-image: url("/images/markets/fiat-logos/market-lkr.png");
}

#market-lrd {
    -fx-image: url("/images/markets/fiat-logos/market-lrd.png");
}

#market-lsl {
    -fx-image: url("/images/markets/fiat-logos/market-lsl.png");
}

#market-lyd {
    -fx-image: url("/images/markets/fiat-logos/market-lyd.png");
}

#market-mad {
    -fx-image: url("/images/markets/fiat-logos/market-mad.png");
}

#market-mdl {
    -fx-image: url("/images/markets/fiat-logos/market-mdl.png");
}

#market-mga {
    -fx-image: url("/images/markets/fiat-logos/market-mga.png");
}

#market-mmk {
    -fx-image: url("/images/markets/fiat-logos/market-mmk.png");
}

#market-mnt {
    -fx-image: url("/images/markets/fiat-logos/market-mnt.png");
}

#market-mop {
    -fx-image: url("/images/markets/fiat-logos/market-mop.png");
}

#market-mru {
    -fx-image: url("/images/markets/fiat-logos/market-mru.png");
}

#market-mur {
    -fx-image: url("/images/markets/fiat-logos/market-mur.png");
}

#market-mvr {
    -fx-image: url("/images/markets/fiat-logos/market-mvr.png");
}

#market-mwk {
    -fx-image: url("/images/markets/fiat-logos/market-mwk.png");
}

#market-mxn {
    -fx-image: url("/images/markets/fiat-logos/market-mxn.png");
}

#market-myr {
    -fx-image: url("/images/markets/fiat-logos/market-myr.png");
}

#market-mzn {
    -fx-image: url("/images/markets/fiat-logos/market-mzn.png");
}

#market-nad {
    -fx-image: url("/images/markets/fiat-logos/market-nad.png");
}

#market-ngn {
    -fx-image: url("/images/markets/fiat-logos/market-ngn.png");
}

#market-nio {
    -fx-image: url("/images/markets/fiat-logos/market-nio.png");
}

#market-nok {
    -fx-image: url("/images/markets/fiat-logos/market-nok.png");
}

#market-npr {
    -fx-image: url("/images/markets/fiat-logos/market-npr.png");
}

#market-nzd {
    -fx-image: url("/images/markets/fiat-logos/market-nzd.png");
}

#market-omr {
    -fx-image: url("/images/markets/fiat-logos/market-omr.png");
}

#market-pab {
    -fx-image: url("/images/markets/fiat-logos/market-pab.png");
}

#market-pen {
    -fx-image: url("/images/markets/fiat-logos/market-pen.png");
}

#market-pgk {
    -fx-image: url("/images/markets/fiat-logos/market-pgk.png");
}

#market-php {
    -fx-image: url("/images/markets/fiat-logos/market-php.png");
}

#market-pkr {
    -fx-image: url("/images/markets/fiat-logos/market-pkr.png");
}

#market-pln {
    -fx-image: url("/images/markets/fiat-logos/market-pln.png");
}

#market-pyg {
    -fx-image: url("/images/markets/fiat-logos/market-pyg.png");
}

#market-qar {
    -fx-image: url("/images/markets/fiat-logos/market-qar.png");
}

#market-ron {
    -fx-image: url("/images/markets/fiat-logos/market-ron.png");
}

#market-rsd {
    -fx-image: url("/images/markets/fiat-logos/market-rsd.png");
}

#market-rub {
    -fx-image: url("/images/markets/fiat-logos/market-rub.png");
}

#market-rwf {
    -fx-image: url("/images/markets/fiat-logos/market-rwf.png");
}

#market-sar {
    -fx-image: url("/images/markets/fiat-logos/market-sar.png");
}

#market-sbd {
    -fx-image: url("/images/markets/fiat-logos/market-sbd.png");
}

#market-scr {
    -fx-image: url("/images/markets/fiat-logos/market-scr.png");
}

#market-sdg {
    -fx-image: url("/images/markets/fiat-logos/market-sdg.png");
}

#market-sek {
    -fx-image: url("/images/markets/fiat-logos/market-sek.png");
}

#market-sgd {
    -fx-image: url("/images/markets/fiat-logos/market-sgd.png");
}

#market-sle {
    -fx-image: url("/images/markets/fiat-logos/market-sle.png");
}

#market-sos {
    -fx-image: url("/images/markets/fiat-logos/market-sos.png");
}

#market-srd {
    -fx-image: url("/images/markets/fiat-logos/market-srd.png");
}

#market-ssp {
    -fx-image: url("/images/markets/fiat-logos/market-ssp.png");
}

#market-stn {
    -fx-image: url("/images/markets/fiat-logos/market-stn.png");
}

#market-svc {
    -fx-image: url("/images/markets/fiat-logos/market-svc.png");
}

#market-syp {
    -fx-image: url("/images/markets/fiat-logos/market-syp.png");
}

#market-szl {
    -fx-image: url("/images/markets/fiat-logos/market-szl.png");
}

#market-thb {
    -fx-image: url("/images/markets/fiat-logos/market-thb.png");
}

#market-tjs {
    -fx-image: url("/images/markets/fiat-logos/market-tjs.png");
}

#market-tmt {
    -fx-image: url("/images/markets/fiat-logos/market-tmt.png");
}

#market-tnd {
    -fx-image: url("/images/markets/fiat-logos/market-tnd.png");
}

#market-top {
    -fx-image: url("/images/markets/fiat-logos/market-top.png");
}

#market-try {
    -fx-image: url("/images/markets/fiat-logos/market-try.png");
}

#market-ttd {
    -fx-image: url("/images/markets/fiat-logos/market-ttd.png");
}

#market-twd {
    -fx-image: url("/images/markets/fiat-logos/market-twd.png");
}

#market-tzs {
    -fx-image: url("/images/markets/fiat-logos/market-tzs.png");
}

#market-uah {
    -fx-image: url("/images/markets/fiat-logos/market-uah.png");
}

#market-ugx {
    -fx-image: url("/images/markets/fiat-logos/market-ugx.png");
}

#market-usd {
    -fx-image: url("/images/markets/fiat-logos/market-usd.png");
}

#market-uyu {
    -fx-image: url("/images/markets/fiat-logos/market-uyu.png");
}

#market-uzs {
    -fx-image: url("/images/markets/fiat-logos/market-uzs.png");
}

#market-ves {
    -fx-image: url("/images/markets/fiat-logos/market-ves.png");
}

#market-vnd {
    -fx-image: url("/images/markets/fiat-logos/market-vnd.png");
}

#market-vuv {
    -fx-image: url("/images/markets/fiat-logos/market-vuv.png");
}

#market-wst {
    -fx-image: url("/images/markets/fiat-logos/market-wst.png");
}

#market-xaf {
    -fx-image: url("/images/markets/fiat-logos/market-xaf.png");
}

#market-yer {
    -fx-image: url("/images/markets/fiat-logos/market-yer.png");
}

#market-zar {
    -fx-image: url("/images/markets/fiat-logos/market-zar.png");
}

#market-zmw {
    -fx-image: url("/images/markets/fiat-logos/market-zmw.png");
}

#market-zwl {
    -fx-image: url("/images/markets/fiat-logos/market-zwl.png");
}


/* ------------------------------------------------------------------------------------ */
/* Fiat Menu Logos                                                                      */
/* ------------------------------------------------------------------------------------ */

#aed-menu {
    -fx-image: url("/images/markets/fiat-menus/aed-menu.png");
}

#afn-menu {
    -fx-image: url("/images/markets/fiat-menus/afn-menu.png");
}

#all-menu {
    -fx-image: url("/images/markets/fiat-menus/all-menu.png");
}

#amd-menu {
    -fx-image: url("/images/markets/fiat-menus/amd-menu.png");
}

#aoa-menu {
    -fx-image: url("/images/markets/fiat-menus/aoa-menu.png");
}

#ars-menu {
    -fx-image: url("/images/markets/fiat-menus/ars-menu.png");
}

#aud-menu {
    -fx-image: url("/images/markets/fiat-menus/aud-menu.png");
}

#awg-menu {
    -fx-image: url("/images/markets/fiat-menus/awg-menu.png");
}

#azn-menu {
    -fx-image: url("/images/markets/fiat-menus/azn-menu.png");
}

#bam-menu {
    -fx-image: url("/images/markets/fiat-menus/bam-menu.png");
}

#bbd-menu {
    -fx-image: url("/images/markets/fiat-menus/bbd-menu.png");
}

#bdt-menu {
    -fx-image: url("/images/markets/fiat-menus/bdt-menu.png");
}

#bgn-menu {
    -fx-image: url("/images/markets/fiat-menus/bgn-menu.png");
}

#bhd-menu {
    -fx-image: url("/images/markets/fiat-menus/bhd-menu.png");
}

#bif-menu {
    -fx-image: url("/images/markets/fiat-menus/bif-menu.png");
}

#bmd-menu {
    -fx-image: url("/images/markets/fiat-menus/bmd-menu.png");
}

#bnd-menu {
    -fx-image: url("/images/markets/fiat-menus/bnd-menu.png");
}

#bob-menu {
    -fx-image: url("/images/markets/fiat-menus/bob-menu.png");
}

#brl-menu {
    -fx-image: url("/images/markets/fiat-menus/brl-menu.png");
}

#bsd-menu {
    -fx-image: url("/images/markets/fiat-menus/bsd-menu.png");
}

#btn-menu {
    -fx-image: url("/images/markets/fiat-menus/btn-menu.png");
}

#bwp-menu {
    -fx-image: url("/images/markets/fiat-menus/bwp-menu.png");
}

#byn-menu {
    -fx-image: url("/images/markets/fiat-menus/byn-menu.png");
}

#bzd-menu {
    -fx-image: url("/images/markets/fiat-menus/bzd-menu.png");
}

#cad-menu {
    -fx-image: url("/images/markets/fiat-menus/cad-menu.png");
}

#chf-menu {
    -fx-image: url("/images/markets/fiat-menus/chf-menu.png");
}

#clp-menu {
    -fx-image: url("/images/markets/fiat-menus/clp-menu.png");
}

#cny-menu {
    -fx-image: url("/images/markets/fiat-menus/cny-menu.png");
}

#cop-menu {
    -fx-image: url("/images/markets/fiat-menus/cop-menu.png");
}

#crc-menu {
    -fx-image: url("/images/markets/fiat-menus/crc-menu.png");
}

#cup-menu {
    -fx-image: url("/images/markets/fiat-menus/cup-menu.png");
}

#cve-menu {
    -fx-image: url("/images/markets/fiat-menus/cve-menu.png");
}

#czk-menu {
    -fx-image: url("/images/markets/fiat-menus/czk-menu.png");
}

#djf-menu {
    -fx-image: url("/images/markets/fiat-menus/djf-menu.png");
}

#dkk-menu {
    -fx-image: url("/images/markets/fiat-menus/dkk-menu.png");
}

#dop-menu {
    -fx-image: url("/images/markets/fiat-menus/dop-menu.png");
}

#dzd-menu {
    -fx-image: url("/images/markets/fiat-menus/dzd-menu.png");
}

#egp-menu {
    -fx-image: url("/images/markets/fiat-menus/egp-menu.png");
}

#ern-menu {
    -fx-image: url("/images/markets/fiat-menus/ern-menu.png");
}

#etb-menu {
    -fx-image: url("/images/markets/fiat-menus/etb-menu.png");
}

#eur-menu {
    -fx-image: url("/images/markets/fiat-menus/eur-menu.png");
}

#fjd-menu {
    -fx-image: url("/images/markets/fiat-menus/fjd-menu.png");
}

#fkp-menu {
    -fx-image: url("/images/markets/fiat-menus/fkp-menu.png");
}

#gbp-menu {
    -fx-image: url("/images/markets/fiat-menus/gbp-menu.png");
}

#gel-menu {
    -fx-image: url("/images/markets/fiat-menus/gel-menu.png");
}

#ghs-menu {
    -fx-image: url("/images/markets/fiat-menus/ghs-menu.png");
}

#gip-menu {
    -fx-image: url("/images/markets/fiat-menus/gip-menu.png");
}

#gmd-menu {
    -fx-image: url("/images/markets/fiat-menus/gmd-menu.png");
}

#gnf-menu {
    -fx-image: url("/images/markets/fiat-menus/gnf-menu.png");
}

#gtq-menu {
    -fx-image: url("/images/markets/fiat-menus/gtq-menu.png");
}

#gyd-menu {
    -fx-image: url("/images/markets/fiat-menus/gyd-menu.png");
}

#hkd-menu {
    -fx-image: url("/images/markets/fiat-menus/hkd-menu.png");
}

#hnl-menu {
    -fx-image: url("/images/markets/fiat-menus/hnl-menu.png");
}

#htg-menu {
    -fx-image: url("/images/markets/fiat-menus/htg-menu.png");
}

#huf-menu {
    -fx-image: url("/images/markets/fiat-menus/huf-menu.png");
}

#idr-menu {
    -fx-image: url("/images/markets/fiat-menus/idr-menu.png");
}

#ils-menu {
    -fx-image: url("/images/markets/fiat-menus/ils-menu.png");
}

#inr-menu {
    -fx-image: url("/images/markets/fiat-menus/inr-menu.png");
}

#iqd-menu {
    -fx-image: url("/images/markets/fiat-menus/iqd-menu.png");
}

#irr-menu {
    -fx-image: url("/images/markets/fiat-menus/irr-menu.png");
}

#isk-menu {
    -fx-image: url("/images/markets/fiat-menus/isk-menu.png");
}

#jmd-menu {
    -fx-image: url("/images/markets/fiat-menus/jmd-menu.png");
}

#jod-menu {
    -fx-image: url("/images/markets/fiat-menus/jod-menu.png");
}

#jpy-menu {
    -fx-image: url("/images/markets/fiat-menus/jpy-menu.png");
}

#kes-menu {
    -fx-image: url("/images/markets/fiat-menus/kes-menu.png");
}

#kgs-menu {
    -fx-image: url("/images/markets/fiat-menus/kgs-menu.png");
}

#khr-menu {
    -fx-image: url("/images/markets/fiat-menus/khr-menu.png");
}

#kmf-menu {
    -fx-image: url("/images/markets/fiat-menus/kmf-menu.png");
}

#kpw-menu {
    -fx-image: url("/images/markets/fiat-menus/kpw-menu.png");
}

#krw-menu {
    -fx-image: url("/images/markets/fiat-menus/krw-menu.png");
}

#kwd-menu {
    -fx-image: url("/images/markets/fiat-menus/kwd-menu.png");
}

#kyd-menu {
    -fx-image: url("/images/markets/fiat-menus/kyd-menu.png");
}

#kzt-menu {
    -fx-image: url("/images/markets/fiat-menus/kzt-menu.png");
}

#lak-menu {
    -fx-image: url("/images/markets/fiat-menus/lak-menu.png");
}

#lbp-menu {
    -fx-image: url("/images/markets/fiat-menus/lbp-menu.png");
}

#lkr-menu {
    -fx-image: url("/images/markets/fiat-menus/lkr-menu.png");
}

#lrd-menu {
    -fx-image: url("/images/markets/fiat-menus/lrd-menu.png");
}

#lsl-menu {
    -fx-image: url("/images/markets/fiat-menus/lsl-menu.png");
}

#lyd-menu {
    -fx-image: url("/images/markets/fiat-menus/lyd-menu.png");
}

#mad-menu {
    -fx-image: url("/images/markets/fiat-menus/mad-menu.png");
}

#mdl-menu {
    -fx-image: url("/images/markets/fiat-menus/mdl-menu.png");
}

#mga-menu {
    -fx-image: url("/images/markets/fiat-menus/mga-menu.png");
}

#mmk-menu {
    -fx-image: url("/images/markets/fiat-menus/mmk-menu.png");
}

#mnt-menu {
    -fx-image: url("/images/markets/fiat-menus/mnt-menu.png");
}

#mop-menu {
    -fx-image: url("/images/markets/fiat-menus/mop-menu.png");
}

#mru-menu {
    -fx-image: url("/images/markets/fiat-menus/mru-menu.png");
}

#mur-menu {
    -fx-image: url("/images/markets/fiat-menus/mur-menu.png");
}

#mvr-menu {
    -fx-image: url("/images/markets/fiat-menus/mvr-menu.png");
}

#mwk-menu {
    -fx-image: url("/images/markets/fiat-menus/mwk-menu.png");
}

#mxn-menu {
    -fx-image: url("/images/markets/fiat-menus/mxn-menu.png");
}

#myr-menu {
    -fx-image: url("/images/markets/fiat-menus/myr-menu.png");
}

#mzn-menu {
    -fx-image: url("/images/markets/fiat-menus/mzn-menu.png");
}

#nad-menu {
    -fx-image: url("/images/markets/fiat-menus/nad-menu.png");
}

#ngn-menu {
    -fx-image: url("/images/markets/fiat-menus/ngn-menu.png");
}

#nio-menu {
    -fx-image: url("/images/markets/fiat-menus/nio-menu.png");
}

#nok-menu {
    -fx-image: url("/images/markets/fiat-menus/nok-menu.png");
}

#npr-menu {
    -fx-image: url("/images/markets/fiat-menus/npr-menu.png");
}

#nzd-menu {
    -fx-image: url("/images/markets/fiat-menus/nzd-menu.png");
}

#omr-menu {
    -fx-image: url("/images/markets/fiat-menus/omr-menu.png");
}

#pab-menu {
    -fx-image: url("/images/markets/fiat-menus/pab-menu.png");
}

#pen-menu {
    -fx-image: url("/images/markets/fiat-menus/pen-menu.png");
}

#pgk-menu {
    -fx-image: url("/images/markets/fiat-menus/pgk-menu.png");
}

#php-menu {
    -fx-image: url("/images/markets/fiat-menus/php-menu.png");
}

#pkr-menu {
    -fx-image: url("/images/markets/fiat-menus/pkr-menu.png");
}

#pln-menu {
    -fx-image: url("/images/markets/fiat-menus/pln-menu.png");
}

#pyg-menu {
    -fx-image: url("/images/markets/fiat-menus/pyg-menu.png");
}

#qar-menu {
    -fx-image: url("/images/markets/fiat-menus/qar-menu.png");
}

#ron-menu {
    -fx-image: url("/images/markets/fiat-menus/ron-menu.png");
}

#rsd-menu {
    -fx-image: url("/images/markets/fiat-menus/rsd-menu.png");
}

#rub-menu {
    -fx-image: url("/images/markets/fiat-menus/rub-menu.png");
}

#rwf-menu {
    -fx-image: url("/images/markets/fiat-menus/rwf-menu.png");
}

#sar-menu {
    -fx-image: url("/images/markets/fiat-menus/sar-menu.png");
}

#sbd-menu {
    -fx-image: url("/images/markets/fiat-menus/sbd-menu.png");
}

#scr-menu {
    -fx-image: url("/images/markets/fiat-menus/scr-menu.png");
}

#sdg-menu {
    -fx-image: url("/images/markets/fiat-menus/sdg-menu.png");
}

#sek-menu {
    -fx-image: url("/images/markets/fiat-menus/sek-menu.png");
}

#sgd-menu {
    -fx-image: url("/images/markets/fiat-menus/sgd-menu.png");
}

#sle-menu {
    -fx-image: url("/images/markets/fiat-menus/sle-menu.png");
}

#sos-menu {
    -fx-image: url("/images/markets/fiat-menus/sos-menu.png");
}

#srd-menu {
    -fx-image: url("/images/markets/fiat-menus/srd-menu.png");
}

#ssp-menu {
    -fx-image: url("/images/markets/fiat-menus/ssp-menu.png");
}

#stn-menu {
    -fx-image: url("/images/markets/fiat-menus/stn-menu.png");
}

#svc-menu {
    -fx-image: url("/images/markets/fiat-menus/svc-menu.png");
}

#syp-menu {
    -fx-image: url("/images/markets/fiat-menus/syp-menu.png");
}

#szl-menu {
    -fx-image: url("/images/markets/fiat-menus/szl-menu.png");
}

#thb-menu {
    -fx-image: url("/images/markets/fiat-menus/thb-menu.png");
}

#tjs-menu {
    -fx-image: url("/images/markets/fiat-menus/tjs-menu.png");
}

#tmt-menu {
    -fx-image: url("/images/markets/fiat-menus/tmt-menu.png");
}

#tnd-menu {
    -fx-image: url("/images/markets/fiat-menus/tnd-menu.png");
}

#top-menu {
    -fx-image: url("/images/markets/fiat-menus/top-menu.png");
}

#try-menu {
    -fx-image: url("/images/markets/fiat-menus/try-menu.png");
}

#ttd-menu {
    -fx-image: url("/images/markets/fiat-menus/ttd-menu.png");
}

#twd-menu {
    -fx-image: url("/images/markets/fiat-menus/twd-menu.png");
}

#tzs-menu {
    -fx-image: url("/images/markets/fiat-menus/tzs-menu.png");
}

#uah-menu {
    -fx-image: url("/images/markets/fiat-menus/uah-menu.png");
}

#ugx-menu {
    -fx-image: url("/images/markets/fiat-menus/ugx-menu.png");
}

#usd-menu {
    -fx-image: url("/images/markets/fiat-menus/usd-menu.png");
}

#uyu-menu {
    -fx-image: url("/images/markets/fiat-menus/uyu-menu.png");
}

#uzs-menu {
    -fx-image: url("/images/markets/fiat-menus/uzs-menu.png");
}

#ves-menu {
    -fx-image: url("/images/markets/fiat-menus/ves-menu.png");
}

#vnd-menu {
    -fx-image: url("/images/markets/fiat-menus/vnd-menu.png");
}

#vuv-menu {
    -fx-image: url("/images/markets/fiat-menus/vuv-menu.png");
}

#wst-menu {
    -fx-image: url("/images/markets/fiat-menus/wst-menu.png");
}

#xaf-menu {
    -fx-image: url("/images/markets/fiat-menus/xaf-menu.png");
}

#yer-menu {
    -fx-image: url("/images/markets/fiat-menus/yer-menu.png");
}

#zar-menu {
    -fx-image: url("/images/markets/fiat-menus/zar-menu.png");
}

#zmw-menu {
    -fx-image: url("/images/markets/fiat-menus/zmw-menu.png");
}

#zwl-menu {
    -fx-image: url("/images/markets/fiat-menus/zwl-menu.png");
}


/* ------------------------------------------------------------------------------------ */
/* Crypto Logos                                                                         */
/* ------------------------------------------------------------------------------------ */

#market-btc {
    -fx-image: url("/images/markets/crypto-logos/market-btc.png");
}


/* ------------------------------------------------------------------------------------ */
/* Crypto Menu Logos                                                                    */
/* ------------------------------------------------------------------------------------ */

#btc-menu {
    -fx-image: url("/images/markets/crypto-menus/btc-menu.png");
}

#xmr-menu {
    -fx-image: url("/images/markets/crypto-menus/xmr-menu.png");
}
