.offerbook-level2-tab {
    -fx-background-color: -bisq-dark-grey-20;
    -fx-background-radius: 8 8 0 0;
}

.offerbook-container {
    -fx-background-color: -bisq-dark-grey-20;
}

.mu-sig-open-trades-header {
    -fx-background-color: -bisq-dark-grey-20;
    -fx-max-height: 61;
    -fx-min-height: 61;
    -fx-pref-height: 61;
    -fx-alignment: center-left;
    -fx-padding: 12.5 25 12.5 25;
}


/*******************************************************************************
 *                                                                             *
 * Offerbook                                                                   *
 *                                                                             *
 ******************************************************************************/

.mu-sig-subheader-content {
    -fx-alignment: center-right;
    -fx-padding: 12.5 25 12.5 25;
}
