.offerbook-level2-tab {
    -fx-background-color: -bisq-dark-grey-20;
    -fx-background-radius: 8 8 0 0;
}

.offerbook-container {
    -fx-background-color: -bisq-dark-grey-20;
}


/*******************************************************************************
 *                                                                             *
 * Offerbook                                                                   *
 *                                                                             *
 ******************************************************************************/

.mu-sig-offerbook-subheader-content {
    -fx-alignment: center-right;
    -fx-padding: 0 25 0 25;
}

.mu-sig-offerbook-offerlist-toggle-button-hbox .toggle-button {
    -fx-background-radius: 9;
    -fx-border-radius: 9;
    -fx-max-height: 18;
    -fx-min-height: 18;
    -fx-pref-height: 18;
    -fx-padding: -1 12 1 12;
    -fx-font-size: 0.96em;
    -fx-font-family: "IBM Plex Sans";
    -fx-alignment: baseline-center;
    -fx-text-fill: -fx-mid-text-color;
    -fx-border-color: -fx-mid-text-color;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.mu-sig-offerbook-offerlist-toggle-button-hbox {
    -fx-alignment: center-right;
}

.mu-sig-offerbook-offerlist-toggle-button-hbox .toggle-button:focused,
.mu-sig-offerbook-offerlist-toggle-button-hbox .toggle-button:selected,
.mu-sig-offerbook-offerlist-toggle-button-hbox .toggle-button:pressed {
    -fx-max-height: 18;
    -fx-min-height: 18;
    -fx-pref-height: 18;
    -fx-padding: -1 12 1 12;
}

.mu-sig-offerbook-offerlist-toggle-button-hbox .toggle-button:selected {
    -fx-text-fill: -fx-light-text-color !important;
    -fx-border-color: transparent;
}

.mu-sig-offerbook-offerlist-toggle-button-hbox .offerlist-toggle-button-all-offers.toggle-button:selected,
.mu-sig-offerbook-offerlist-toggle-button-hbox .offerlist-toggle-button-my-offers.toggle-button:selected {
    -fx-background-color: -bisq-mid-grey-10;
}

.mu-sig-offerbook-offerlist-toggle-button-hbox .offerlist-toggle-button-buy.toggle-button:selected {
    -fx-background-color: -bisq2-green-dim-20;
}

.mu-sig-offerbook-offerlist-toggle-button-hbox .offerlist-toggle-button-sell.toggle-button:selected {
    -fx-background-color: -bisq2-red;
}

.mu-sig-offerbook-offerlist-myOffer-label-box {
    -fx-border-color: -bisq-mid-grey-20;
    -fx-background-radius: 8;
    -fx-background-insets: 0;
    -fx-border-radius: 8;
    -fx-font-size: 1em;
    -fx-font-family: "IBM Plex Sans";
}
