/*******************************************************************************
 *                                                                             *
 * Font sizes                                                                  *
 *                                                                             *
 ******************************************************************************/

.very-small-text {
    -fx-font-size: 0.692em;
}

.small-text {
    -fx-font-size: 0.769em;
}

.compact-text {
    -fx-font-size: 0.9em !important;
}

.medium-text {
    -fx-font-size: 1.02em !important;
}

.normal-text {
    -fx-font-size: 1.1em !important;
}

.large-text {
    -fx-font-size: 1.78em;
}

.very-large-text {
    -fx-font-size: 2em;
}

.very-large-text-2 {
    -fx-font-size: 2.4em;
}

.super-large-text {
    -fx-font-size: 4.1em !important;
}

/*******************************************************************************
 *                                                                             *
 * Font weight                                                                  *
 *                                                                             *
 ******************************************************************************/

.thin-text {
    -fx-font-family: "IBM Plex Sans Thin";
}

.light-text {
    -fx-font-family: "IBM Plex Sans Light";
}

/*******************************************************************************
 * Text based                                                                  *
 ******************************************************************************/

.error {
    -fx-text-fill: -bisq-error !important;
    -fx-fill: -bisq-error !important;
    /*-fx-background-color: -bisq-error !important; might have be used in some validation context at materialtextfield but need to be moved to another error style class */
}

.hand-cursor {
    -fx-cursor: hand;
}


/*******************************************************************************
 *                                                                             *
 * TextArea                                                                    *
 *                                                                             *
 ******************************************************************************/

.text-area {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-background-radius: 2;
    -fx-border-style: none;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.25em;
    -fx-font-family: "IBM Plex Sans Light";
}

.text-area > .scroll-pane {
    -fx-background-color: null;
}

.text-area > .scroll-pane > .scroll-bar:horizontal {
    -fx-background-radius: 0 0 2 2;
}

.text-area > .scroll-pane > .scroll-bar:vertical {
    -fx-background-radius: 0 2 2 0;
}

.text-area > .scroll-pane > .corner {
    -fx-background-radius: 0 0 2 0;
}

.text-area .content {
    /* is 1px less top and bottom than TextInput because of scrollPane border */
    -fx-padding: 0.25em 0.583em 0.25em 0.583em; /* 3 7 3 7 */
    -fx-cursor: text;
    -fx-background-color: transparent;
    -fx-background-radius: 2;
}

.text-area:focused .content {
    -fx-background-color: -bisq-content-bg-grey;
}


/*******************************************************************************
 *                                                                             *
 * Custom Text based                                                           *
 *                                                                             *
 ******************************************************************************/

.bisq-text-headline-1 {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 4.1em;
}

.bisq-text-headline-2 {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.7em;
}

.bisq-text-headline-3 {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Thin";
    -fx-font-size: 3.4em;
}

.bisq-text-headline-4 {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 3.15em;
}

.bisq-text-headline-5 {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 2.5em;
}

.bisq-text-headline-6 {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 2.2em;
}

.bisq-text-1 {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.25em;
}

.bisq-text-2 {
    -fx-fill: -bisq-mid-grey-20;
    -fx-text-fill: -bisq-mid-grey-20;
    -fx-font-size: 1.2em;
}

.bisq-text-3 {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1.15em;
    -fx-font-family: "IBM Plex Sans Light";
}

.bisq-text-4 {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 0.8em;
}

.bisq-text-5 {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.1em;
    -fx-font-family: "IBM Plex Sans Medium";
}

.bisq-text-6 {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.1em;
}

.bisq-text-7 {
    -fx-font-size: 0.92em;
    -fx-font-family: "IBM Plex Sans Light";
}

.bisq-text-8 {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 0.92em;
    -fx-font-family: "IBM Plex Sans Medium";
}

.bisq-text-9 {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.54em;
    -fx-font-family: "IBM Plex Sans Light";
}

.bisq-text-10 {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 0.9em;
    -fx-font-family: "IBM Plex Sans Light";
}

.bisq-text-11 {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 4.1em;
    -fx-font-family: "IBM Plex Sans Thin";
}

.bisq-text-12 {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 2.0em;
    -fx-font-family: "IBM Plex Sans Thin";
}

.bisq-text-13 {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.1em;
}

.bisq-text-14 {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 0.9em;
    -fx-font-family: "IBM Plex Sans Light";
}

.bisq-text-15 {
    -fx-fill: -bisq2-green;
    -fx-text-fill: -bisq2-green;
    -fx-font-size: 2.15em;
    -fx-font-family: "IBM Plex Sans Light";
}

.bisq-text-16 {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1.25em;
    -fx-font-family: "IBM Plex Sans Light";
}

.bisq-text-17 {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 2.15em;
    -fx-font-family: "IBM Plex Sans Light";
}

.bisq-text-18 {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 0.9em;
    -fx-font-family: "IBM Plex Sans Light";
}

.bisq-text-19 {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1em;
    -fx-font-family: "IBM Plex Sans Light";
}

#bisq-text-20 {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 0.9em;
    -fx-font-family: "IBM Plex Sans Light";
}

.bisq-text-21 {
    -fx-fill: -fx-light-text-color !Important;
    -fx-text-fill: -fx-light-text-color !Important;
    -fx-font-size: 1.1em !Important;
    -fx-font-family: "IBM Plex Sans Light";
}

.popup-text {
    -fx-fill: -bisq-mid-grey-30;
    -fx-text-fill: -bisq-mid-grey-30;
    -fx-font-size: 1.15em;
    -fx-font-family: "IBM Plex Sans Light";
}


/* Generic Label properties */

/* colors */
.text-fill-white {
    -fx-fill: -fx-light-text-color !Important;
    -fx-text-fill: -fx-light-text-color !Important;
}

.text-fill-light-dimmed {
    -fx-text-fill: -bisq-light-grey-10 !Important;
}

.text-fill-grey-dimmed {
    -fx-text-fill: -fx-mid-text-color !Important;
}

.text-fill-green {
    -fx-fill: -bisq2-green !Important;
    -fx-text-fill: -bisq2-green !Important;
}

/* sizes */
.font-size-40 {
    -fx-font-size: 4em !Important;
}

.font-size-36 {
    -fx-font-size: 3.6em !Important;
}

.font-size-32 {
    -fx-font-size: 3.2em !Important;
}

.font-size-28 {
    -fx-font-size: 2.8em !Important;
}

.font-size-25 {
    -fx-font-size: 2.5em !Important;
}

.font-size-24 {
    -fx-font-size: 2.4em !Important;
}

.font-size-22 {
    -fx-font-size: 2.2em !Important;
}

.font-size-20 {
    -fx-font-size: 2em !Important;
}

.font-size-18 {
    -fx-font-size: 1.8em !Important;
}

.font-size-17 {
    -fx-font-size: 1.7em !Important;
}

.font-size-16 {
    -fx-font-size: 1.6em !Important;
}

.font-size-15 {
    -fx-font-size: 1.5em !Important;
}

.font-size-14 {
    -fx-font-size: 1.4em !Important;
}

.font-size-13 {
    -fx-font-size: 1.3em !Important;
}

.font-size-12 {
    -fx-font-size: 1.2em !Important;
}

.font-size-11 {
    -fx-font-size: 1.1em !Important;
}

.font-size-10 {
    -fx-font-size: 1em !Important;
}

.font-size-09 {
    -fx-font-size: 0.9em !Important;
}

.font-size-08 {
    -fx-font-size: 0.8em !Important;
}

.font-size-07 {
    -fx-font-size: 0.7em !Important;
}

.font-size-large {
    -fx-font-size: 1.7em !Important;
}

/* fonts */
.font-light {
    -fx-font-family: "IBM Plex Sans Light" !Important;
}

.font-default {
    -fx-font-family: "IBM Plex Sans" !Important;
}

.font-medium {
    -fx-font-family: "IBM Plex Sans Medium" !Important;
}

.wrap-text {
    -fx-wrap-text: true;
}

.text-underline {
    -fx-underline: true;
}

.text-color-light {
    -fx-fill: -fx-light-text-color !Important;
    -fx-text-fill: -fx-light-text-color !Important;
}

.text-color-green {
    -fx-fill: -bisq2-green !Important;
    -fx-text-fill: -bisq2-green !Important;
}

.text-input {
    -fx-highlight-fill: -bisq2-green;
}

.text-input:focused {
    -fx-highlight-fill: -bisq2-green;
}

#base-amount-text-field {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-text-fill: -fx-light-text-color;
    -fx-highlight-fill: -bisq2-green;
    -fx-font-size: 3.75em;
    -fx-font-family: "IBM Plex Sans Thin";
}

#base-amount-text-field-small {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-text-fill: -fx-light-text-color;
    -fx-highlight-fill: -bisq2-green;
    -fx-font-size: 3em;
    -fx-font-family: "IBM Plex Sans Thin";
}

#base-amount-text-field-very-small {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-text-fill: -fx-light-text-color;
    -fx-highlight-fill: -bisq2-green;
    -fx-font-size: 2em;
    -fx-font-family: "IBM Plex Sans Thin";
}

#quote-amount-text-field {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-text-fill: -bisq-mid-grey-30;
    -fx-font-size: 1.1em;
    -fx-font-family: "IBM Plex Sans Light";
}


/*******************************************************************************
 *                                                                             *
 * Custom Label based                                                          *
 *                                                                             *
 ******************************************************************************/

.bisq-big-light-headline-label {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 2.51em;
}

.bisq-sub-title-label {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.44em;
}

.bisq-large-profile-id-label {
    -fx-background-color: -bisq-mid-grey-10;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1em;
}

.bisq-small-light-label {
    -fx-font-size: 0.9em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -fx-light-text-color;
}

.bisq-small-light-label-dimmed {
    -fx-font-size: 0.9em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -bisq-mid-grey-20;
}

.bisq-content-headline-label {
    -fx-font-size: 1.8em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -fx-light-text-color;
}

.bisq-popup-headline-label {
    -fx-font-size: 1.35em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -bisq2-green;
}

.bisq-tab-button-label {
    -fx-font-size: 0.93em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-graphic-text-gap: 8;
}

.bisq-smaller-label {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 0.73em;
}

.bisq-smaller-dimmed-label {
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 0.73em;
}

.bisq-grey-dimmed {
    -fx-text-fill: -bisq-mid-grey-20;
}

.bisq-text-white {
    -fx-text-fill: -fx-light-text-color;
}

.bisq-text-green {
    -fx-text-fill: -bisq2-green;
}

.bisq-text-yellow {
    -fx-text-fill: -bisq2-yellow !important;
}

.bisq-text-yellow-dim {
    -fx-text-fill: -bisq2-yellow-dim-10 !important;
}

.bisq-text-error {
    -fx-text-fill: -bisq-error !important;
}

.bisq-text-grey-9 {
    -fx-text-fill: -fx-mid-text-color;
}

.bisq-text-grey-10 {
    -fx-text-fill: -bisq-mid-grey-30;
}

.font-medium {
    -fx-font-family: "IBM Plex Sans Medium";
}

.font-semi-bold {
    -fx-font-family: "IBM Plex Sans SemiBold";
}

.font-light {
    -fx-font-family: "IBM Plex Sans Light";
}

.bisq-text-125 {
    -fx-font-size: 1.25em;
}

.large-thin-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Thin";
    -fx-font-size: 2.3em;
}

.dimmed-text {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1em;
}

.dimmed-text {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1em;
}

.code-block {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Mono";
    -fx-font-size: 1em;
}


/*******************************************************************************
 *                                                                             *
 * MaterialTextField                                                           *
 *                                                                             *
 ******************************************************************************/

.material-text-field {
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-light-text-color;
    -fx-prompt-text-fill: #575757;
    -fx-font-size: 1.25em;
    -fx-font-family: "IBM Plex Sans Light";
}

.material-text-field-selection-line {
    -fx-background-color: -bisq2-green;
}

.material-text-field-bg {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-background-radius: 4 4 0 0;
}

.material-text-field-bg-hover {
    -fx-background-color: rgba(255, 255, 255, 0.075);
}

.material-text-field-bg-selected {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.material-text-field-description-small {
    -fx-font-size: 0.95em;
}

.material-text-field-description-big {
    -fx-font-size: 1.25em;
}

.material-text-field-description-selected {
    -fx-text-fill: -bisq2-green;
}

.material-text-field-description-deselected {
    -fx-text-fill: -fx-mid-text-color;
}

.material-text-field-description-read-only {
    -fx-text-fill: -fx-mid-text-color;
}

.material-text-field-read-only {
    -fx-text-fill: -fx-light-text-color;
}

.material-text-field-help {
    -fx-font-size: 0.95em;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
}

.material-text-field-selection-line:error {
    -fx-background-color: -bisq2-red;
}

.material-text-field-description-deselected:error,
.material-text-field-description-read-only:error,
.material-text-field-description-selected:error,
.material-text-field-description-small:error,
.material-text-field-description-big:error {
    -fx-text-fill: -bisq2-red;
    -fx-fill: -bisq2-red;
}

.material-text-field-error {
    -fx-font-size: 0.95em;
    -fx-text-fill: -bisq2-red;
    -fx-font-family: "IBM Plex Sans Light";
}

/* Used for textarea*/
.material-text-field:focused .content {
    -fx-background-color: transparent;
}

/* To center password eye icon in MaterialPasswordField */
.password-eye-icon {
    -fx-translate-y: 10px;
}

.password-smaller-dots {
    -fx-font-size: 1.0em;
}


/*******************************************************************************
 *                                                                             *
 * Custom TextInputBox based                                                   *
 *                                                                             *
 ******************************************************************************/

.bisq-input-box-top-pane {
    -fx-background-color: -bisq-dark-grey-40;
    -fx-background-radius: 4 4 0 0;
}

.bisq-input-box-description-label {
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 0.9em;
    -fx-font-family: "IBM Plex Sans Light";
}

.bisq-input-box-text-input {
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-light-text-color;
    -fx-prompt-text-fill: -bisq-mid-grey-10;
    -fx-font-size: 1.25em;
    -fx-font-family: "IBM Plex Sans Light";
}

.bisq-input-box-text-input:focused .content {
    -fx-background-color: transparent;
}


/*******************************************************************************
 *                                                                             *
 * SelectableLabel                                                             *
 *                                                                             *
 ******************************************************************************/

.selectable-label {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-style: none;;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.9em;
    -fx-font-family: "IBM Plex Sans Light";
}

.selectable-label .content {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.selectable-label:focused .content {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}


/*******************************************************************************
 *                                                                             *
 * TransparentTextField                                                        *
 *                                                                             *
 ******************************************************************************/

.transparent-text-field .material-text-field-bg,
.transparent-text-field .material-text-field-bg-hover {
    -fx-background-color: -bisq-dark-grey-20;
}

.transparent-text-field .material-text-field-description-small,
.transparent-text-field .material-text-field-description-big {
    -fx-font-size: 0.9em;
}

.transparent-text-field .material-text-field {
    -fx-font-size: 1.1em;
}

.transparent-text-field .material-text-field-line {
    -fx-opacity: 0.25;
}

.transparent-text-field .active-bg {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-background-radius: 8 8 0 0;
}

.transparent-text-field .button.icon-buttons {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-focus-traversable: false;
    -fx-cursor: hand;
}
