/*******************************************************************************
 * Payment account                                                             *
 ******************************************************************************/

.user-payment-account-no-data {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.15em;
}

.user-content-text {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.1em;
}

.user-content-note {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.1em;
}

/*******************************************************************************
 * Reputation                                                                  *
 ******************************************************************************/

.user-reputation-table-view {
    -fx-background-color: -bisq-dark-grey-20;
}

.account-age .import-step .step-title {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Medium";
    -fx-font-size: 0.93em;
}

.account-age .import-step .step-instruction {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 0.9em;
    -fx-padding: 2 0 0 2;
}

.account-age .import-step .material-field {
    -fx-font-size: 0.9em;
}

/*******************************************************************************
 * Bonded roles                                                                *
 ******************************************************************************/

.user-bonded-roles-info-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.7em;
}

.user-bonded-roles-info-text {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.1em;
}

.user-bonded-roles-select-user-box {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-background-radius: 4 4 0 0;
}

.user-bonded-roles-select-user-description {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 0.95em;
    -fx-font-family: "IBM Plex Sans Light";
}

.user-bonded-roles-table-view {
    -fx-background-color: -bisq-dark-grey-20;
}

.user-bonded-roles-tab-view {
    -fx-background-color: -bisq-dark-grey-20;
    -fx-background-radius: 8;
}

/*******************************************************************************
 * User Profile Controller                                                     *
 ******************************************************************************/

.user-profile-selection .dropdown-menu {
    -fx-alignment: center;
    -fx-min-height: 45;
}

.user-profile-selection .dropdown-menu .dropdown-menu-content-hbox,
.user-profile-selection-material-design .dropdown-menu .dropdown-menu-content-hbox {
    -fx-alignment: center;
}

.user-profile-selection-material-design .dropdown-menu,
.user-profile-selection-material-design .dropdown-menu:hover {
    -fx-background-color: none;
}

.user-profile-selection .single-user-profile {
    -fx-min-height: 45;
    -fx-padding: 0 5 0 5;
    -fx-alignment: center;
}

.user-profile-selection-material-design .user-profile-display-name {
    -fx-font-size: 0.8em !important;
}

.user-profile-selection-material-design .dropdown-menu,
.user-profile-selection-material-design .single-user-profile {
    -fx-padding: 0 10 !important;
    -fx-min-height: 35;
    -fx-alignment: center;
}

/*******************************************************************************
 * Profile Card                                                                *
 ******************************************************************************/

.profile-card .header-content {
    -fx-max-height: 100;
    -fx-pref-height: 100;
    -fx-min-height: 100;
    -fx-padding: 2 0 2 0;
}

.profile-card .overview .title {
    -fx-font-size: 1.4em;
    -fx-font-family: "IBM Plex Sans Light";
}

.profile-card .bisq-common-bg {
    -fx-padding: 35 !important;
}

.profile-card .reputation .header {
    -fx-pref-height: 8;
    -fx-background-color: -bisq-dark-grey-30;
    -fx-background-radius: 8 8 0 0;
}

.profile-card .reputation .reputation-table.table-view {
    -fx-pref-height: 300;
    -fx-background-radius: 0 0 8 8;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.profile-card .reputation .reputation-table.table-view .table-cell .text {
    -fx-font-size: 0.9em;
    -fx-padding: 0;
}

.profile-card .reputation .reputation-table.table-view .column-header {
    -fx-pref-height: 25;
}

.profile-card .reputation .reputation-table.table-view .table-row-cell {
    -fx-border-width: 0;
}
