/*******************************************************************************
 * TAC                                                              *
 ******************************************************************************/

.tac-headline {
    -fx-fill: -fx-light-text-color !important;
    -fx-text-fill: -fx-light-text-color !important;
    -fx-font-size: 1.8em !important;
    -fx-font-family: "IBM Plex Sans Light" !important;
}

.tac-text {
    -fx-fill: -fx-light-text-color !important;
    -fx-text-fill: -fx-light-text-color !important;
    -fx-font-size: 1.1em !important;
    -fx-font-family: "IBM Plex Sans Light" !important;
}

/*******************************************************************************
 * Updater                                                              *
 ******************************************************************************/

.updater-headline {
    -fx-fill: -fx-light-text-color !important;
    -fx-text-fill: -fx-light-text-color !important;
    -fx-font-size: 2em !important;
    -fx-font-family: "IBM Plex Sans Light" !important;
}

.updater-sub-headline {
    -fx-fill: -fx-light-text-color !important;
    -fx-text-fill: -fx-light-text-color !important;
    -fx-font-size: 1.5em !important;
    -fx-font-family: "IBM Plex Sans Light" !important;
}

.updater-release-notes {
    -fx-fill: -fx-light-text-color !important;
    -fx-text-fill: -fx-light-text-color !important;
    -fx-font-size: 1.1em !important;
    -fx-font-family: "IBM Plex Sans Light" !important;
}

.updater-release-notes .content {
    -fx-padding: 1.0em;
    -fx-background-color: -bisq-grey-2;
}

.updater-release-notes:focused .content {
    -fx-padding: 1.0em;
    -fx-background-color: -bisq-grey-2;
}

.updater-text {
    -fx-fill: -fx-light-text-color !important;
    -fx-text-fill: -fx-light-text-color !important;
    -fx-font-size: 1.1em !important;
    -fx-font-family: "IBM Plex Sans Light" !important;
}

.updater-table-view {
    -fx-background-color: -bisq-grey-2;
}

/*******************************************************************************
 * Settings                                                              *
 ******************************************************************************/

.settings-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.7em;
}

.settings-sub-headLine {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.25em;
}

.settings-box-bg {
    -fx-background-color: -bisq-grey-2;
    -fx-padding: 20px;
}

/*******************************************************************************
 * Components                                                              *
 ******************************************************************************/

.user-profile-display {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.1em;
    -fx-font-family: "IBM Plex Sans Light";
}