@font-face {
    font-family: "IBM Plex Sans";
    src: url("/fonts/IBMPlexSans-Regular.ttf");
}

@font-face {
    font-family: "IBM Plex Sans Bold";
    src: url("/fonts/IBMPlexSans-Bold.ttf");
}

@font-face {
    font-family: "IBM Plex Sans SemiBold";
    src: url("/fonts/IBMPlexSans-SemiBold.ttf");
}

@font-face {
    font-family: "IBM Plex Sans Medium";
    src: url("/fonts/IBMPlexSans-Medium.ttf");
}

@font-face {
    font-family: "IBM Plex Sans Light";
    src: url("/fonts/IBMPlexSans-Light.ttf");
}

@font-face {
    font-family: "IBM Plex Sans Thin";
    src: url("/fonts/IBMPlexSans-Thin.ttf");
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/IBMPlexMono-Regular.ttf");
}

.root {
    -fx-font-family: "IBM Plex Sans";
    -fx-font-size: 13;


    /* Colors */
    -bisq-green: #56ae48; /* rgb(86,174,72) */
    -bisq-green-lighter: #53a746;
    -bisq-green-pressed: #488e3e;
    -bisq-green-bright: #25b135; /* Green logo color used in Bisq 1 */
    -bisq-white: white;
    -bisq-black: #000000;
    -bisq-turquoise: #2cacaf;
    -bisq-buy: #006600;
    -bisq-sell: #660000;
    -bisq-red: #d02c1f;
    -bisq-warning: #d0831f;
    -bisq-table-base: #1D1D1D;
    -bisq-orange: #d39c0c;

    /* Greys */
    -bisq-grey-dimmed: #828282;
    -bisq-grey-disabled: #4D4D4D;

    -bisq-grey-2: #1D1D1D;
    -bisq-grey-3: #212121;
    -bisq-grey-4: #262626;
    -bisq-grey-5: #333333;
    -bisq-grey-6: #474748;
    -bisq-grey-8: #545454;
    -bisq-grey-10: #a9a9a9;
    -bisq-grey-11: #C9C9C9;
    -bisq-grey-12: #2E2E2E;
    -bisq-grey-13: #6A6A6A;
    -bisq-grey-14: #474747;
    -bisq-grey-15: #292929;
    -bisq-grey-16: #393939;
    -bisq-grey-17: #2f2f2f;
    -bisq-grey-18: #151515;
    -bisq-grey-19: #282828;
    -bisq-grey-20: #454545;
    -bisq-grey-21: #343434;
    -bisq-grey-22: #707070;
    -bisq-grey-23: #1e1e1e;
    -bisq-grey-24: #2c2c2c;
    -bisq-grey-25: #313131;


    /* Background colors */
    -bisq-darker-grey: -bisq-grey-2;
    -bisq-dark-grey: -bisq-grey-3;
    -bisq-content-bg-grey: -bisq-grey-4;
    -bisq-popup-bg-grey: -bisq-grey-15;

    /* Border colors */
    -bisq-border-color-grey: -bisq-grey-disabled;
    -bisq-border-color-grey-hover: -bisq-grey-11;


    -fx-base: -bisq-content-bg-grey;
    -fx-accent: -bisq-green;
    -fx-background: -bisq-content-bg-grey;

    -fx-color: -bisq-grey-17;
    -fx-body-color: -fx-color;

    -fx-box-border: transparent;
    -fx-focus-color: -fx-accent;
    -fx-faint-focus-color: -fx-accent;
    -fx-default-button: -bisq-green;

    -fx-dark-text-color: -bisq-black;
    -fx-mid-text-color: -bisq-grey-dimmed;
    -fx-light-text-color: -bisq-white;

    -bisq-error: -bisq-red;
}
