@font-face {
    font-family: "IBM Plex Sans";
    src: url("/fonts/IBMPlexSans-Regular.ttf");
}

@font-face {
    font-family: "IBM Plex Sans Bold";
    src: url("/fonts/IBMPlexSans-Bold.ttf");
}

@font-face {
    font-family: "IBM Plex Sans SemiBold";
    src: url("/fonts/IBMPlexSans-SemiBold.ttf");
}

@font-face {
    font-family: "IBM Plex Sans Medium";
    src: url("/fonts/IBMPlexSans-Medium.ttf");
}

@font-face {
    font-family: "IBM Plex Sans Light";
    src: url("/fonts/IBMPlexSans-Light.ttf");
}

@font-face {
    font-family: "IBM Plex Sans Thin";
    src: url("/fonts/IBMPlexSans-Thin.ttf");
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/IBMPlexMono-Regular.ttf");
}

.root {
    -fx-font-family: "IBM Plex Sans";
    -fx-font-size: 13;

    /* Colors */
    -bisq-buy: #006600;
    -bisq-sell: #660000;
    -bisq-red: #d02c1f;
    -bisq-warning: #d0831f;
    -bisq-yellow: #e5a500;
    -you-tube-red: #fc0d1b;

    /* Bisq 2 Colors */
    -bisq-green-logo: #25b135;
    -bisq2-green: #56ae48;
    -bisq2-green-dim-10: #4d9c40;
    -bisq2-green-dim-20: #448b39;
    -bisq2-green-dim-30: #3c7932;

    /* Bisq Grey Palette */
    -bisq-black-dim: #050505;
    -bisq-black-mid: #0d0d0d;
    -bisq-black-lit: #151515;
    -bisq-dark-grey-dim: #1e1e1e;
    -bisq-dark-grey-mid: #2b2b2b;
    -bisq-dark-grey-lit: #383838;
    -bisq-medium-grey-dim: #4d4d4d;
    -bisq-medium-grey-mid: #808080;
    -bisq-medium-grey-lit: #b2b2b2;
    -bisq-light-grey-dim: #c7c7c7;
    -bisq-light-grey-mid: #d4d4d4;
    -bisq-light-grey-lit: #e1e1e1;
    -bisq-white-dim: #eaeaea;
    -bisq-white-mid: #f2f2f2;
    -bisq-white-lit: #fafafa;

    /* Background colors */
    -bisq-darker-grey: -bisq-dark-grey-dim;
    -bisq-dark-grey: -bisq-dark-grey-dim;
    -bisq-content-bg-grey: -bisq-dark-grey-mid;
    -bisq-popup-bg-grey: -bisq-dark-grey-mid;

    /* Border colors */
    -bisq-border-color-grey: -bisq-medium-grey-dim;
    -bisq-border-color-grey-hover: -bisq-light-grey-dim;


    -fx-base: -bisq-content-bg-grey;
    -fx-accent: -bisq2-green;
    -fx-background: -bisq-content-bg-grey;

    -fx-color: -bisq-dark-grey-mid;
    -fx-body-color: -fx-color;

    -fx-box-border: transparent;
    -fx-focus-color: -bisq2-green;
    -fx-faint-focus-color: -bisq2-green;
    -fx-default-button: -bisq2-green-dim-20;
    -bisq-green-hover: -bisq2-green-dim-10;
    -bisq-green-pressed: -bisq2-green-dim-30;

    -fx-dark-text-color: -bisq-black-dim;
    -fx-mid-text-color: -bisq-medium-grey-mid;
    -fx-light-text-color: -bisq-white-lit;

    -bisq-error: -bisq-red;

    -fx-text-background-color: ladder(
                -fx-background,
                -fx-light-text-color,
                -fx-mid-text-color,
                -fx-dark-text-color
        );
}
