@font-face {
    font-family: "IBM Plex Sans";
    src: url("/fonts/IBMPlexSans-Regular.ttf");
}

@font-face {
    font-family: "IBM Plex Sans Bold";
    src: url("/fonts/IBMPlexSans-Bold.ttf");
}

@font-face {
    font-family: "IBM Plex Sans SemiBold";
    src: url("/fonts/IBMPlexSans-SemiBold.ttf");
}

@font-face {
    font-family: "IBM Plex Sans Medium";
    src: url("/fonts/IBMPlexSans-Medium.ttf");
}

@font-face {
    font-family: "IBM Plex Sans Light";
    src: url("/fonts/IBMPlexSans-Light.ttf");
}

@font-face {
    font-family: "IBM Plex Sans Thin";
    src: url("/fonts/IBMPlexSans-Thin.ttf");
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/IBMPlexMono-Regular.ttf");
}

.root {
    -fx-font-family: "IBM Plex Sans";
    -fx-font-size: 13;

    /* Green logo color used in Bisq 1 is #25b135*/

    /* Colors */
    -bisq-green: #56ae48; /* #56ae48 rgb(86,174,72) */
    -bisq-turquoise: #2cacaf;
    -bisq-buy: #006600;
    -bisq-sell: #660000;
    -bisq-red: #d02c1f;
    -bisq-warning: #d0831f;
    -bisq-yellow: #e5a500;

    /* Bisq Grey Palette */
    -bisq-black-dimmed: #050505;
    -bisq-black-medium: #0D0D0D;
    -bisq-black-bright: #151515;
    -bisq-grey-dark-dimmed: #1E1E1E;
    -bisq-grey-dark-medium: #2B2B2B;
    -bisq-grey-dark-bright: #383838;
    -bisq-grey-dimmed: #4D4D4D;
    -bisq-grey-medium: #808080;
    -bisq-grey-bright: #B2B2B2;
    -bisq-grey-light-dimmed: #C7C7C7;
    -bisq-grey-light-medium: #D4D4D4;
    -bisq-grey-light-bright: #E1E1E1;
    -bisq-white-dimmed: #EAEAEA;
    -bisq-white-medium: #F2F2F2;
    -bisq-white-bright: #FAFAFA;

    /* Greys */
    -bisq-grey-17: -bisq-grey-dark-medium;
    -bisq-grey-18: -bisq-black-bright;
    -bisq-grey-19: -bisq-grey-dark-medium;
    -bisq-grey-20: -bisq-grey-dimmed;
    -bisq-grey-21: -bisq-grey-dark-bright;
    -bisq-grey-22: -bisq-grey-medium;
    -bisq-grey-23: -bisq-grey-dark-dimmed;
    -bisq-grey-24: -bisq-grey-dark-medium;
    -bisq-grey-25: -bisq-grey-dark-bright;

    -bisq-white: -bisq-white-bright;
    -bisq-white-dimmed-old: -bisq-white-medium;
    -bisq-black: -bisq-black-dimmed;
    -bisq-black-light: -bisq-black-medium;
    -bisq-table-base: -bisq-grey-dark-dimmed;

    /* Background colors */
    -bisq-darker-grey: -bisq-grey-dark-dimmed;
    -bisq-dark-grey: -bisq-grey-dark-dimmed;
    -bisq-content-bg-grey: -bisq-grey-dark-medium;
    -bisq-popup-bg-grey: -bisq-grey-dark-medium;

    /* Border colors */
    -bisq-border-color-grey: -bisq-grey-dimmed;
    -bisq-border-color-grey-hover: -bisq-grey-light-dimmed;


    -fx-base: -bisq-content-bg-grey;
    -fx-accent: -bisq-green;
    -fx-background: -bisq-content-bg-grey;

    -fx-color: -bisq-grey-17;
    -fx-body-color: -fx-color;

    -fx-box-border: transparent;
    -fx-focus-color: -bisq-green;
    -fx-faint-focus-color: -bisq-green;
    -fx-default-button: derive(-bisq-green, -15%);
    -bisq-green-hover: derive(-fx-default-button, 10%);
    -bisq-green-pressed: derive(-fx-default-button, -5%);

    -fx-dark-text-color: -bisq-black;
    -fx-mid-text-color: -bisq-grey-medium;
    -fx-light-text-color: -bisq-white;

    -bisq-error: -bisq-red;

    -fx-text-background-color: ladder(
                -fx-background,
                -fx-light-text-color,
                -fx-mid-text-color,
                -fx-dark-text-color
        );
}
