/*******************************************************************************
 * Container boxes                                                              *
 ******************************************************************************/

.bisq-easy-container {
    -fx-background-color: -bisq-dark-grey-dim;
    -fx-background-radius: 8;
}

.bisq-easy-container-header {
    -fx-background-color: -bisq-dark-grey-dim;
    -fx-background-radius: 8 8 0 0;
}

.bisq-easy-container-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.8em;
}


/*******************************************************************************
 * Trade guide                                                            *
 ******************************************************************************/

.bisq-easy-trade-guide-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.8em;
}

.bisq-easy-trade-guide-content {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.1em;
}


/*******************************************************************************
 * Onboarding                                                           *
 ******************************************************************************/

.bisq-easy-onboarding-big-box {
    -fx-background-color: -bisq-dark-grey-dim;
    -fx-background-radius: 8;
}

.bisq-easy-onboarding-big-box-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 3.1em;
}

.bisq-easy-onboarding-big-box-bullet-point {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.15em;
    -fx-font-family: "IBM Plex Sans Light";
}

.bisq-easy-onboarding-small-box {
    -fx-background-color: -bisq-dark-grey;
    -fx-background-radius: 8;
}

.bisq-easy-onboarding-small-box-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.7em;
}

.bisq-easy-onboarding-small-box-text {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1.15em;
    -fx-font-family: "IBM Plex Sans Light";
}


/*******************************************************************************
 * Offerbook                                                           *
 ******************************************************************************/

.market-selection {
    -fx-text-fill: -fx-light-text-color!important;
}


/*******************************************************************************
 *                                                                             *
 * Open trades                                                                 *
 *                                                                             *
 ******************************************************************************/


.open-trades-badge.bisq-badge .badge-pane {
    -fx-background-color: -bisq-yellow;
}
.open-trades-badge.bisq-badge .badge-pane .label {
    -fx-font-size: 0.85em !important;
    -fx-text-fill: black !important;
    -fx-font-family: "IBM Plex Sans SemiBold" !important;
}


/*******************************************************************************
 * OpenTradesWelcome                                                            *
 ******************************************************************************/

.bisq-easy-open-trades-welcome-bg {
    -fx-background-color: -bisq-dark-grey-dim;
    -fx-background-radius: 8;
}

.bisq-easy-open-trades-welcome-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 2.3em;
}

.bisq-easy-open-trades-welcome-info {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1.2em;
    -fx-font-family: "IBM Plex Sans Light";
}

.bisq-easy-open-trades-welcome-lines {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.2em;
    -fx-font-family: "IBM Plex Sans";
}


/*******************************************************************************
 * BisqEasyOpenTradesView.tableView                                                       *
 ******************************************************************************/

.bisq-easy-open-trades.table-view .table-row-cell:filled:hover .table-cell {
    -fx-background-color: rgba(255, 255, 255, 0.05);
}

.bisq-easy-open-trades.table-view .table-row-cell:filled:selected .table-cell {
    -fx-background-color: -bisq-black-lit;
}


/*******************************************************************************
 * Header                                                                 *
 ******************************************************************************/

.bisq-easy-open-trades-header-description {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 0.9em;
}

.bisq-easy-open-trades-header-value {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.4em;
}

.bisq-easy-open-trades-header-code {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.15em;
}


/*******************************************************************************
 * Trade state                                                                 *
 ******************************************************************************/

.trade-state-headline {
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 20px;
    -fx-padding: 3 0 0;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-state-headline-accent {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 23px;
    -fx-padding: 0;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-state-headline-amount {
    -fx-background-color: rgba(0, 0, 0, 0.42);
    -fx-background-radius: 6;
    -fx-background-insets: 0 1 0 1;
    -fx-text-fill: derive(-fx-light-text-color, 0%);
    -fx-font-size: 23px;
    -fx-padding: 0 8 0 8;
    -fx-font-family: "IBM Plex Sans Light";
}

/*******************************************************************************
 * Trade state phase (left side box)                                                                  *
 ******************************************************************************/

.bisq-easy-trade-state-phase {
    -fx-font-size: 0.93em;
}

.bisq-easy-trade-state-phase-inactive {
    -fx-fill: -bisq-medium-grey-mid;
    -fx-text-fill: -bisq-medium-grey-mid;
    -fx-font-family: "IBM Plex Sans Light";
}

.bisq-easy-trade-state-phase-active {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans";
}

.bisq-easy-trade-state-phase-badge {
    -fx-padding: 0 0 0 0;
}

.bisq-easy-trade-state-phase-badge .badge-pane {
    -fx-background-radius: 25;
    -fx-pref-width: 25;
    -fx-pref-height: 25;
}

.bisq-easy-trade-state-phase-badge-inactive .badge-pane {
    -fx-background-color: -bisq-dark-grey-lit;
}

.bisq-easy-trade-state-phase-badge-active .badge-pane {
    -fx-background-color: -bisq2-green;
}

.bisq-easy-trade-state-phase-badge .badge-pane .label {
    -fx-font-size: 0.93em;
}

.bisq-easy-trade-state-phase-badge-inactive .badge-pane .label {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
}

.bisq-easy-trade-state-phase-badge-active .badge-pane .label {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Medium";
}


/*******************************************************************************
 * Trade state phase info (right side box)                                                                *
 ******************************************************************************/

.bisq-easy-trade-state-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.7em;
    -fx-font-family: "IBM Plex Sans Light";
}

.bisq-easy-trade-state-info {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1.1em;
    -fx-font-family: "IBM Plex Sans Light";
}

.bisq-easy-trade-state-help {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1em;
    -fx-font-family: "IBM Plex Sans Light";
}


/*******************************************************************************
 *                                                                             *
 * Trade wizard                                                        *
 *                                                                             *
 ******************************************************************************/

.bisq-easy-trade-wizard-review-header-description {
    -fx-alignment: left;
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 0.9em;
}

.bisq-easy-trade-wizard-review-header-value {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.7em;
}

.bisq-easy-trade-wizard-review-header-code {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.4em;
}

.trade-wizard-review-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 2.3em;
    -fx-font-family: "IBM Plex Sans Light";
}


.trade-wizard-review-direction {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 20;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-wizard-review-direction-accent {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 23;
    -fx-padding: 0 1.5 2 1.5;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-wizard-review-range-amounts-desc {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 14.5;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-wizard-review-range-amount-desc {
    -fx-min-width: 95;
    -fx-max-width: 95;
}

.trade-wizard-review-range-amounts-value {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 18;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-padding: 0 0 2.5 0;
    -fx-alignment: center-right;
    -fx-text-alignment: right;
}

.trade-wizard-review-range-quote-amount {
    -fx-min-width: 60;
    -fx-max-width: 60;
}

.trade-wizard-review-range-base-amount {
    -fx-min-width: 105;
    -fx-max-width: 105;
}

.trade-wizard-review-range-amounts-code {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 15.5;
    -fx-padding: 0 2 1 5;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-wizard-review-fix-amounts-value {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 23;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-padding: 0 0 2.5 0;
    -fx-alignment: center-right;
    -fx-text-alignment: right;
}

.trade-wizard-review-fix-amounts-code {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 20;
    -fx-padding: 0 3 0 5;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-wizard-review-fix-amounts {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.7em;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-wizard-review-details-headline {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 0.9em;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-wizard-review-description {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1em;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-wizard-review-value {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.15em;
    -fx-padding: 0 0 1 0;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-wizard-review-code {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1.15em;
    -fx-padding: 0 0 1 0;
    -fx-font-family: "IBM Plex Sans Light";
}

.trade-wizard-review-details {
    -fx-fill: -fx-mid-text-color;
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1em;
    -fx-font-family: "IBM Plex Sans Light";
}


.trade-wizard-review-payment-combo-box {
    -fx-background-color: -bisq-dark-grey-lit;
    -fx-background-insets: 6 0 6 0;
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.15em;
    -fx-font-family: "IBM Plex Sans Light";
}


/*******************************************************************************
 * TradeWizardMarketView.tableView                                                       *
 ******************************************************************************/

.bisq-easy-trade-wizard-market.table-view {
    -fx-font-size: 1.15em;
}

.bisq-easy-trade-wizard-market.table-view .column-header {
    -fx-pref-height: 40;
}

.bisq-easy-trade-wizard-market.table-view .table-row-cell {
    -fx-pref-height: 50;
}

.bisq-easy-trade-wizard-market.table-view .table-row-cell .table-cell {
    -fx-background-color: -bisq-dark-grey-mid;
}

.bisq-easy-trade-wizard-market.table-view .table-row-cell:hover .table-cell {
    -fx-background-color: -bisq-darker-grey;
}

.bisq-easy-trade-wizard-market.table-view .table-row-cell:selected .table-cell {
    -fx-background-color: -bisq2-green;
}


/*******************************************************************************
 * TradeWizardTakeOfferView.tableView                                                       *
 ******************************************************************************/

.bisq-easy-trade-wizard-select-trade.table-view {
    -fx-font-size: 1.15em;
}

.bisq-easy-trade-wizard-select-offer.table-view .column-header {
    -fx-pref-height: 40px;
}

.bisq-easy-trade-wizard-select-offer.table-view .table-row-cell {
    -fx-pref-height: 55px;
}

.bisq-easy-trade-wizard-select-offer.table-view .table-row-cell .table-cell {
    -fx-background-color: -bisq-dark-grey-mid;
}

.bisq-easy-trade-wizard-select-offer.table-view .table-row-cell:hover .table-cell {
    -fx-background-color: -bisq-darker-grey;
}

.bisq-easy-trade-wizard-select-offer.table-view .table-row-cell:selected .table-cell {
    -fx-background-color: -bisq2-green;
}

.bisq-easy-trade-wizard-select-offer.table-view .table-row-cell:empty {
    -fx-border-color: derive(-bisq-dark-grey-mid, -30%);
}

.bisq-easy-trade-wizard-select-offer.table-view .table-row-cell:empty .table-cell {
    -fx-background-color: derive(-bisq-dark-grey-mid, -15%);
}

.bisq-easy-trade-wizard-select-offer.table-view .table-row-cell:empty:hover .table-cell {
    -fx-background-color: derive(-bisq-dark-grey-mid, -15%);
}

.bisq-easy-trade-wizard-select-offer.table-view .table-row-cell:selected .button.white-button .text {
    -fx-fill: -bisq-black-dim !important;
    -fx-font-family: "IBM Plex Sans Medium" !important;
}

.bisq-easy-trade-wizard-select-offer.table-view .table-row-cell:hover .button.outlined-button .text {
    -fx-fill: -bisq2-green;
    -fx-font-family: "IBM Plex Sans Medium";
}

/* the text property from list view need to set to apply the color to the button label */
.onboarding-market-table-toggle-button .text {
    -fx-fill: -fx-light-text-color !important;
}

.onboarding-market-table-toggle-button:hover .text {
    -fx-fill: -fx-dark-text-color !important;
}

.onboarding-market-table-toggle-button:selected:hover .text {
    -fx-fill: -fx-light-text-color !important;
}

.bisq-easy-offerbook-search-box {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-background-radius: 4;
    -fx-border-color: rgba(255, 255, 255, 0.075);
    -fx-border-width: 1;
    -fx-border-radius: 4;
}

.bisq-easy-offerbook-search-box-active {
    -fx-background-color: rgba(255, 255, 255, 0.075);
    -fx-border-color: -bisq2-green;
}


/*******************************************************************************
 * Chat                                                              *
 ******************************************************************************/

.bisq-easy-chat-sidebar-bg {
    -fx-background-color: -bisq-dark-grey-dim;
    -fx-background-radius: 8;
}

.bisq-easy-chat-filter-panel-bg {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-background-radius: 4;
    -fx-background-insets: 0 25 10 25;
    -fx-border-color: transparent;
    -fx-border-insets: 0 25 10 25;
}

.bisq-easy-chat-filter-headline {
    -fx-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.4em;
}


/*******************************************************************************
 *                                                                             *
 * Trade domain                                                                   *
 *                                                                             *
 ******************************************************************************/

.bisq-amount-input-code-label {
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 0.9em;
    -fx-font-family: "IBM Plex Sans Light";
}


/*******************************************************************************
 *                                                                             *
 * PaymentMethod domain                                                                *
 *                                                                             *
 ******************************************************************************/

.payment-methods-icon-button-bg {
    -fx-background-color: #eee;
    -fx-background-radius: 7;
}

.payment-methods-label {
    -fx-text-fill: #222;
    -fx-padding: 5 4 5 10
}


/*******************************************************************************
 *                                                                             *
 * Misc                                                                 *
 *                                                                             *
 ******************************************************************************/

#bisq-easy-next-button {
    -fx-background-color: transparent;
    -fx-background-radius: 4;
    -fx-border-color: -bisq-medium-grey-mid;
    -fx-border-width: 0.75;
    -fx-border-radius: 2.5;
    -fx-text-fill: -fx-light-text-color;
}

#bisq-easy-skip-button {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-mid-text-color;
}

#bisq-easy-trade-info-headline-label {
    -fx-font-size: 1.4em;
    -fx-font-family: "IBM Plex Sans";
    -fx-text-fill: -fx-light-text-color;
}

#bisq-easy-trade-info-content-label {
    -fx-font-size: 1.1em;
    -fx-text-fill: -fx-light-text-color;
}


/*******************************************************************************
 *                                                                             *
 * Private chat                                                                *
 *                                                                             *
 ******************************************************************************/

.bisq-easy-private-chats-table-view {
    -fx-background-color: -bisq-dark-grey-dim;
}
