/*******************************************************************************
 *                                                                             *
 * Chat domain                                                               *
 *                                                                             *
 ******************************************************************************/


.keyword-customTags {
    -fx-fill: -bisq-green;
}

.keyword-none {
    -fx-fill: -fx-light-text-color;
}

.channel-settings-headline {
    -fx-font-size: 1.692em;
    -fx-text-fill: -bisq-grey-5;
}

.market-fiat-label {
    -fx-font-size: 7;
    -fx-text-fill: -fx-dark-text-color;
    -fx-font-family: "IBM Plex Sans";
}

.market-crypto-label {
    -fx-font-size: 7;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans";
}

.close-sidebar-button {
    -fx-background-color: -bisq-grey-13;
    -fx-text-fill: -bisq-grey-17;
}

#chat-filter-box {
    -fx-border-color: -bisq-grey-disabled;
    -fx-border-width: 0 0 1 0;
    -fx-border-insets: 0 0 -1 0;
}

#chat-user-profile-bg {
    -fx-background-color: -bisq-grey-19;
    -fx-background-insets: 1 20 1 9;
    -fx-background-radius: 8;
}

#chat-input-field {
    -fx-background-color: -bisq-grey-19;
    -fx-background-radius: 8;
    -fx-border-color: -bisq-grey-19;
    -fx-border-width: 1;
    -fx-border-radius: 8;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: -fx-light-text-color;
    -fx-prompt-text-fill: -fx-mid-text-color;
    -fx-font-size: 1.38em;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 2 4 4 4;
    -fx-font-family: "IBM Plex Sans";
}

#chat-messages-edit-text-area.text-area {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.3em;
    -fx-font-family: "IBM Plex Sans";
}

#chat-messages-edit-text-area.text-area .content {
}

#chat-messages-edit-text-area.text-area:focused .content {
    -fx-background-color: transparent;
}

#chat-messages-send-button {
    -fx-background-color: -bisq-white;
    -fx-background-radius: 8;
    -fx-text-fill: -bisq-green;
}

#chat-messages-headline {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.53em;
    -fx-font-family: "IBM Plex Sans Medium";
}

#chat-messages-date {
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 0.92em;
}

#chat-messages-message {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.33em;
    -fx-font-family: "IBM Plex Sans";
}

#chat-sidebar-headline {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.78em;
    -fx-font-family: "IBM Plex Sans Light";
}

#chat-sidebar-title {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.4em;
    -fx-font-family: "IBM Plex Sans Light";
}

#chat-sidebar-text {
    -fx-text-fill: -fx-light-text-color;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1.05em;
    -fx-font-family: "IBM Plex Sans Light";
}

.chat-message-bg-my-message {
    -fx-background-color: -bisq-grey-18;
    -fx-background-radius: 8;
}

.chat-message-bg-peer-message {
    -fx-background-color: -bisq-grey-5;
    -fx-background-radius: 8;
}

.create-offer-message-my-offer {
    -fx-background-color: -bisq-grey-18;
    -fx-background-radius: 8;
}

.create-offer-box-my-offer {
    -fx-background-color: -bisq-grey-17;
}

.create-offer-feedback-bg {
    -fx-background-color: -bisq-grey-18;
    -fx-background-radius: 0 0 16 16;
}

#buy-button {
    -fx-background-color: -bisq-buy;
    -fx-text-fill: -fx-light-text-color;
    -fx-background-insets: 0 0 0 0;
}

#sell-button {
    -fx-background-color: -bisq-sell;
    -fx-text-fill: -fx-light-text-color;
    -fx-background-insets: 0 0 0 0;
}

#button-inactive {
    -fx-background-color: -bisq-grey-5;
    -fx-text-fill: -fx-light-text-color;
    -fx-background-insets: 0 0 0 0;
}

#bisq-combo-box-list-view {
    -fx-background-color: -bisq-grey-16;
    -fx-border-color: -bisq-dark-grey;;
    -fx-border-width: 1;
    -fx-border-insets: 0;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

#bisq-combo-box-list-view .list-cell:odd, #bisq-combo-box-list-view .list-cell:even {
    -fx-background-color: -bisq-dark-grey;
    -fx-font-size: 1.05em;
    -fx-padding: 0 0 0 22;
    -fx-background-insets: 0 0 1 0;
    -fx-pref-height: 40px;
    -fx-text-fill: -fx-light-text-color;
}


#bisq-combo-box-list-view .list-cell:selected {
    -fx-background-color: -bisq-grey-16;
}


#chat-user-name {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 0.92em;
    -fx-font-family: "IBM Plex Sans Medium";
    -fx-cursor: hand;
}

#chat-message-reactions-separator {
    -fx-text-fill: -bisq-grey-5;
    -fx-font-weight: bold;
}


.chat-mention-popup-menu {
    -fx-min-width: 300;
}

.chat-mention-popup-menu-item {
    -fx-background-color: -bisq-grey-2;
    -fx-text-fill: -fx-light-text-color;
    -fx-alignment: center-left;
    -fx-padding: 8 14 8 14;
}

#user-name-label {
    -fx-text-fill: -fx-mid-text-color;
    -fx-font-size: 1.4em;
    -fx-font-family: "IBM Plex Sans";
}

#icon-label-grey {
    -fx-text-fill: grey;
}

#onboarding-top-panel {
    -fx-background-color: -bisq-grey-23;
}


/*******************************************************************************
 *                                                                             *
 * Channel selection                                                           *
 *                                                                             *
 ******************************************************************************/
.list-view.channel-selection-list-view {
    -fx-background-color: transparent;
}

.list-view.channel-selection-list-view .list-cell {
    -fx-background-color: transparent;
    -fx-font-size: 0.92em;
}

.list-view.channel-selection-list-view .list-cell:selected {
    -fx-background-color: -bisq-grey-4;
    -fx-fill: -fx-dark-text-color;
    -fx-text-fill: -fx-dark-text-color;
}

.list-view.channel-selection-list-view .list-cell:hover .label {
    -fx-text-fill: -fx-light-text-color;
}

.list-view.channel-selection-list-view .list-cell:selected .label {
    -fx-text-fill: -bisq-green;
}


/*******************************************************************************
 *                                                                             *
 * Chat messages list                                                           *
 *                                                                             *
 ******************************************************************************/

.list-view.chat-messages-list-view .list-cell {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 -25;
    -fx-padding: 10 0 10 25;
    -fx-font-size: 1em;
}

.list-view.chat-messages-list-view {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    /* -fx-border-color: -bisq-grey-disabled;
     -fx-border-width: 1 0 0 0;*/
}

.list-view.chat-messages-list-view .list-cell:hover {
    -fx-background-color: rgba(0, 0, 0, 0.08);
}

.list-view.chat-messages-list-view .list-cell:empty {
    -fx-border-width: 0;
}

.list-view.chat-messages-list-view .list-cell:empty:hover {
    -fx-background-color: transparent;
}



