@font-face {
    font-family: "IBM Plex Sans";
    src: url("/fonts/IBMPlexSans-Regular.ttf");
}

@font-face {
    font-family: "IBM Plex Sans Bold";
    src: url("/fonts/IBMPlexSans-Bold.ttf");
}

@font-face {
    font-family: "IBM Plex Sans SemiBold";
    src: url("/fonts/IBMPlexSans-SemiBold.ttf");
}

@font-face {
    font-family: "IBM Plex Sans Medium";
    src: url("/fonts/IBMPlexSans-Medium.ttf");
}

@font-face {
    font-family: "IBM Plex Sans Light";
    src: url("/fonts/IBMPlexSans-Light.ttf");
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/IBMPlexMono-Regular.ttf");
}

.root {
    -fx-font-family: "IBM Plex Sans";
    -fx-font-size: 13;


    /* Colors */
    -bisq-green: #56ae48;
    -bisq-white: white;
    -bisq-black: #000000;
    -bisq-turquoise: #2cacaf;
    -bisq-buy: #006600;
    -bisq-sell: #660000;

    /* Greys */
    -bisq-grey-2: #1D1D1D;
    -bisq-grey-3: #212121;
    -bisq-grey-4: #262626;
    -bisq-grey-5: #333333;
    -bisq-grey-6: #474748;
    -bisq-grey-7: #4D4D4D;
    -bisq-grey-8: #545454;
    -bisq-grey-9: #828282;
    -bisq-grey-10: #a9a9a9;
    -bisq-grey-11: #C9C9C9;
    -bisq-grey-12: #2E2E2E;
    -bisq-grey-13: #6A6A6A;
    -bisq-grey-14: #474747;
    -bisq-grey-15: #292929;
    -bisq-grey-16: #393939;
    -bisq-grey-17: #2f2f2f;
    -bisq-grey-18: #141414;
    -bisq-grey-19: #282828;
    -bisq-grey-20: #454545;
    -bisq-grey-21: #343434;
    -bisq-grey-22: #707070;


    /* Background colors */
    -bisq-bg-darker: -bisq-grey-2;
    -bisq-bg-dark: -bisq-grey-3;
    -bisq-content-bg: -bisq-grey-4;
    -bisq-background-color-gray: -bisq-grey-5;

    /* Border colors */
    -bisq-border-color-grey: -bisq-grey-7;
    -bisq-border-color-grey-hover: -bisq-grey-11;


    -fx-base: -bisq-content-bg;
    -fx-accent: -bisq-green;
    -fx-background: -bisq-content-bg;

    -fx-box-border: transparent;
    -fx-focus-color: -fx-accent;
    -fx-faint-focus-color: -fx-accent;
    -fx-default-button: -bisq-green;

    -fx-dark-text-color: black;
    -fx-mid-text-color: -bisq-grey-9;
    -fx-light-text-color: -bisq-white;
}


/*******************************************************************************
 *                                                                             *
 * Font sizes                                                                  *
 *                                                                             *
 ******************************************************************************/

/* TODO collect and unify sizes */
.very-small-text {
    -fx-font-size: 0.692em;
}

.small-text {
    -fx-font-size: 0.769em;
}

.normal-text {
    -fx-font-size: 1em;
}

.large-text {
    -fx-font-size: 1.78em;
}

.very-large-text {
    -fx-font-size: 2em;
}

.super-large-text {
    -fx-font-size: 4.1em !important;
}

/*******************************************************************************
 *                                                                             *
 * Borders                                                                     *
 *                                                                             *
 ******************************************************************************/

.border-bottom {
    -fx-border-color: -bisq-grey-17;
    -fx-border-width: 0 0 1 0;
}

.border-top-grey-5 {
    -fx-border-color: -bisq-grey-5;
    -fx-border-width: 1 0 0 0;
}

.border-top-grey-7 {
    -fx-border-color: -bisq-grey-7;
    -fx-border-width: 1 0 0 0;
}

.border-bottom-grey-7 {
    -fx-border-color: -bisq-grey-7;
    -fx-border-width: 0 0 1 0;
}

/*******************************************************************************
 * Text based                                            *
 ******************************************************************************/


/*******************************************************************************
 *                                                                             *
 * TextArea                                                                    *
 *                                                                             *
 ******************************************************************************/

.text-area {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: -bisq-grey-12;
    -fx-background-radius: 4;
    -fx-border-style: none;;
    -fx-text-fill: -bisq-white;
    -fx-font-size: 1.25em;
    -fx-font-family: "IBM Plex Sans Light";
}

.text-area > .scroll-pane {
    -fx-background-color: null;
}

.text-area > .scroll-pane > .scroll-bar:horizontal {
    -fx-background-radius: 0 0 2 2;
}

.text-area > .scroll-pane > .scroll-bar:vertical {
    -fx-background-radius: 0 2 2 0;
}

.text-area > .scroll-pane > .corner {
    -fx-background-radius: 0 0 2 0;
}

.text-area .content {
    /* is 1px less top and bottom than TextInput because of scrollpane border */
    -fx-padding: 0.25em 0.583em 0.25em 0.583em; /* 3 7 3 7 */
    -fx-cursor: text;
    -fx-background-color: transparent;
    -fx-background-radius: 2;
}

.text-area:focused .content {
    -fx-background-color: -bisq-content-bg;
}


/*******************************************************************************
 *                                                                             *
 * Hyperlink                                                                  *
 *                                                                             *
 ******************************************************************************/

.hyperlink,
.hyperlink.force-underline .text,
.hyperlink:hover,
.hyperlink:visited,
.hyperlink:hover:visited,
.hyperlink:focused {
    -fx-border-style: none;
    -fx-border-width: 0px;
    -fx-underline: true;
    /*  -fx-text-fill: -bs-rd-font-dark;
      -fx-fill: -bs-rd-font-dark;*/
}

.hyperlink.no-underline {
    -fx-underline: false;
}

.hyperlink:hover {
    -fx-text-fill: -bisq-white;
    -fx-fill: -bisq-white;
}

.hyperlink:hover,
.hyperlink:visited,
.hyperlink:hover:visited {
    -fx-underline: false;
}

.hyperlink.highlight,
.hyperlink.highlight .text.hyperlink.no-underline {
    -fx-text-fill: -fx-accent;
    -fx-fill: -fx-accent;
}

.hyperlink.error {
    /*  -fx-text-fill: -bs-rd-error-red;
      -fx-fill: -bs-rd-error-red;*/
}


/*******************************************************************************
 *                                                                             *
 * Radio button                                                                *
 *                                                                             *
 ******************************************************************************/

.radio-button {
    -fx-text-fill: -bisq-grey-9;    
}

.radio-button:selected {
    -fx-text-fill: -bisq-white;    
}

.radio-button .radio {
    -fx-background-color: -bisq-grey-5;
    -fx-padding: 1px;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-border-color: transparent;
}

.radio-button:armed .radio {
    -fx-border-color: -bisq-green;
}

.radio-button:selected .radio {
    -fx-border-color: -bisq-green;
}

.radio-button .radio .dot {
    -fx-background-color: -bisq-grey-5;
    -fx-background-insets: 0;
    -fx-padding: 5px
}
.radio-button:armed .radio {
    -fx-background-color: -bisq-grey-16;
}

.radio-button:armed .radio .dot,
.radio-button:hover .radio .dot {
    -fx-background-color: -bisq-grey-16;
}

.radio-button:selected .radio .dot {
    -fx-background-color: white;
}

/*******************************************************************************
 *                                                                             *
 * Custom Text based                                                                  *
 *                                                                             *
 ******************************************************************************/

.bisq-text-headline-1 {
    -fx-fill: -bisq-white;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 4.1em;
}

.bisq-text-headline-2 {
    -fx-fill: -bisq-white;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.9em;
    -fx-line-spacing: -0.16em;
}

.bisq-text-headline-3 {
    -fx-fill: -bisq-white;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 3.92em;
}

.bisq-text-headline-4 {
    -fx-fill: -bisq-white;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 3.15em;
}

.bisq-text-1 {
    -fx-fill: -bisq-white;
    -fx-font-size: 1.25em;
}

.bisq-text-2 {
    -fx-text-fill: -bisq-grey-13;
    -fx-font-size: 1.2em;
    -fx-line-spacing: .2em;
}

.bisq-text-3 {
    -fx-text-fill: -bisq-grey-9;
    -fx-font-size: 1.1em;
    -fx-line-spacing: -0.12em;
}

.bisq-text-4 {
    -fx-text-fill: -bisq-grey-9;
    -fx-font-size: 0.85em;
}

.bisq-text-5 {
    -fx-text-fill: -bisq-white;
    -fx-font-size: 1.08em;
    -fx-font-family: "IBM Plex Sans Medium";
}

.bisq-text-6 {
    -fx-text-fill: -bisq-white;
    -fx-font-size: 1.08em;
}

.bisq-text-7 {
    -fx-font-size: 0.92em;
}

.bisq-text-8 {
    -fx-font-size: 0.92em;
    -fx-font-family: "IBM Plex Sans Medium";
    -fx-text-fill: -bisq-grey-9;
}

.bisq-text-9 {
    -fx-fill: -bisq-white;
    -fx-font-size: 1.54em;
    -fx-font-family: "IBM Plex Sans Light";
}

.wrap-text {
    -fx-wrap-text: true;
}

.text-underline {
    -fx-underline: true;
}


/*******************************************************************************
 *                                                                             *
 * Custom Label based                                                                  *
 *                                                                             *
 ******************************************************************************/

.bisq-big-light-headline-label {
    -fx-text-fill: -bisq-white;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 2.51em;
}

.bisq-sub-title-label {
    -fx-text-fill: -bisq-white;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.44em;
}

.bisq-large-profile-id-label {
    -fx-background-color: -bisq-grey-6;
    -fx-text-fill: -bisq-white;
    -fx-font-size: 1em;
}

.bisq-small-light-label {
    -fx-font-size: 0.9em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -fx-light-text-color;
}

.bisq-small-light-label-dimmed {
    -fx-font-size: 0.9em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -bisq-grey-13;
}

.bisq-small-light-label-dimmed-2 {
    -fx-font-size: 0.9em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -bisq-grey-9;
}

.bisq-content-headline-label {
    -fx-font-size: 1.78em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -fx-light-text-color;
}

.bisq-popup-headline-label {
    -fx-font-size: 1.35em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -bisq-green;
}

.bisq-tab-button-label {
    -fx-font-size: 0.93em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-graphic-text-gap: 8;
}

.bisq-smaller-label {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 0.73em;
}

.bisq-small-dimmed-label {
    -fx-text-fill: -bisq-grey-9;
    -fx-font-size: 0.73em;
}

.bisq-grey-dimmed {
    -fx-text-fill: -bisq-grey-13;
}

.bisq-text-white {
    -fx-text-fill: -bisq-white;
}

.bisq-text-logo-green {
    -fx-text-fill: -bisq-green;
}

.bisq-text-grey-9 {
    -fx-text-fill: -bisq-grey-9;
}

.bisq-text-grey-10 {
    -fx-text-fill: -bisq-grey-10;
}

.font-medium {
    -fx-font-family: "IBM Plex Sans Medium";
}

.font-semi-bold {
    -fx-font-family: "IBM Plex Sans SemiBold";
}

.font-light {
    -fx-font-family: "IBM Plex Sans Light";
}

/*
.bisq-label-white:selected {
    -fx-text-fill: -bisq-green;
}*/

/*******************************************************************************
 *                                                                             *
 * Backgrounds                                                                 *
 *                                                                             *
 ******************************************************************************/

.bg-grey-5 {
    -fx-background-color: -bisq-grey-5;
}

.popup-bg {
    -fx-background-color: -bisq-grey-21;
}

/*******************************************************************************
 *                                                                             *
 * Custom TextInputBox based                                                                  *
 *                                                                             *
 ******************************************************************************/

.bisq-input-box-top-pane {
    -fx-background-color: -bisq-grey-12;
    -fx-background-radius: 4;
}

.bisq-input-box-description-label {
    -fx-text-fill: -bisq-grey-9;
    -fx-font-size: 0.9em;
    -fx-font-family: "IBM Plex Sans Light";
}

.bisq-input-box-text-input {
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: -bisq-white;
    -fx-prompt-text-fill: -bisq-grey-14;
    -fx-font-size: 1.25em;
    -fx-font-family: "IBM Plex Sans Light";
}


/*******************************************************************************
 * Controls                                          *
 ******************************************************************************/


/*******************************************************************************
 *                                                                             *
 * Button                                                                  *
 *                                                                             *
 ******************************************************************************/

.button {
    -fx-background-color: -bisq-grey-17;
    -fx-background-radius: 3;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1em;
    -fx-border-style: none;
    -fx-padding: 5 33 5 33;
    -fx-cursor: hand;
}

.button:default,
.default-button {
    -fx-background-color: -bisq-green;
}

.button:hover {
    -fx-background-color: -bisq-green;
}

.button:disabled {
    -fx-background-color: -bisq-grey-12;
}

.button.icon-button {
    -fx-padding: 5;
    -fx-background-color: transparent;
    -fx-focus-traversable: false;
    -fx-cursor: hand;
}


/*******************************************************************************
 *                                                                             *
 * Custom Button styles                                                                  *
 *                                                                             *
 ******************************************************************************/

/* Dark grey button with light grey border */
.bisq-border-dark-bg-button {
    -fx-background-color: -bisq-bg-dark;
    -fx-background-radius: 2.5;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1em;
    -fx-border-color: -bisq-border-color-grey;
    -fx-border-width: 0.75;
    -fx-border-radius: 2.5;
    -fx-padding: 5 33 5 33;
    -fx-cursor: hand;
}

.bisq-border-dark-bg-button:hover {
    -fx-border-color: -bisq-border-color-grey-hover;
    -fx-background-color: -bisq-background-color-gray;
}

.bisq-border-button {
    -fx-background-color: -bisq-content-bg;
    -fx-background-radius: 2.5;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 1em;
    -fx-border-color: -bisq-border-color-grey;
    -fx-border-width: 0.75;
    -fx-border-radius: 2.5;
    -fx-padding: 5 33 5 33;
    -fx-cursor: hand;
}

.bisq-border-button:hover {
    -fx-border-color: -bisq-border-color-grey-hover;
    -fx-background-color: -bisq-content-bg;
}

/* Big green button */
.bisq-big-green-button {
    -fx-background-color: -bisq-green;
    -fx-text-fill: -fx-light-text-color;
    -fx-padding: 17;
    -fx-font-size: 1.54em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-cursor: hand;
}

.bisq-big-green-button:hover {
    -fx-background-color: -bisq-green;
}

/* Big white button */
.bisq-big-white-button {
    -fx-background-color: -bisq-white;
    -fx-text-fill: -bisq-black;
    -fx-padding: 17;
    -fx-font-size: 1.54em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-effect: dropshadow(gaussian, -bisq-green, 0, 0, 0, 2);
    -fx-cursor: hand;
}

.bisq-big-white-button:hover {
    -fx-background-color: -bisq-grey-11;
}

/* Big transparent button */
.bisq-transparent-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-padding: 6 14;
}

.bisq-transparent-button:hover {
    -fx-background-color: rgba(255, 255, 255, .04);
}

.bisq-transparent-button:disabled {
    -fx-text-fill: derive(-bisq-grey-9, -50%);
}

.bisq-text-button {
    -fx-background-color: transparent;
    -fx-text-fill: -bisq-white;
    -fx-underline: true;
    -fx-cursor: hand;
    -fx-padding: 0;
}

.bisq-text-button:hover {
    -fx-background-color: transparent;
    -fx-text-fill: -bisq-green;
}

.bisq-text-button:disabled {
    -fx-background-color: transparent;
    -fx-text-fill: -bisq-grey-9;
}

/* Bisq other buttons */
.bisq-button-1 {
    -fx-font-family: "IBM Plex Sans";
    -fx-font-size: 1.46em;
    -fx-background-color: -bisq-grey-3;
    -fx-text-fill: -bisq-white;
    -fx-cursor: hand;
}

.bisq-button-1:hover {
    -fx-background-color: -bisq-grey-18;
}

.bisq-button-1:selected {
    -fx-background-color: -bisq-green;
}

.bisq-button-1:selected:hover {
    -fx-background-color: -bisq-green;
}

/*******************************************************************************
 *                                                                             *
 * ComboBox                                                                  *
 *                                                                             *
 ******************************************************************************/

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background-color: transparent;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover,
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background-color: -bisq-grey-16;
    -fx-background: transparent;
}

.combo-box-base,
.combo-box-base:editable > .arrow-button {
    -fx-background-color: transparent;
}

.combo-box-base:editable > .arrow {
    -fx-background-color: transparent;
}


/*******************************************************************************
 *                                                                             *
 * ToolTip                                                                  *
 *                                                                             *
 ******************************************************************************/

.tooltip {
    -fx-background: -bisq-grey-11;
    -fx-text-fill: black;
    -fx-background-color: -bisq-grey-11;
    -fx-background-radius: 6px;
    -fx-background-insets: 0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0.0, 0, 3);
    -fx-font-size: 1em;
    -fx-show-delay: 300ms;
}

/*******************************************************************************
 *                                                                             *
 * ProgressBar                                                                  *
 *                                                                             *
 ******************************************************************************/

.progress-bar {
    -fx-indeterminate-bar-animation-time: 1;
}

.progress-bar > .track {
    -fx-background-color: -bisq-grey-21;
}

.progress-bar > .bar,
.progress-bar:indeterminate > .bar {
    -fx-background-color: -bisq-green;
    -fx-padding: 1.5;
}

.progress-bar > .track,
.progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}


/*******************************************************************************
 *                                                                             *
 * Badge                                                                  *
 *                                                                             *
 ******************************************************************************/

.bisq-badge {
    -fx-padding: 0 20 0 0;

}

.bisq-badge .badge-pane {
    -fx-background-color: -bisq-grey-6;
    -fx-background-radius: 15;
    /*   -fx-pref-width: 15;*/
    -fx-pref-height: 15;
}

.bisq-badge .badge-label {
    -fx-font-size: 0.85em;
    -fx-text-fill: -bisq-white;

}

/*******************************************************************************
 *                                                                             *
 * BisqToggleButton                                                                *
 *                                                                             *
 ******************************************************************************/

.bisq-toggle-button,
.bisq-toggle-button:armed,
.bisq-toggle-button:hover,
.bisq-toggle-button:focused,
.bisq-toggle-button:selected,
.bisq-toggle-button:focused:selected {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;

    -bisq-toggle-color: -bisq-green;
    -bisq-untoggle-color: -bisq-white;
    -bisq-toggle-line-color: derive(-bisq-toggle-color, 65%);
    -bisq-untoggle-line-color: -bisq-grey-9;
    -bisq-size: 8;
}

.bisq-toggle-button Line {
    -fx-stroke: -bisq-untoggle-line-color;
}

.bisq-toggle-button:selected Line {
    -fx-stroke: -bisq-toggle-line-color;
}

.bisq-toggle-button Circle {
    -fx-fill: -bisq-untoggle-color;
}

.bisq-toggle-button:selected Circle {
    -fx-fill: -bisq-toggle-color;
}

/*******************************************************************************
 *                                                                             *
 * Popup                                                                  *
 *                                                                             *
 ******************************************************************************/

.bisq-popup {
    -fx-background-color: -bisq-grey-2;
}


/*******************************************************************************
 *                                                                             *
 * Popup menu                                                                 *
 *                                                                             *
 ******************************************************************************/

.bisq-popup-menu {
    -fx-padding: 15 0 15 0;
}

.bisq-popup-menu-item {
    -fx-background-color: -bisq-grey-2;
    -fx-text-fill: -fx-light-text-color;
    -fx-alignment: center-left;
    -fx-padding: 8 14 8 14;
}


/*******************************************************************************
 * List based                                                                  *
 ******************************************************************************/

/*******************************************************************************
 *                                                                             *
 * ListView                                                                    *
 *                                                                             *
 ******************************************************************************/

.list-view {
    -fx-background: transparent;
    -fx-background-color: -bisq-bg-dark;
    -fx-border-width: 0;
    -fx-border-insets: 0 0 0 0;
    -fx-padding: 0 0 0 0;
    -fx-background-insets: 0 0 0 0;
}

.list-view .list-cell {
    -fx-background-color: -bisq-bg-dark;
    -fx-font-size: 1.05em;
    -fx-padding: 0 0 0 22;
    -fx-background-insets: 0;
}

.list-view .list-cell:selected {
    -fx-background-color: -bisq-bg-darker;
}

.list-view .list-cell .label {
    -fx-text-fill: -fx-mid-text-color;
}

.list-view .list-cell:selected .label {
    -fx-text-fill: -bisq-white;
}

/*******************************************************************************
 *                                                                             *
 * Channel selection                                                           *
 *                                                                             *
 ******************************************************************************/
.list-view.channel-selection-list-view {
    -fx-background-color: transparent;
}

.list-view.channel-selection-list-view .list-cell {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-font-size: 0.92em;
}

.list-view.channel-selection-list-view .list-cell:selected {
    -fx-background-color: -bisq-green;
}

/*******************************************************************************
 *                                                                             *
 * Chat messages list                                                           *
 *                                                                             *
 ******************************************************************************/

.list-view.chat-messages-list-view {
    -fx-background-color: transparent;
    -fx-border-color: -bisq-grey-7;
    -fx-border-width: 1 0 0 0;
}

.list-view.chat-messages-list-view .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 13 0 13 0;
    -fx-border-color: -bisq-grey-7;
    -fx-border-width: 0 0 1 0;
    -fx-font-size: 1em;
}

.list-view.chat-messages-list-view .list-cell:empty {
    -fx-border-width: 0;
}

/*******************************************************************************
 *                                                                             *
 * Misc list based                                                             *
 *                                                                             *
 ******************************************************************************/

.list-view:focused,
.tree-view:focused,
.table-view:focused,
.tree-table-view:focused,
.table-view:focused,
tree-table-view:focused {
    -fx-background-insets: 0;
    -fx-border-color: -bisq-bg-dark;
}

/* Selected rows */
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell .tree-table-cell:selected {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}


/*******************************************************************************
 *                                                                             *
 * TableView                                                                   *
 *                                                                             *
 ******************************************************************************/

.table-view {
    -fx-background-color: -bisq-content-bg;
    -fx-border-width: 0;
    -fx-font-size: 1em;
}

/* horizontal scrollbars are never needed and are flickering at scaling so lets turn them off */
.table-view > .scroll-bar:horizontal {
    -fx-opacity: 0;
}

/* column-header */
.table-view .column-header {
    -fx-background-color: -bisq-content-bg;
    -fx-pref-height: 54px;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-alignment: center;
    -fx-text-fill: -bisq-grey-9;
    -fx-font-size: 0.9em;
    -fx-label-padding: 0 10 0 10;
}

/* first */
.table-view .column-header.first .label {
    -fx-alignment: center-left;
}

.table-view .table-cell.first {
    -fx-alignment: center-left;
}

/* last */
.table-view .column-header.last .label {
    -fx-alignment: center-right;
}

.table-view .table-cell.last {
    -fx-alignment: center-right;
}

/* table-cell */
.table-view .table-cell {
    -fx-alignment: center;
    -fx-padding: 0 10 0 10;
}

/* row-cell */
.table-row-cell {
    -fx-border-width: 1 0 0 0;
    -fx-pref-height: 54px;
    -fx-border-color: -bisq-bg-dark;
}

.table-view .table-row-cell .table-cell {
    -fx-border-color: transparent;
}

.table-view .table-row-cell .table-cell .text {
    -fx-fill: -bisq-white;
}

/* empty */
.table-row-cell:empty {
    -fx-border-width: 0;
}

/* even */
.table-view .table-row-cell:even .table-cell {
    -fx-background-color: -bisq-content-bg;
}

/* odd */
.table-view .table-row-cell:odd .table-cell {
    -fx-background-color: -bisq-grey-19; /* design has 2 dif. greys on diff. screens -bisq-grey-19; -bisq-grey-17 */
}

/* disabled */
.table-view .table-row-cell:disabled .table-cell .text {
    -fx-fill: -bisq-grey-20;
}


/* selected */
.table-row-cell:selected {
    -fx-fill: -bisq-white;
}

.table-view .table-row-cell:hover .table-cell,
.table-view .table-row-cell:selected .table-cell {
    -fx-background-color: -bisq-bg-darker;
    -fx-border-color: transparent;
}

/* button */
.table-view .table-row-cell:selected .button .text {
    -fx-fill: -bisq-white;
}

/* copy-icon */
.table-view .table-row-cell .copy-icon .text,
.table-view .table-row-cell .copy-icon .text:hover {
    -fx-fill: -bisq-white;
}

.table-view .table-row-cell:selected .copy-icon .text {
    -fx-fill: -bisq-white;
}

.table-view .table-row-cell:selected .copy-icon .text:hover {
    -fx-fill: -bisq-white;
}

/* hyperlink */
.table-view .table-row-cell:selected .hyperlink .text {
    -fx-fill: -bisq-white;
    -fx-border-style: none;
    -fx-border-width: 0px;
}

.table-view .table-row-cell .hyperlink .text {
    -fx-border-style: none;
    -fx-border-width: 0px;
}

.table-view .table-row-cell .hyperlink .text:hover,
.table-view .table-row-cell:selected .hyperlink .text:hover {
    -fx-fill: -bisq-white;
    -fx-border-style: none;
    -fx-border-width: 0px;
}

.table-view .table-row-cell .hyperlink:hover,
.table-view .table-row-cell .hyperlink:visited,
.table-view .table-row-cell .hyperlink:hover:visited {
    -fx-underline: false;
    -fx-border-style: none;
    -fx-border-width: 0px;
}

.table-view .table-row-cell .hyperlink:focused {
    -fx-border-style: none;
    -fx-border-width: 0px;
}


/*******************************************************************************
 * Containers                                            *
 ******************************************************************************/

/*******************************************************************************
 *                                                                             *
 * TitledPane                                                                  *
 *                                                                             *
 ******************************************************************************/

.titled-pane {
    -fx-background-color: null;
    -fx-text-fill: -bisq-white;
    -fx-label-padding: -30 0 0 0;
}

.titled-pane:focused {
}

.titled-pane > .title {
    -fx-background-color: null;
    -fx-border-color: null;
    -fx-font-size: 1.25em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-pref-height: 50;
}

.titled-pane:focused > .title > .arrow-button > .arrow {
}

.titled-pane > .title > .arrow-button {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.583em 0.0em 0.0em; /* 0 7 0 0 */
}

.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: -bisq-white;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane > .title:hover {
    -fx-color: -fx-hover-base;
}

.titled-pane > *.content {
    -fx-padding: 0 0 -10 0;
}

.titled-pane > .content > .scroll-pane > .scroll-bar {
}


/*******************************************************************************
 *                                                                             *
 * Accordion                                                               *
 *                                                                             *
 ******************************************************************************/

.accordion > .titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: -bisq-grey-9;
    -fx-background-insets: -1, 0;
}


.accordion > .titled-pane > .title {
    -fx-background-color: -bisq-content-bg;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3 3 0 0, 2 2 0 0, 1 1 0 0;
    -fx-padding: 0.3333em 0.75em 0.3333em 0.75em; /* 4 9 4 9 */
}

.accordion > .titled-pane > .title {
    -fx-font-size: 1em;
}

.accordion > .titled-pane {
    -fx-text-fill: -bisq-grey-9;
}


/*******************************************************************************
 *                                                                             *
 * SplitPane                                                                   *
 *                                                                             *
 ******************************************************************************/

.split-pane > .split-pane-divider {
    -fx-padding: 0 0.15em 0 0.15em; /* 0 3 0 3 */
}

/* horizontal the two nodes are placed to the left/right of each other. */
.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: -bisq-bg-dark;
    -fx-padding: 0;
    -fx-background-insets: 0, 0 1 0 1;
}

/* vertical the two nodes are placed on top of each other. */
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: -fx-box-border, -fx-inner-border;
    -fx-background-insets: 0, 1 0 1 0;
}

/*******************************************************************************
 *                                                                             *
 * ScrollPane                                                             *
 *                                                                             *
 ******************************************************************************/

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: -bisq-grey-5;
}

.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: -bisq-grey-5;
}

.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
    -fx-background-color: transparent;
}


/*******************************************************************************
 *                                                                             *
 * Grid pane                                                                   *
 *                                                                             *
 ******************************************************************************/
.grid-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-effect: null;
    -fx-background-insets: 10;
}


/*******************************************************************************
 *                                                                             *
 * Custom Container based                                                                   *
 *                                                                             *
 ******************************************************************************/

.bisq-box-1 {
    -fx-background-color: -bisq-bg-dark;
    -fx-background-radius: 5;
}

.bisq-box-2 {
    -fx-background-color: -bisq-grey-2;
    -fx-background-radius: 8;
}

.bisq-darkest-bg {
    -fx-background-color: -bisq-bg-dark;
}

.bisq-dark-bg {
    -fx-background-color: -bisq-grey-2;
}

.bisq-mid-grey {
    -fx-background-color: -bisq-grey-20;
}

.bisq-green-line {
    -fx-background-color: -bisq-green;
}

.bisq-white-bg {
    -fx-background-color: -bisq-white;
}

.bisq-content-bg {
    -fx-background-color: -bisq-content-bg;
}


/*******************************************************************************
 *                                                                             *
 * Controlsfx Popover                                                                  *
 *                                                                             *
 ******************************************************************************/


.popover {
    -fx-background-color: transparent;
}

.popover > .border {
    -fx-stroke: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .7));
    -fx-stroke-width: 0.5;
    -fx-fill: rgba(255.0, 255.0, 255.0, .95);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .2), 10.0, 0.5, 2.0, 2.0);
}

.popover > .content {
    -fx-padding: 10;
}

.popover > .detached {
}

.popover > .content .default-text {
    -fx-text-fill: -bisq-white;
}

.popover > .content > .title > .text {
    -fx-padding: 6.0 6.0 0.0 6.0;
    -fx-text-fill: rgba(120, 120, 120, .8);
    -fx-font-weight: bold;
}

.popover > .content > .title > .icon {
    -fx-padding: 6.0 0.0 0.0 10.0;
}

.popover > .content > .title > .icon > .graphics > .circle {
    -fx-fill: gray;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, .2), 3, 0.5, 1.0, 1.0);
}

.popover > .content > .title > .icon > .graphics > .line {
    -fx-stroke: white;
    -fx-stroke-width: 2;
}

.popover > .border {
    /* -fx-stroke: linear-gradient(to bottom, -bisq-white-transparent, -bisq-white-transparent-dark) !important;*/
    -fx-fill: transparent;
}


/*******************************************************************************
 * Bisq domain specific                                                   *
 ******************************************************************************/


/*******************************************************************************
 *                                                                             *
 * Trade domain                                                                   *
 *                                                                             *
 ******************************************************************************/

.bisq-amount-input-code-label {
    -fx-text-fill: -bisq-grey-9;
    -fx-font-size: 0.9em;
    -fx-font-family: "IBM Plex Sans Light";
}

.table-view.trade-overview-table-view .column-header {
    -fx-pref-height: 68px;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: -bisq-bg-dark;
}

.table-view.trade-overview-table-view .column-header .label {
    -fx-font-weight: normal;
}

.table-view.trade-overview-table-view .table-row-cell {
    -fx-pref-height: 68px;
    -fx-border-width: 0 0 0 0;
    -fx-font-size: 1.08em;
}

.table-view.trade-overview-table-view .table-row-cell .table-cell {
    -fx-background-color: -bisq-content-bg;
}

.table-view.trade-overview-table-view .button {
    -fx-padding: 6 20 6 20;
}


/*******************************************************************************
 *                                                                             *
 * PaymentMethod domain                                                                *
 *                                                                             *
 ******************************************************************************/

.payment-methods-icon-button-bg {
    -fx-background-color: #eee;
    -fx-background-radius: 7;
}

.payment-methods-label {
    -fx-text-fill: #222;
    -fx-padding: 5 4 5 10
}


/*******************************************************************************
 *                                                                             *
 * Chat domain                                                               *
 *                                                                             *
 ******************************************************************************/


.keyword-customTags {
    -fx-fill: -bisq-green;
}

.keyword-none {
    -fx-fill: -fx-light-text-color;
}

.channel-settings-headline {
    -fx-font-size: 1.692em;
    -fx-text-fill: -bisq-grey-5;
}

.market-fiat-label {
    -fx-font-size: 7;
    -fx-text-fill: -bisq-black;
    -fx-font-family: "IBM Plex Sans";
}

.market-crypto-label {
    -fx-font-size: 7;
    -fx-text-fill: -bisq-white;
    -fx-font-family: "IBM Plex Sans";
}

.close-sidebar-button {
    -fx-background-color: -bisq-grey-13;
    -fx-text-fill: -bisq-grey-17;
}

#chat-filter-box {
    -fx-border-color: -bisq-grey-7;
    -fx-border-width: 0 0 1 0;
    -fx-border-insets: 0 0 -1 0;
}

#chat-input-field {
    -fx-background-color: -bisq-grey-19;
    -fx-background-radius: 8;
    -fx-border-color: -bisq-grey-19;
    -fx-border-width: 1;
    -fx-border-radius: 8;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: -bisq-white;
    -fx-prompt-text-fill: -bisq-grey-9;
    -fx-font-size: 1.38em;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 4;
    -fx-font-family: "IBM Plex Sans";
}

#chat-messages-edit-text-area.text-area {
    -fx-padding: 0;
    -fx-text-fill: -bisq-white;
    -fx-font-size: 1.23em;
    -fx-font-family: "IBM Plex Sans Medium";
}

#chat-messages-edit-text-area.text-area .content {
    -fx-padding: 0;
}

#chat-messages-edit-text-area.text-area:focused .content {
    -fx-background-color: transparent;
}

#chat-messages-send-button {
    -fx-background-color: -bisq-white;
    -fx-background-radius: 3;
    -fx-text-fill: -bisq-green;
}

#chat-messages-headline {
    -fx-text-fill: -bisq-white;
    -fx-font-size: 1.53em;
    -fx-font-family: "IBM Plex Sans Medium";
}

#chat-messages-date {
    -fx-text-fill: -bisq-grey-9;
    -fx-font-size: 0.92em;
}

#chat-messages-message {
    -fx-fill: -bisq-white;
    -fx-font-size: 1.33em;
    -fx-min-height: 36;
    -fx-font-family: "IBM Plex Sans";
}

#chat-sidebar-headline {
    -fx-text-fill: -bisq-white;
    -fx-font-size: 1.78em;
    -fx-font-family: "IBM Plex Sans Light";
}

#chat-sidebar-text {
    -fx-text-fill: -bisq-white;
    -fx-fill: -bisq-white;
    -fx-font-size: 1.05em;
    -fx-font-family: "IBM Plex Sans Light";
}

.chat-offer-box {
    -fx-background-color: -bisq-grey-5;
    -fx-background-radius: 8;
    -fx-padding: 15;
}

#buy-button {
    -fx-background-color: -bisq-buy;
    -fx-text-fill: -bisq-white;
    -fx-background-insets: 0 0 0 0;
}

#sell-button {
    -fx-background-color: -bisq-sell;
    -fx-text-fill: -bisq-white;
    -fx-background-insets: 0 0 0 0;
}

#button-inactive {
    -fx-background-color: -bisq-grey-5;
    -fx-text-fill: -bisq-white;
    -fx-background-insets: 0 0 0 0;
}

#bisq-combo-box-list-view {
    -fx-background-color: -bisq-grey-16;
    -fx-border-color: -bisq-bg-dark;;
    -fx-border-width: 1;
    -fx-border-insets: 0 0 0 0;
    -fx-padding: 0 0 0 0;
    -fx-background-insets: 0 0 0 0;
}

#bisq-combo-box-list-view .list-cell:odd, #bisq-combo-box-list-view .list-cell:even {
    -fx-background-color: -bisq-bg-dark;
    -fx-font-size: 1.05em;
    -fx-padding: 0 0 0 22;
    -fx-background-insets: 0 0 1 0;
    -fx-pref-height: 40px;
    -fx-text-fill: -bisq-white;
}


#bisq-combo-box-list-view .list-cell:selected {
    -fx-background-color: -bisq-grey-16;
}


#chat-user-name {
    -fx-text-fill: -bisq-white;
    -fx-font-size: 0.92em;
    -fx-font-family: "IBM Plex Sans Medium";
    -fx-cursor: hand;
}

#chat-message-reactions-separator {
    -fx-text-fill: -bisq-grey-5;
    -fx-font-weight: bold;
}

#proof-of-burn-tooltip {
    -fx-background: -bisq-grey-5;
    -fx-text-fill: -bisq-white;
    -fx-background-color: -bisq-grey-5;
    -fx-background-radius: 6px;
    -fx-background-insets: 0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    /* -fx-effect: dropshadow(three-pass-box, -bisq-white-transparent, 10, 0, 0, 3);*/
    -fx-font-size: 0.85em;
}

.chat-mention-popup-menu {
    -fx-min-width: 300;
}

.chat-mention-popup-menu-item {
    -fx-background-color: -bisq-grey-2;
    -fx-text-fill: -fx-light-text-color;
    -fx-alignment: center-left;
    -fx-padding: 8 14 8 14;
}

#user-name-label {
    -fx-text-fill: -bisq-grey-9;
    -fx-font-size: 1.4em;
    -fx-font-family: "IBM Plex Sans";
}

#icon-label-grey {
    -fx-text-fill: grey;
}

#bisq-easy-onboarding-headline-label {
    -fx-font-size: 2.15em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -fx-light-text-color;
}

#bisq-easy-onboarding-label {
    -fx-font-size: 1.05em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -fx-light-text-color;
}

#bisq-easy-next-button {
    -fx-background-color: transparent;
    -fx-background-radius: 3;
    -fx-border-color: -bisq-grey-22;
    -fx-border-width: 0.75;
    -fx-border-radius: 2.5;
    -fx-text-fill: -bisq-white;
}

#bisq-easy-skip-button {
    -fx-background-color: transparent;
    -fx-text-fill: -bisq-grey-9;
}
