
.root {
    /* COLORS applied to moderna */
    -fx-base: -bisq-grey-4;
    -fx-accent: -bisq-green;

    -fx-dark-text-color: black;
    -fx-mid-text-color: -bisq-grey-9;
    -fx-light-text-color: white;

    /* Colors */
    -bisq-green: #25b135;
    -bisq-dark-green: #2ea33c;

    /* Greys */
    -bisq-grey-1: #212121;
    -bisq-grey-2: #1D1D1D;
    -bisq-grey-3: #1D1D1D;
    -bisq-grey-4: #262626;
    -bisq-grey-5: #333333;
    -bisq-grey-6: #474748;
    -bisq-grey-7: #4D4D4D;
    -bisq-grey-8: #545454;
    -bisq-grey-9: #828282;
    -bisq-grey-10: #a9a9a9;
    -bisq-grey-11: #C9C9C9;
    -bisq-grey-12: #2E2E2E;
    -bisq-grey-13: #6A6A6A;

    /* Background colors */
    -bisq-background-color-darkest: -bisq-grey-2;
    -bisq-background-color-dark: -bisq-grey-1;
    -bisq-background-color-gray: -bisq-grey-5;

    /* Border colors */
    -bisq-border-color-grey: -bisq-grey-7;
    -bisq-border-color-grey-hover: -bisq-grey-11;

    /* Text colors */
    -bisq-text-color-white: white;
    -bisq-text-color-2: -bisq-grey-4;
}

/* Text */
.bisq-text-headline-1 {
    -fx-fill: -bisq-text-color-white;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 2em;
}

.bisq-text-1 {
    -fx-fill: -bisq-text-color-white;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1em;
}


/*.robo-hash-user-name-label{
    -fx-text-fill: -bisq-text-color-white;
   !* -fx-font-family: "IBM Plex Sans Light";*!
    -fx-font-size: 1.2em;
    -fx-fill: red;
    
}*/

/* Label */
.bisq-headline-1-label {
    -fx-text-fill: -bisq-text-color-white;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 2.51em; 
}

.bisq-sub-title-label {
    -fx-text-fill: -bisq-text-color-white;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-font-size: 1.44em; 
}

.bisq-large-profile-id-label {
    -fx-background-color: -bisq-grey-6;
    -fx-text-fill: white;
    -fx-font-size: 1em;
}

.bisq-label-1 {
    -fx-font-size: 0.89em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -fx-light-text-color;
}

.bisq-label-1-dimmed {
    -fx-font-size: 0.89em;
    -fx-font-family: "IBM Plex Sans Light";
    -fx-text-fill: -bisq-grey-13;
}


/* TextInputBox */
.bisq-input-box-top-pane {
    -fx-background-color: #2E2E2E;
    -fx-background-radius: 4;
}

.bisq-input-box-top-label {
    -fx-text-fill: #737373;
    -fx-font-family: "IBM Plex Sans";
    -fx-font-size: 0.89em;
}

.bisq-input-box-prompt-label {
    -fx-text-fill: #4E4E4E;
    -fx-font-family: "IBM Plex Sans";
    -fx-font-size: 1.15em;
}

.bisq-input-box-text-input {
    -fx-faint-focus-color: transparent;
    -fx-font-family: "IBM Plex Sans";
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 1.15em;
}


/* Button */

/* Dark grey button with light grey border */
.bisq-button-1 {
    -fx-background-color: -bisq-background-color-dark;
    -fx-background-radius: 2.5;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans";
    -fx-font-size: 1em;
    -fx-border-color: -bisq-border-color-grey;
    -fx-border-width: 0.75;
    -fx-border-radius: 2.5;
    -fx-padding: 5 33 5 33;
    -fx-cursor: hand;
}

.bisq-button-1:hover {
    -fx-border-color: -bisq-border-color-grey-hover;
    -fx-background-color: -bisq-background-color-gray;
}

.bisq-button-2 {
    -fx-background-color: -bisq-dark-green;
    -fx-background-radius: 2.5;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: "IBM Plex Sans";
    -fx-font-size: 1em;
    -fx-border-style: none;
    -fx-padding: 5 33 5 33;
    -fx-cursor: hand;
}

.bisq-button-2:hover {
    -fx-background-color: -bisq-green;
}

.bisq-button-2:disabled {
    -fx-background-color: -bisq-grey-12;
}


/* Containers */
.bisq-box-1 {
    -fx-background-color: -bisq-grey-1;
    -fx-background-radius: 5;
}

.bisq-grey-dimmed {
    -fx-text-fill: -bisq-grey-13;
}

.content-pane {
    -fx-background-color: -bisq-background-color-dark;
}

.accordion > .titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: -bisq-grey-9;
    -fx-background-insets: -1, 0;
}

.titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-background-color: -bisq-grey-9;
    -fx-background-insets: -1, 0;
}

.accordion > .titled-pane > .title {
    -fx-background-color: -fx-base;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3 3 0 0, 2 2 0 0, 1 1 0 0;
    -fx-padding: 0.3333em 0.75em 0.3333em 0.75em; /* 4 9 4 9 */
}

.accordion > .titled-pane > .title {
    -fx-font-size: 1em;
}

.accordion > .titled-pane {
    -fx-text-fill: -bisq-grey-9;
}

.accordion > .titled-pane > .
.jfx-button, .action-button {
    -fx-background-color: -bisq-grey-5;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 0.923em;
    -fx-font-weight: normal;
    -fx-background-radius: 2px;
    -fx-pref-height: 32;
    -fx-min-height: -fx-pref-height;
    -fx-padding: 0 40 0 40;
    -fx-cursor: hand;
}

.jfx-button:hover, .jfx-button:focused {
    -fx-background-color: derive(-bisq-grey-5, -10%);
}

/*
New css for bisq2.
*/

/*******************************************************************************
 *                                                                             *
 * TitledPane                                                                  *
 *                                                                             *
 ******************************************************************************/
/*

.titled-pane {
    -fx-text-fill: -fx-accent;
}

.titled-pane:focused {
    -fx-color: -fx-base;
}

.titled-pane > .title {
    !*  -fx-background-color:
              linear-gradient(to bottom,
              derive(-fx-color,-15%) 95%,
              derive(-fx-color,-25%) 100%
              ),
              -fx-inner-border, -fx-body-color;*!
    -fx-background-color: -fx-base;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 2;
    -fx-font-size: 1.5em;
    -fx-padding: 0.3333em 0.75em 0.75em 0.75em; !* 4 9 4 9 *!
    !* -fx-padding: 0.3333em 0.75em 0.3333em 0.75em;  *!
}

!* alternative focus using the ring around the entire title area *!
!*.titled-pane:focused > .title {
    -fx-background-color: -fx-faint-focus-color, -fx-focus-color, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 0.7, 2, 3;
}*!
!* focus purely on the arrow *!
.titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-background-color: -bs-color-primary;
    -fx-background-insets: -1, 0;
    !* -fx-effect: dropshadow(two-pass-box , -fx-focus-color, 5, 0.2 , 0, 0);*!
}

.titled-pane > .title > .arrow-button {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.583em 0.0em 0.0em; !* 0 7 0 0 *!
}

.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: -bs-color-primary;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; !* 3 3.75 3 3.75 *!
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane > .title:hover {
    -fx-color: -fx-hover-base;
}

!* alternative content using a border and a grad to transparent background - why should TitledPane content have a colour? *!
.titled-pane > *.content {
    -fx-border-color: -fx-box-border;
    -fx-border-insets: -1 0 0 0;
    -fx-background-color: -fx-background;
}
*/


/*******************************************************************************
 *                                                                             *
 * SplitPane                                                                   *
 *                                                                             *
 ******************************************************************************/

.split-pane > .split-pane-divider {
    -fx-padding: 0 0.15em 0 0.15em; /* 0 3 0 3 */
}

/* horizontal the two nodes are placed to the left/right of each other. */
.split-pane:horizontal > .split-pane-divider {
    /*-fx-background-color: -fx-box-border, -fx-inner-border-horizontal;*/
    -fx-background-color: -bisq-grey-1;
    /* -fx-background-color: -bisq-grey-2;*/

    -fx-background-insets: 0, 0 1 0 1;
}

/* vertical the two nodes are placed on top of each other. */
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: -fx-box-border, -fx-inner-border;
    -fx-background-insets: 0, 1 0 1 0;
}


.navigation-button {
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-padding: 11;
}

.navigation-button .text {
    -fx-font-size: 1.8em;
    -fx-fill: -bs-rd-nav-deselected;
}

.navigation-button:selected {
    -fx-background-color: -bs-background-color;
    -fx-border-radius: 4;
    -fx-effect: dropshadow(gaussian, -bs-text-color-transparent, 4, 0, 0, 0, 2);
}

.navigation-button:selected .text {
    -fx-fill: -bs-rd-nav-selected;
}

.accent-headline {
    -fx-font-size: 1.1em;
    -fx-text-fill: -bs-color-green-5;
}

.channel-settings-headline {
    -fx-font-size: 1.692em;
    -fx-text-fill: -bs-color-green-5;
}


#chat-user-name {
    -fx-text-fill: -bs-color-green-5;
    -fx-font-size: 1.0em;
    -fx-cursor: hand;
}

#chat-message-reactions-separator {
    -fx-text-fill: -bs-color-gray-dim;
    -fx-font-weight: bold;
}

#chat-quoted-message-top-pane {
    -fx-background-color: -bs-color-gray-5;
}

#proof-of-burn-tooltip {
    -fx-background: -bs-color-gray-fafa;
    -fx-text-fill: -bs-text-color;
    -fx-background-color: -bs-color-gray-fafa;
    -fx-background-radius: 6px;
    -fx-background-insets: 0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    -fx-effect: dropshadow(three-pass-box, -bs-text-color-transparent, 10, 0, 0, 3);
    -fx-font-size: 0.85em;
}

#small-info-label {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 0.85em;
}

.keyword-tradeTags {
    -fx-fill: -bs-buy-hover;
}

.keyword-btc {
    -fx-fill: -bs-buy-hover;
}

.keyword-amountTag {
    -fx-fill: -bs-buy-hover;
}

.keyword-currencyTags {
    -fx-fill: -bs-turquoise;
}

.keyword-paymentMethodTags {
    -fx-fill: -bs-turquoise;
}

.keyword-customTags {
    -fx-fill: -bs-yellow;
}

.keyword-none {
    -fx-fill: -fx-light-text-color;
}

/*
.jfx-badge .badge-pane {
    -fx-background-color: -bs-red;
    -fx-background-radius: 15;
    -fx-pref-width: 15;
    -fx-pref-height: 15;
}

.jfx-badge.new .badge-pane {
    -fx-pref-width: 30;
}

.jfx-badge.auto-conf .badge-pane {
    -fx-background-color: -xmr-orange;
    -fx-pref-width: -1;
    -fx-padding: -1 10 0 10;
}

.jfx-badge .badge-pane .label {
    -fx-font-weight: bold;
    -fx-font-size: 0.692em;
    -fx-text-fill: -bs-background-color;
}

.jfx-badge {
    -fx-padding: -3 0 0 0;
}

.jfx-badge > .navigation-button {
    -fx-translate-y: 1;
}
*/

