/* splash screen */
/*noinspection CssUnknownTarget*/

/* used in bisq2.*/

#tor {
    -fx-image: url("images/tor.png");
}

#i2p {
    -fx-image: url("images/i2p.png");
}

#satoshisquare-splash {
    -fx-image: url("images/satoshisquare_splash.png");
}

#logo-splash {
    -fx-image: url("images/logo-splash.png");
}


#logo-grey {
    -fx-image: url("images/logo_grey.png");
}

#logo-mark-grey {
    -fx-image: url("images/logo_mark_grey.png");
}

#arrow-down {
    -fx-image: url("images/arrow-down.png");
}

#cross {
    -fx-image: url("images/cross.png");
}

#equals {
    -fx-image: url("images/equals.png");
}

#light_close {
    -fx-image: url("images/light_close.png");
}

#chat-trust {
    -fx-image: url("images/trust.png");
}

#image-buy-white {
    -fx-image: url("images/buy_white.png");
}

#image-sell-white {
    -fx-image: url("images/sell_white.png");
}


/*Left nav*/
#home {
    -fx-image: url("images/navigation/home.png");
}

#buy {
    -fx-image: url("images/navigation/buy.png");
}

#sell {
    -fx-image: url("images/navigation/sell.png");
}

#market {
    -fx-image: url("images/navigation/market.png");
}

#portfolio {
    -fx-image: url("images/navigation/portfolio.png");
}

#wallet {
    -fx-image: url("images/navigation/btc.png");
}

#support {
    -fx-image: url("images/navigation/support.png");
}

#settings {
    -fx-image: url("images/navigation/settings.png");
}

#accounts {
    -fx-image: url("images/navigation/accounts.png");
}

#governance {
    -fx-image: url("images/navigation/governance.png");
}
