/* splash screen */
/*noinspection CssUnknownTarget*/

/* used in bisq2.*/

#tor {
    -fx-image: url("images/tor.png");
}

#i2p {
    -fx-image: url("images/i2p.png");
}

#satoshisquare-splash {
    -fx-image: url("images/satoshisquare_splash.png");
}

#logo-splash {
    -fx-image: url("images/logo-splash.png");
}


#logo-grey {
    -fx-image: url("images/logo_grey.png");
}

#logo-mark-grey {
    -fx-image: url("images/logo_mark_grey.png");
}

#arrow-down {
    -fx-image: url("images/arrow-down.png");
}

#close {
    -fx-image: url("images/close.png");
}

#cross {
    -fx-image: url("images/cross.png");
}

#equals {
    -fx-image: url("images/equals.png");
}

#light_close {
    -fx-image: url("images/light_close.png");
}

#chat-trust {
    -fx-image: url("images/trust.png");
}

#image-buy-white {
    -fx-image: url("images/buy_white.png");
}

#image-sell-white {
    -fx-image: url("images/sell_white.png");
}


/*Left nav*/
#nav-chat {
    -fx-image: url("images/navigation/nav-chat.png");
}

#nav-chat-active {
    -fx-image: url("images/navigation/nav-chat-active.png");
}

#nav-chat-hover {
    -fx-image: url("images/navigation/nav-chat-hover.png");
}

#nav-community {
    -fx-image: url("images/navigation/nav-community.png");
}

#nav-community-active {
    -fx-image: url("images/navigation/nav-community-active.png");
}

#nav-community-hover {
    -fx-image: url("images/navigation/nav-community-hover.png");
}

#nav-events {
    -fx-image: url("images/navigation/nav-events.png");
}

#nav-events-active {
    -fx-image: url("images/navigation/nav-events-active.png");
}

#nav-events-hover {
    -fx-image: url("images/navigation/nav-events-hover.png");
}

#nav-learn {
    -fx-image: url("images/navigation/nav-learn.png");
}

#nav-learn-active {
    -fx-image: url("images/navigation/nav-learn-active.png");
}

#nav-learn-hover {
    -fx-image: url("images/navigation/nav-learn-hover.png");
}

#nav-markets {
    -fx-image: url("images/navigation/nav-markets.png");
}

#nav-markets-active {
    -fx-image: url("images/navigation/nav-markets-active.png");
}

#nav-markets-hover {
    -fx-image: url("images/navigation/nav-markets-hover.png");
}

#nav-settings {
    -fx-image: url("images/navigation/nav-settings.png");
}

#nav-settings-active {
    -fx-image: url("images/navigation/nav-settings-active.png");
}

#nav-settings-hover {
    -fx-image: url("images/navigation/nav-settings-hover.png");
}

#nav-support {
    -fx-image: url("images/navigation/nav-support.png");
}

#nav-support-active {
    -fx-image: url("images/navigation/nav-support-active.png");
}

#nav-support-hover {
    -fx-image: url("images/navigation/nav-support-hover.png");
}

#nav-trade {
    -fx-image: url("images/navigation/nav-trade.png");
}

#nav-trade-active {
    -fx-image: url("images/navigation/nav-trade-active.png");
}

#nav-trade-hover {
    -fx-image: url("images/navigation/nav-trade-hover.png");
}

#nav-wallet {
    -fx-image: url("images/navigation/nav-wallet.png");
}

#nav-wallet-active {
    -fx-image: url("images/navigation/nav-wallet-active.png");
}

#nav-wallet-hover {
    -fx-image: url("images/navigation/nav-wallet-hover.png");
}


/*Left nav collapse / expand*/
#expand {
    -fx-image: url("images/expand.png");
}

#collapse {
    -fx-image: url("images/collapse.png");
}

/*Tabs icons*/
#nav-grid {
    -fx-image: url("images/navigation/nav-grid.png");
}

#nav-grid-active {
    -fx-image: url("images/navigation/nav-grid-active.png");
}

#nav-grid-hover {
    -fx-image: url("images/navigation/nav-grid-hover.png");
}

#nav-list {
    -fx-image: url("images/navigation/nav-list.png");
}

#nav-list-active {
    -fx-image: url("images/navigation/nav-list-active.png");
}

#nav-list-hover {
    -fx-image: url("images/navigation/nav-list-hover.png");
}

/*Dashboard*/
#welcome-community {
    -fx-image: url("images/welcome-community.png");
}

#welcome-profile {
    -fx-image: url("images/welcome-profile.png");
}

/* Protocols */
#protocol-bisq {
    -fx-image: url("images/protocols/protocol-bisq.png");
}

#protocol-bsq {
    -fx-image: url("images/protocols/protocol-bsq.png");
}

#protocol-lightning {
    -fx-image: url("images/protocols/protocol-lightning.png");
}

#protocol-liquid {
    -fx-image: url("images/protocols/protocol-liquid.png");
}

#protocol-monero {
    -fx-image: url("images/protocols/protocol-monero.png");
}

#protocol-satoshi-square {
    -fx-image: url("images/protocols/protocol-satoshi-square.png");
}

#bisq-easy {
    -fx-image: url("images/bisq-easy.png");
}
#bullet-point {
    -fx-image: url("images/bullet-point.png");
}

/* Actions */
#icon-bell {
    -fx-image: url("images/chat/icon-bell.png");
}

#icon-info {
    -fx-image: url("images/chat/icon-info.png");
}

#icon-help {
    -fx-image: url("images/chat/icon-help.png");
}

#icon-search {
    -fx-image: url("images/chat/icon-search.png");
}

#icon-sidebar-close {
    -fx-image: url("images/chat/icon-sidebar-close.png");
}

#chat-send {
    -fx-image: url("images/chat/chat-send.png");
}

/* Markets */
#market-any-base {
    -fx-image: url("images/markets/market-any-base.png");
}

#market-any-quote {
    -fx-image: url("images/markets/market-any-quote.png");
}

#market-bsq {
    -fx-image: url("images/markets/market-bsq.png");
}

#market-btc {
    -fx-image: url("images/markets/market-btc.png");
}

#market-crypto {
    -fx-image: url("images/markets/market-crypto.png");
}

#market-eur {
    -fx-image: url("images/markets/market-eur.png");
}

#market-fiat {
    -fx-image: url("images/markets/market-fiat.png");
}

#market-usd {
    -fx-image: url("images/markets/market-usd.png");
}

#market-xmr {
    -fx-image: url("images/markets/market-xmr.png");
}